src/pug/blog.pug
extends layout

block vars
    -
        var attributes = { 'class': 'white-bg' }
        var page = 'blog'

block content
    .page-wrap.initial-content-margin
        .inner-content
            h1 We share our lessons. Because giving is&nbsp;more blessed and paid than receiving.

            .blog-content
                a(href='blog-design').blog-item
                    .blog-item__top
                        img(src='./img/blog/design-guidelines.png', srcset='./img/blog/design-guidelines@2x.png 2x', alt='').blog-item__main__img

                    h4 Design guidelines
                    .s.brand-gray Internal guide, 5min read, forever in&nbsp;use

                a(href='files/Humbleteam-ux-kit.sketch').blog-item
                    .blog-item__top
                        .blog-item__top__img-text-wrap
                            img(src='./img/blog/sketch-logo.svg', alt='').blog-item__top__img
                            p.brand-gray Sketch bulletproof template focusing on&nbsp;speeding up your prototyping process

                    h4 Wireframes template
                    .s.brand-primary.weight-500 Download .sketch

                //a(href).blog-item
                //    .blog-item__top
                //        img(src='./img/blog/design-process.png', srcset='./img/blog/design-process@2x.png 2x', alt='').blog-item__main__img
                //
                //    h4 Design process in&nbsp;Humbleteam
                //    .s.brand-gray Medium article, 3min read

                a(href='https://medium.com/p/c0b8b9f63150' target='_blank').blog-item
                    .blog-item__top
                        img(src='./img/blog/5-ways-to-make-people.png', srcset='./img/blog/5-ways-to-make-people@2x.png 2x', alt='').blog-item__main__img

                    h4 5 ways to&nbsp;make people like working with&nbsp;you
                    .s.brand-gray Medium article, 3min read

                //a(href).blog-item
                //    .blog-item__top
                //        img(src='./img/blog/stickers.png', srcset='./img/blog/stickers@2x.png 2x', alt='').blog-item__main__img
                //
                //    h4 Get free humble stickers
                //    .s.brand-primary.weight-500 Request

                .blog-item
                    .blog-item__top._with-bottom-padding
                        .blog-item__top__img-text-wrap._type-2
                            .blog-item__top__img-circle
                                img(src='./img/blog/medium.svg', alt='').blog-item__top__img
                            h4 Our Medium heritage

                        .blog-item__top__link-wrap
                            a(href='https://medium.muz.li/0-usability-testing-guide-in-7-steps-a3fc94b4f729' target='_blank').blog-item__top__link $0 usability testing guide in&nbsp;7 steps
                            .s.brand-gray Medium article, 3min read

                        .blog-item__top__link-wrap
                            a(href='https://blog.prototypr.io/why-designers-deserve-more-3c487f42d03a' target='_blank').blog-item__top__link Why design costs $$$
                            .s.brand-gray Medium article, 3min read

build/blog.html
<!DOCTYPE html><html class="white-bg" lang="en"><head><title>Humbleteam — digital agency</title><meta charset="utf-8"/><meta name="description" content="Humbleteam — digital agency"/><meta name="author" content="Humbleteam"/><meta name="viewport" content="width=device-width, initial-scale=1,  maximum-scale=1"/><link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon.png"/><link rel="icon" type="image/png" sizes="32x32" href="img/favicons/favicon-32x32.png"/><link rel="icon" type="image/png" sizes="16x16" href="img/favicons/favicon-16x16.png"/><link rel="manifest" href="/manifest.json"/><meta property="og:title" content="Humbleteam — digital agency"/><meta property="og:description" content="We are humbleteam. We create digital products at&amp;nbsp;the intersection of&amp;nbsp;users and business needs."/><meta property="og:image:height" content="630"/><meta property="og:image:width" content="1200"/><meta property="og:image" content="https://humbleteam.com/img/open-graph/social-image.jpg"/><meta name="theme-color" content="#ffffff"/><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script><!--script(type='text/javascript', src='js/nbsp.js')--><script type="text/javascript" src="js/main.js"></script><script type="text/javascript" src="js/ga.js"></script><link rel="stylesheet" href="fonts/tttravel/stylesheet.css"/><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i"/><link rel="stylesheet" href="css/styles.css"/><script type="text/javascript" src="js/heap.js"></script></head><body><nav class="header" id="header"><div class="header__wrapper"><a href="index"><div class="header__logo"></div></a><div class="burger _mobile-burger"><img class="burger-img__dark" src="img/icon/burger_dark.svg" alt=""/><img class="burger-img__white" src="img/icon/burger_white.svg" alt=""/></div><div class="burger _desktop-burger"><img class="burger-img__dark" src="img/icon/burger_dark-desktop.svg" alt=""/><img class="burger-img__white" src="img/icon/burger_white-desktop.svg" alt=""/></div></div></nav><div class="burger-overlay"></div><div id="burger-content"><div class="header__wrapper"><img id="burger-close" src="./img/icon/close_dark-desktop.svg" alt=""/></div><div class="burger-content__wrapper"><nav><li class="burger-link-item"><div class="burger-link-index">01</div><a class="burger-link" href="index">Home</a></li><li class="burger-link-item"><div class="burger-link-index">02</div><a class="burger-link" href="cases">Portfolio</a><div class="burger-link__submenu"><a class="burger-link__submenu-item" href="short-portfolio">Quick sneak peeks</a></div></li><li class="burger-link-item"><div class="burger-link-index">03</div><a class="burger-link" href="info">What we do</a><div class="burger-link__submenu"><a class="burger-link__submenu-item" href="we-do-startups">Start ups</a><a class="burger-link__submenu-item" href="we-do-fintech">Fintech</a><a class="burger-link__submenu-item" href="we-do-automotive">Automotive</a></div></li><li class="burger-link-item"><div class="burger-link-index">04</div><a class="burger-link" href="contacts">Contact us</a></li><li class="burger-link-item"><div class="burger-link-index">05</div><a class="current burger-link" href="blog">Know hows</a></li></nav><div class="burger__socials"><a class="info-worldwide__link" href="https://dribbble.com/humble_team"><div class="info-worldwide__link__img-wrap"><img class="info-worldwide__link-img" src="img/icon/icon-dribble.svg" alt=""/><img class="info-worldwide__link-img-blue" src="img/icon/icon-dribble-blue.svg" alt=""/></div></a><a class="info-worldwide__link" href="https://www.instagram.com/humbleteam.agency/"><div class="info-worldwide__link__img-wrap"><img class="info-worldwide__link-img" src="img/icon/icon-inst.svg" alt=""/><img class="info-worldwide__link-img-blue" src="img/icon/icon-inst-blue.svg" alt=""/></div></a><a class="info-worldwide__link" href="https://www.behance.net/humbleteam"><div class="info-worldwide__link__img-wrap"><img class="info-worldwide__link-img" src="img/icon/icon-behance.svg" alt=""/><img class="info-worldwide__link-img-blue" src="img/icon/icon-behance-blue.svg" alt=""/></div></a><a class="s burger__socials__mail" href="mailto:info@humbleteam.com?subject=Project request&amp;body=Hi Humbleteam,">info@humbleteam.com</a></div></div></div><div id="img-popup"><img id="img-popup-close" src="./img/icon/close_black.svg" alt=""/><div class="img-popup__img-wrap js-img-popup-img-wrap"><img class="img-popup__img js-img-popup-img" alt=""/></div></div><div class="page-wrap initial-content-margin"><div class="inner-content"><h1>We share our lessons. Because giving is&nbsp;more blessed and paid than receiving.</h1><div class="blog-content"><a class="blog-item" href="blog-design"><div class="blog-item__top"><img class="blog-item__main__img" src="./img/blog/design-guidelines.png" srcset="./img/blog/design-guidelines@2x.png 2x" alt=""></div><h4>Design guidelines</h4><div class="s brand-gray">Internal guide, 5min read, forever in&nbsp;use</div></a><a class="blog-item" href="files/Humbleteam-ux-kit.sketch"><div class="blog-item__top"><div class="blog-item__top__img-text-wrap"><img class="blog-item__top__img" src="./img/blog/sketch-logo.svg" alt=""><p class="brand-gray">Sketch bulletproof template focusing on&nbsp;speeding up your prototyping process</p></div></div><h4>Wireframes template</h4><div class="s brand-primary weight-500">Download .sketch</div></a><!--a(href).blog-item--><!--    .blog-item__top--><!--        img(src='./img/blog/design-process.png', srcset='./img/blog/design-process@2x.png 2x', alt='').blog-item__main__img--><!----><!--    h4 Design process in&nbsp;Humbleteam--><!--    .s.brand-gray Medium article, 3min read--><a class="blog-item" href="https://medium.com/p/c0b8b9f63150" target="_blank"><div class="blog-item__top"><img class="blog-item__main__img" src="./img/blog/5-ways-to-make-people.png" srcset="./img/blog/5-ways-to-make-people@2x.png 2x" alt=""></div><h4>5 ways to&nbsp;make people like working with&nbsp;you</h4><div class="s brand-gray">Medium article, 3min read</div></a><!--a(href).blog-item--><!--    .blog-item__top--><!--        img(src='./img/blog/stickers.png', srcset='./img/blog/stickers@2x.png 2x', alt='').blog-item__main__img--><!----><!--    h4 Get free humble stickers--><!--    .s.brand-primary.weight-500 Request--><div class="blog-item"><div class="blog-item__top _with-bottom-padding"><div class="blog-item__top__img-text-wrap _type-2"><div class="blog-item__top__img-circle"><img class="blog-item__top__img" src="./img/blog/medium.svg" alt=""></div><h4>Our Medium heritage</h4></div><div class="blog-item__top__link-wrap"><a class="blog-item__top__link" href="https://medium.muz.li/0-usability-testing-guide-in-7-steps-a3fc94b4f729" target="_blank">$0 usability testing guide in&nbsp;7 steps</a><div class="s brand-gray">Medium article, 3min read</div></div><div class="blog-item__top__link-wrap"><a class="blog-item__top__link" href="https://blog.prototypr.io/why-designers-deserve-more-3c487f42d03a" target="_blank">Why design costs $$$</a><div class="s brand-gray">Medium article, 3min read</div></div></div></div></div></div></div><div class="info-large-v-margin" id="footer"><div class="footer-content"><div class="row"><div class="footer-logo-wrap"><a href="index.html"><img class="footer-logo" src="./img/logo-footer.svg" alt=""/></a></div><div class="footer-info-b"><a class="footer-text" href="mailto:info@humbleteam.com?subject=Project request&amp;body=Hi Humbleteam,">info@humbleteam.com</a><div class="footer-text">+420 776 828 895</div></div><div class="footer-info-b"><a class="footer-text" href="https://www.google.cz/maps/place/Rybn%C3%A1+716%2F24,+110+00+Praha+1-Star%C3%A9+M%C4%9Bsto/data=!4m2!3m1!1s0x470b94ea0da96c41:0xd926809755e5bf9a?sa=X&amp;ved=0ahUKEwiCkLCaxaDbAhUlCcAKHVulCtkQ8gEIKDAA" target="_blank">Czech Republic, Rybna 716/24<br>Prague Old Town</a></div><div class="footer__links-wrap"><a class="footer__link" href="https://dribbble.com/humble_team"><div class="footer__link__img-wrap"><img class="footer__link-img" src="img/icon/icon-dribble.svg" alt=""/><img class="footer__link-img-blue" src="img/icon/icon-dribble-blue.svg" alt=""/></div><div class="footer__link-text">Dribbble</div></a><a class="footer__link" href="https://www.behance.net/humbleteam"><div class="footer__link__img-wrap"><img class="footer__link-img" src="img/icon/icon-behance.svg" alt=""/><img class="footer__link-img-blue" src="img/icon/icon-behance-blue.svg" alt=""/></div><div class="footer__link-text">Behance</div></a><a class="footer__link" href="https://www.instagram.com/humbleteam.agency/"><div class="footer__link__img-wrap"><img class="footer__link-img" src="img/icon/icon-inst.svg" alt=""/><img class="footer__link-img-blue" src="img/icon/icon-inst-blue.svg" alt=""/></div><div class="footer__link-text">Instagram</div></a><a class="footer__link" href="https://vimeo.com/humbleteam"><div class="footer__link__img-wrap"><img class="footer__link-img" src="img/icon/icon-vimeo.svg" alt=""/><img class="footer__link-img-blue" src="img/icon/icon-vimeo-blue.svg" alt=""/></div><div class="footer__link-text">Vimeo</div></a><a class="footer__link" href="https://medium.com/@humbleteam"><div class="footer__link__img-wrap"><img class="footer__link-img" src="img/icon/icon-medium.svg" alt=""/><img class="footer__link-img-blue" src="img/icon/icon-medium-blue.svg" alt=""/></div><div class="footer__link-text">Medium</div></a></div></div></div></div></body></html>
