src/pug/blog-design.pug
extends layout

block vars
    - var attributes = { 'class': 'blog-post-page white-bg' }

block content
    .blog-post-promo.js-first-screen
        .blog-post-promo__text-wrap
            .blog-post-promo__left
                h1 Guide to&nbsp;design teamwork

            .blog-post-promo__right

        .blog-post-promo__img-wrap
            .blog-post-promo__left
            .blog-post-promo__right
                img(src='./img/blog/design-teamwork.png', srcset='./img/blog/design-teamwork@2x.png 2x', alt='').blog-post-promo__right__img

    .content-800.content-800-blog.blog-large-v-margin
        p While designing, it is important for&nbsp;everyone in&nbsp;our team to&nbsp;be on&nbsp;the same page regarding how we do things. Here are our best practises to&nbsp;help you design efficiently and in&nbsp;sync with&nbsp;your colleagues.

        h3.blog-large-v-margin 1. Syncing your work
        p We use Google drive to&nbsp;sync our projects. When starting to&nbsp;work on&nbsp;a project, you are going to&nbsp;receive access to&nbsp;a project's google drive folder. If not &mdash; please reach out your project manager.
        p #[span.italic Set up automatic sync] and have the project synced at&nbsp;all times. #[span.italic We don't use any other cloud storage system].

        h3.blog-large-v-margin 2. File naming
        p All files should have clear project name and file version. If you have more than one version, please move all older files to&nbsp;archive folder.

        .simple-row
            .grid-cell-50
                h6.green Good
                ul
                    li Google_banking-app_01
                    li Google_banking-app_02-dan
                    li Google_banking-app_02-sergey

            .grid-cell-50
                h6.red Bad
                ul
                    li Untitled
                    li Google-final-88
                    li UI.psd

        h3.blog-large-v-margin 3. Artboards naming
        p All artboards should have a unique identifier in&nbsp;order to&nbsp;be referenced quickly. All numbers should be 2-digit numbers.
        p Visual design artboard names should correspond with&nbsp;wireframe names.

        .full-width-wrap
            img(src='./img/blogpost/naming-formula.png', srcset='./img/blogpost/naming-formula@2x.png 2x', alt='')

        h6 Examples
        .simple-row
            .grid-cell-50
                ul
                    li 01.01 Login
                    li 01.02 Login &mdash; wrong email
                    li 02.01 Sign up

            .grid-cell-50
                ul
                    li 03.01 Dashboard
                    li 03.02 Dashboard &mdash; accounts
                    li 03.03 Dashboard &mdash; empty account

        h3.blog-large-v-margin 4. Symbols: organizing and naming
        p We require our designers to&nbsp;use symbols because they allow to&nbsp;reuse elements and have modular and consistent design solution across all Humbleteam projects. Here are a few rules and suggestions how to&nbsp;use them efficiently.
        p If element is used more than 3 times &mdash; make a symbol instead.

        .full-width-wrap
            .full-width-wrap__content
                .h6-small Naming formula
                .sans-title category / shape / size / color / state
            

        .simple-row
            .grid-cell-66
                h6 Examples
                ul
                    li button/circle/large/blue
                    li button/rectangular/large/blue/no-icon
                    li button/rectangular/large/blue/no-icon/secondary
                    li elements/navbars/navbar_4
                    li elements/toggles/toggle_on
                    li icon/24/exit
                    li icon/24/arrow_back

            .grid-cell-33
                h6 Naming
                ul
                    li Buttons &mdash; button
                    li Icons &mdash; icon
                    li Forms &mdash; form
                    li Inputs &mdash; form/input

        p For icons naming we use BEM convention.<br>#[a(href='https://en.bem.info/methodology/naming-convention').mid https://en.bem.info/methodology/naming-convention.]

        h3.blog-large-v-margin 5. Plugins
        p It is crucial to&nbsp;be able to&nbsp;iterate fast in&nbsp;sketch. Here are our top picked plugins that can help you design much faster.

        .simple-row
            .grid-cell-33
                h6 Install manually
                ul
                    li.with-link Sketch runner<br>#[a(href='http://sketchrunner.com' target='_blank').small-link wwww.sketchrunner.com]
                    li.empty-li
                    li.with-link Invision Craft<br>#[a(href='http://https://www.invisionapp.com/craft' target='_blank').small-link www.invisionapp.com/craft]

            .grid-cell-66
                h6 Install using Runner

                .simple-row
                    .grid-cell-50
                        ul
                            li Preview in&nbsp;browser
                            li Sketch mate
                            li Sketch measure
                            li Random size
                            li Pixel Perfecter

                    .grid-cell-50
                        ul
                            li Icons
                            li Align artboards
                            li Sort me
                            li Swap elements
                            li Automate sketch

        h3.blog-large-v-margin 6. User experience checklist
        ol
            li Use following UX kit when building wireframes &mdash; #[a(href='files/Humbleteam-ux-kit.sketch') download kit]
            li Your wireframes should focus on&nbsp;pure UX concept and shouldn't contain any UI work. You are encouraged to&nbsp;leave out prettification and rather focus on&nbsp;concept iteration.
            li Your solution should be perceived as a concept description and neither part of&nbsp;it should be perceived as final graphics.
            li Your screens in&nbsp;your wireframes answer following question:
                ul
                    li How I get there and where I can go further
                    li Accents and hirarchy of&nbsp;elements
                    li Actual wording. Every lorem ipsum means bying beer for&nbsp;the whole project team!
                    li Clickable and non-clickbale elements are visually distinguished

            li Your wireframes should focus on&nbsp;pure UX concept and shouldn't contain any UI work. You are encouraged to&nbsp;leave out prettification and rather focus on&nbsp;concept iteration.
            li Your solution should be perceived as a concept description and neither part of&nbsp;it should be perceived as final graphics.
            li Your wireframes are as detailed as your hypothises.

        h3.blog-large-v-margin 7. Visual design checklist
        ol
            li Your designs should not contain any half pixels. Use plugin (Pixel perfecter) to&nbsp;fix those.
            li Contrast ratio on&nbsp;main texts shouldn't be #[a(href='http://webaim.org/resources/contrastchecker/' target='_blank') less than AA].
            li After selecting a font for&nbsp;a project please check the pricing.
            li All buttons and links should have following states designed: Default, Hover, Active, Focused, Disabled.
            li All icons have persistent sizing (for example 12x12, 18x18, 24x24, 32x32 or&nbsp;36x36).
            li For website mocks you should provide responsiveness guidelines including following dimensions:
                ul
                    li Wide display (1920px)
                    li Regular laptop display (1440px or&nbsp;1680px)
                    li Tablet (1000px)
                    li Mobile (375px)


        h3.blog-large-v-margin 8. Shortcuts
        p Many projects require fast design iterations to&nbsp;be able to&nbsp;explore different design approaches before diverging to&nbsp;the one direction. It is crucial to&nbsp;be able to&nbsp;design fast in&nbsp;your tool of&nbsp;preference.
        ol
            li Learn Sketch shortcuts &mdash; #[a(href='http://sketchshortcuts.com' target='_blank') www.sketchshortcuts.com]
            li Learn Photoshop shortcuts &mdash; #[a(href='https://www.nobledesktop.com/shortcuts/photoshopcs5/mac' target='_blank') www.nobledesktop.com/shortcuts/photoshopcs5/mac]

build/blog-design.html
<!DOCTYPE html><html class="blog-post-page white-bg" lang="en"><head><title>Humbleteam — digital agency</title><meta charset="utf-8"/><meta name="description" content="Humbleteam — digital agency"/><meta name="author" content="Humbleteam"/><meta name="viewport" content="width=device-width, initial-scale=1,  maximum-scale=1"/><link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon.png"/><link rel="icon" type="image/png" sizes="32x32" href="img/favicons/favicon-32x32.png"/><link rel="icon" type="image/png" sizes="16x16" href="img/favicons/favicon-16x16.png"/><link rel="manifest" href="/manifest.json"/><meta property="og:title" content="Humbleteam — digital agency"/><meta property="og:description" content="We are humbleteam. We create digital products at&amp;nbsp;the intersection of&amp;nbsp;users and business needs."/><meta property="og:image:height" content="630"/><meta property="og:image:width" content="1200"/><meta property="og:image" content="https://humbleteam.com/img/open-graph/social-image.jpg"/><meta name="theme-color" content="#ffffff"/><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script><!--script(type='text/javascript', src='js/nbsp.js')--><script type="text/javascript" src="js/main.js"></script><script type="text/javascript" src="js/ga.js"></script><link rel="stylesheet" href="fonts/tttravel/stylesheet.css"/><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i"/><link rel="stylesheet" href="css/styles.css"/><script type="text/javascript" src="js/heap.js"></script></head><body><nav class="header" id="header"><div class="header__wrapper"><a href="index"><div class="header__logo"></div></a><div class="burger _mobile-burger"><img class="burger-img__dark" src="img/icon/burger_dark.svg" alt=""/><img class="burger-img__white" src="img/icon/burger_white.svg" alt=""/></div><div class="burger _desktop-burger"><img class="burger-img__dark" src="img/icon/burger_dark-desktop.svg" alt=""/><img class="burger-img__white" src="img/icon/burger_white-desktop.svg" alt=""/></div></div></nav><div class="burger-overlay"></div><div id="burger-content"><div class="header__wrapper"><img id="burger-close" src="./img/icon/close_dark-desktop.svg" alt=""/></div><div class="burger-content__wrapper"><nav><li class="burger-link-item"><div class="burger-link-index">01</div><a class="burger-link" href="index">Home</a></li><li class="burger-link-item"><div class="burger-link-index">02</div><a class="burger-link" href="cases">Portfolio</a><div class="burger-link__submenu"><a class="burger-link__submenu-item" href="short-portfolio">Quick sneak peeks</a></div></li><li class="burger-link-item"><div class="burger-link-index">03</div><a class="burger-link" href="info">What we do</a><div class="burger-link__submenu"><a class="burger-link__submenu-item" href="we-do-startups">Start ups</a><a class="burger-link__submenu-item" href="we-do-fintech">Fintech</a><a class="burger-link__submenu-item" href="we-do-automotive">Automotive</a></div></li><li class="burger-link-item"><div class="burger-link-index">04</div><a class="burger-link" href="contacts">Contact us</a></li><li class="burger-link-item"><div class="burger-link-index">05</div><a class="burger-link" href="blog">Know hows</a></li></nav><div class="burger__socials"><a class="info-worldwide__link" href="https://dribbble.com/humble_team"><div class="info-worldwide__link__img-wrap"><img class="info-worldwide__link-img" src="img/icon/icon-dribble.svg" alt=""/><img class="info-worldwide__link-img-blue" src="img/icon/icon-dribble-blue.svg" alt=""/></div></a><a class="info-worldwide__link" href="https://www.instagram.com/humbleteam.agency/"><div class="info-worldwide__link__img-wrap"><img class="info-worldwide__link-img" src="img/icon/icon-inst.svg" alt=""/><img class="info-worldwide__link-img-blue" src="img/icon/icon-inst-blue.svg" alt=""/></div></a><a class="info-worldwide__link" href="https://www.behance.net/humbleteam"><div class="info-worldwide__link__img-wrap"><img class="info-worldwide__link-img" src="img/icon/icon-behance.svg" alt=""/><img class="info-worldwide__link-img-blue" src="img/icon/icon-behance-blue.svg" alt=""/></div></a><a class="s burger__socials__mail" href="mailto:info@humbleteam.com?subject=Project request&amp;body=Hi Humbleteam,">info@humbleteam.com</a></div></div></div><div id="img-popup"><img id="img-popup-close" src="./img/icon/close_black.svg" alt=""/><div class="img-popup__img-wrap js-img-popup-img-wrap"><img class="img-popup__img js-img-popup-img" alt=""/></div></div><div class="blog-post-promo js-first-screen"><div class="blog-post-promo__text-wrap"><div class="blog-post-promo__left"><h1>Guide to&nbsp;design teamwork</h1></div><div class="blog-post-promo__right"></div></div><div class="blog-post-promo__img-wrap"><div class="blog-post-promo__left"></div><div class="blog-post-promo__right"><img class="blog-post-promo__right__img" src="./img/blog/design-teamwork.png" srcset="./img/blog/design-teamwork@2x.png 2x" alt=""></div></div></div><div class="content-800 content-800-blog blog-large-v-margin"><p>While designing, it is important for&nbsp;everyone in&nbsp;our team to&nbsp;be on&nbsp;the same page regarding how we do things. Here are our best practises to&nbsp;help you design efficiently and in&nbsp;sync with&nbsp;your colleagues.</p><h3 class="blog-large-v-margin">1. Syncing your work</h3><p>We use Google drive to&nbsp;sync our projects. When starting to&nbsp;work on&nbsp;a project, you are going to&nbsp;receive access to&nbsp;a project's google drive folder. If not &mdash; please reach out your project manager.</p><p><span class="italic">Set up automatic sync</span> and have the project synced at&nbsp;all times. <span class="italic">We don't use any other cloud storage system</span>.</p><h3 class="blog-large-v-margin">2. File naming</h3><p>All files should have clear project name and file version. If you have more than one version, please move all older files to&nbsp;archive folder.</p><div class="simple-row"><div class="grid-cell-50"><h6 class="green">Good</h6><ul><li>Google_banking-app_01</li><li>Google_banking-app_02-dan</li><li>Google_banking-app_02-sergey</li></ul></div><div class="grid-cell-50"><h6 class="red">Bad</h6><ul><li>Untitled</li><li>Google-final-88</li><li>UI.psd</li></ul></div></div><h3 class="blog-large-v-margin">3. Artboards naming</h3><p>All artboards should have a unique identifier in&nbsp;order to&nbsp;be referenced quickly. All numbers should be 2-digit numbers.</p><p>Visual design artboard names should correspond with&nbsp;wireframe names.</p><div class="full-width-wrap"><img src="./img/blogpost/naming-formula.png" srcset="./img/blogpost/naming-formula@2x.png 2x" alt=""></div><h6>Examples</h6><div class="simple-row"><div class="grid-cell-50"><ul><li>01.01 Login</li><li>01.02 Login &mdash; wrong email</li><li>02.01 Sign up</li></ul></div><div class="grid-cell-50"><ul><li>03.01 Dashboard</li><li>03.02 Dashboard &mdash; accounts</li><li>03.03 Dashboard &mdash; empty account</li></ul></div></div><h3 class="blog-large-v-margin">4. Symbols: organizing and naming</h3><p>We require our designers to&nbsp;use symbols because they allow to&nbsp;reuse elements and have modular and consistent design solution across all Humbleteam projects. Here are a few rules and suggestions how to&nbsp;use them efficiently.</p><p>If element is used more than 3 times &mdash; make a symbol instead.</p><div class="full-width-wrap"><div class="full-width-wrap__content"><div class="h6-small">Naming formula</div><div class="sans-title">category / shape / size / color / state</div></div></div><div class="simple-row"><div class="grid-cell-66"><h6>Examples</h6><ul><li>button/circle/large/blue</li><li>button/rectangular/large/blue/no-icon</li><li>button/rectangular/large/blue/no-icon/secondary</li><li>elements/navbars/navbar_4</li><li>elements/toggles/toggle_on</li><li>icon/24/exit</li><li>icon/24/arrow_back</li></ul></div><div class="grid-cell-33"><h6>Naming</h6><ul><li>Buttons &mdash; button</li><li>Icons &mdash; icon</li><li>Forms &mdash; form</li><li>Inputs &mdash; form/input</li></ul></div></div><p>For icons naming we use BEM convention.<br><a class="mid" href="https://en.bem.info/methodology/naming-convention">https://en.bem.info/methodology/naming-convention.</a></p><h3 class="blog-large-v-margin">5. Plugins</h3><p>It is crucial to&nbsp;be able to&nbsp;iterate fast in&nbsp;sketch. Here are our top picked plugins that can help you design much faster.</p><div class="simple-row"><div class="grid-cell-33"><h6>Install manually</h6><ul><li class="with-link">Sketch runner<br><a class="small-link" href="http://sketchrunner.com" target="_blank">wwww.sketchrunner.com</a></li><li class="empty-li"></li><li class="with-link">Invision Craft<br><a class="small-link" href="http://https://www.invisionapp.com/craft" target="_blank">www.invisionapp.com/craft</a></li></ul></div><div class="grid-cell-66"><h6>Install using Runner</h6><div class="simple-row"><div class="grid-cell-50"><ul><li>Preview in&nbsp;browser</li><li>Sketch mate</li><li>Sketch measure</li><li>Random size</li><li>Pixel Perfecter</li></ul></div><div class="grid-cell-50"><ul><li>Icons</li><li>Align artboards</li><li>Sort me</li><li>Swap elements</li><li>Automate sketch</li></ul></div></div></div></div><h3 class="blog-large-v-margin">6. User experience checklist</h3><ol><li>Use following UX kit when building wireframes &mdash; <a href="files/Humbleteam-ux-kit.sketch">download kit</a></li><li>Your wireframes should focus on&nbsp;pure UX concept and shouldn't contain any UI work. You are encouraged to&nbsp;leave out prettification and rather focus on&nbsp;concept iteration.</li><li>Your solution should be perceived as a concept description and neither part of&nbsp;it should be perceived as final graphics.</li><li>Your screens in&nbsp;your wireframes answer following question:<ul><li>How I get there and where I can go further</li><li>Accents and hirarchy of&nbsp;elements</li><li>Actual wording. Every lorem ipsum means bying beer for&nbsp;the whole project team!</li><li>Clickable and non-clickbale elements are visually distinguished</li></ul></li><li>Your wireframes should focus on&nbsp;pure UX concept and shouldn't contain any UI work. You are encouraged to&nbsp;leave out prettification and rather focus on&nbsp;concept iteration.</li><li>Your solution should be perceived as a concept description and neither part of&nbsp;it should be perceived as final graphics.</li><li>Your wireframes are as detailed as your hypothises.</li></ol><h3 class="blog-large-v-margin">7. Visual design checklist</h3><ol><li>Your designs should not contain any half pixels. Use plugin (Pixel perfecter) to&nbsp;fix those.</li><li>Contrast ratio on&nbsp;main texts shouldn't be <a href="http://webaim.org/resources/contrastchecker/" target="_blank">less than AA</a>.</li><li>After selecting a font for&nbsp;a project please check the pricing.</li><li>All buttons and links should have following states designed: Default, Hover, Active, Focused, Disabled.</li><li>All icons have persistent sizing (for example 12x12, 18x18, 24x24, 32x32 or&nbsp;36x36).</li><li>For website mocks you should provide responsiveness guidelines including following dimensions:<ul><li>Wide display (1920px)</li><li>Regular laptop display (1440px or&nbsp;1680px)</li><li>Tablet (1000px)</li><li>Mobile (375px)</li></ul></li></ol><h3 class="blog-large-v-margin">8. Shortcuts</h3><p>Many projects require fast design iterations to&nbsp;be able to&nbsp;explore different design approaches before diverging to&nbsp;the one direction. It is crucial to&nbsp;be able to&nbsp;design fast in&nbsp;your tool of&nbsp;preference.</p><ol><li>Learn Sketch shortcuts &mdash; <a href="http://sketchshortcuts.com" target="_blank">www.sketchshortcuts.com</a></li><li>Learn Photoshop shortcuts &mdash; <a href="https://www.nobledesktop.com/shortcuts/photoshopcs5/mac" target="_blank">www.nobledesktop.com/shortcuts/photoshopcs5/mac</a></li></ol></div><div class="info-large-v-margin" id="footer"><div class="footer-content"><div class="row"><div class="footer-logo-wrap"><a href="index.html"><img class="footer-logo" src="./img/logo-footer.svg" alt=""/></a></div><div class="footer-info-b"><a class="footer-text" href="mailto:info@humbleteam.com?subject=Project request&amp;body=Hi Humbleteam,">info@humbleteam.com</a><div class="footer-text">+420 776 828 895</div></div><div class="footer-info-b"><a class="footer-text" href="https://www.google.cz/maps/place/Rybn%C3%A1+716%2F24,+110+00+Praha+1-Star%C3%A9+M%C4%9Bsto/data=!4m2!3m1!1s0x470b94ea0da96c41:0xd926809755e5bf9a?sa=X&amp;ved=0ahUKEwiCkLCaxaDbAhUlCcAKHVulCtkQ8gEIKDAA" target="_blank">Czech Republic, Rybna 716/24<br>Prague Old Town</a></div><div class="footer__links-wrap"><a class="footer__link" href="https://dribbble.com/humble_team"><div class="footer__link__img-wrap"><img class="footer__link-img" src="img/icon/icon-dribble.svg" alt=""/><img class="footer__link-img-blue" src="img/icon/icon-dribble-blue.svg" alt=""/></div><div class="footer__link-text">Dribbble</div></a><a class="footer__link" href="https://www.behance.net/humbleteam"><div class="footer__link__img-wrap"><img class="footer__link-img" src="img/icon/icon-behance.svg" alt=""/><img class="footer__link-img-blue" src="img/icon/icon-behance-blue.svg" alt=""/></div><div class="footer__link-text">Behance</div></a><a class="footer__link" href="https://www.instagram.com/humbleteam.agency/"><div class="footer__link__img-wrap"><img class="footer__link-img" src="img/icon/icon-inst.svg" alt=""/><img class="footer__link-img-blue" src="img/icon/icon-inst-blue.svg" alt=""/></div><div class="footer__link-text">Instagram</div></a><a class="footer__link" href="https://vimeo.com/humbleteam"><div class="footer__link__img-wrap"><img class="footer__link-img" src="img/icon/icon-vimeo.svg" alt=""/><img class="footer__link-img-blue" src="img/icon/icon-vimeo-blue.svg" alt=""/></div><div class="footer__link-text">Vimeo</div></a><a class="footer__link" href="https://medium.com/@humbleteam"><div class="footer__link__img-wrap"><img class="footer__link-img" src="img/icon/icon-medium.svg" alt=""/><img class="footer__link-img-blue" src="img/icon/icon-medium-blue.svg" alt=""/></div><div class="footer__link-text">Medium</div></a></div></div></div></div></body></html>
