src/pug/case-boule.pug
extends layout

include mixins/portfolio

block vars
    -
        var attributes = { 'class': 'cases-page white-bg' }

block content
    .wedo-promo.dark-color.js-first-screen(style='background-color:#f1f7ff')
        .case-promo-bg
            img(src='./img/cases-new/boule/main.jpg', srcset='./img/cases-new/boule/main@2x.jpg 2x', alt='')

        .wedo-promo__content
            .wedo-promo__right
                img(src='./img/cases-new/boule/main-phone.jpg', srcset='./img/cases-new/boule/main-phone@2x.jpg 2x', alt='').wedo-promo__right__img-mobile

            .wedo-promo__left
                h6.h6-small Voting becomes as easy as social networking
                h1 Cloud democracy with&nbsp;blockchain twist

    .page-wrap
        .flex-wrapper.info-large-v-margin
            .left.hidden-md-down
                h6.h6-small.left-marker 01
                h6.h6-small What is it about
            .content
                h4 General
                p Boule is an online voting platform based on&nbsp;blockchain technology that guarantees the fair results and gives flexible access to&nbsp;the polls. It’s secure, decentralized and audible. Ultimately, it’s an e-voting and vote counting that everyone can trust.
                br
                br
                h4 Workflow
                p Design the voting platform, landing page, and mobile platform. Create the promotional video for&nbsp;the product.

    .img-wrap-1420.info-large-v-margin
        img(src='./img/cases-new/boule/1.jpg', srcset='./img/cases-new/boule/1@2x.jpg 2x', alt='').wedo-wide-img__img.js-popup-img

    .content-800.info-large-v-margin
        h2 Blockchain technology is something that people aren't used to&nbsp;yet
        p Our goal was to&nbsp;create a platform that is so easy to&nbsp;use that users won't be afraid of&nbsp;blockchain and will get involved in&nbsp;the democratic processes.

    .img-wrap-1420.info-large-v-margin
        img(src='./img/cases-new/boule/2.jpg', srcset='./img/cases-new/boule/2@2x.jpg 2x', alt='').wedo-wide-img__img.js-popup-img

    .content-800.info-large-v-margin
        h2 We're eager to&nbsp;make the product attractive for&nbsp;as many people as possible
        p The idea of&nbsp;simple and safe voting sounded very appealing &mdash; there are actually very few components of&nbsp;the voting platform and process. We just needed to&nbsp;point them out and arrange them in&nbsp;the right order. Then highlight the important things and hide unimportant.

    .img-wrap-1420.info-large-v-margin
        img(src='./img/cases-new/boule/3.jpg', srcset='./img/cases-new/boule/3@2x.jpg 2x', alt='').wedo-wide-img__img.js-popup-img

    .img-wrap-1420.info-large-v-margin
        img(src='./img/cases-new/boule/4.jpg', srcset='./img/cases-new/boule/4@2x.jpg 2x', alt='').wedo-wide-img__img.js-popup-img

    .content-800.info-large-v-margin
        p We chose a more soothing and cutting-edge visual design to&nbsp;keep the overall feeling of&nbsp;safety that should go together with&nbsp;progress.
        p Our team thoroughly examined banking and financial products to&nbsp;provide a smooth experience of&nbsp;dealing with&nbsp;payments and the voting procedures for&nbsp;one side, while providing simple voting for&nbsp;users.

    .img-wrap-1420.info-large-v-margin
        .aspect-ratio
            <iframe src="https://www.youtube.com/embed/ImZsH-qTEng" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>

    .content-800.info-large-v-margin
        h3 Then we faced a challenge to&nbsp;explain potential users how it works and what this platform is capable of
        p Our creative team produced a scenario that voiced each benefit of&nbsp;the platform step-by-step each. And then the animation crew made it come alive.

    .img-wrap-1420.info-large-v-margin
        img(src='./img/cases-new/boule/5-botttom.jpg', srcset='./img/cases-new/boule/5-botttom@2x.jpg 2x', alt='').wedo-wide-img__img.js-popup-img

    .wedo-lets-do
        .page-wrap
            .wedo-lets-do__content
                +lets-do('info@humbleteam.com?subject=Project request&body=Hi Humbleteam,', '', '')

    -
        cases = [
            {
                link: 'case-expenses',
                preview_folder: 'expenses',
                tag: 'Landing page',
                title: 'Expense tracker in&nbsp;your pocket'
            }, {
                link: 'case-misterporter',
                preview_folder: 'misterporter',
                tag: 'Web service',
                title: 'Web service for&nbsp;automating Airbnb business'
            }
        ]

    br
    .cases-portfolio-wrap
        .page-wrap
            +portfolio(cases)

build/case-boule.html
<!DOCTYPE html><html class="cases-page white-bg" lang="en"><head><title>Humbleteam — digital agency</title><meta charset="utf-8"/><meta name="description" content="Humbleteam — digital agency"/><meta name="author" content="Humbleteam"/><meta name="viewport" content="width=device-width, initial-scale=1,  maximum-scale=1"/><link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon.png"/><link rel="icon" type="image/png" sizes="32x32" href="img/favicons/favicon-32x32.png"/><link rel="icon" type="image/png" sizes="16x16" href="img/favicons/favicon-16x16.png"/><link rel="manifest" href="/manifest.json"/><meta property="og:title" content="Humbleteam — digital agency"/><meta property="og:description" content="We are humbleteam. We create digital products at&amp;nbsp;the intersection of&amp;nbsp;users and business needs."/><meta property="og:image:height" content="630"/><meta property="og:image:width" content="1200"/><meta property="og:image" content="https://humbleteam.com/img/open-graph/social-image.jpg"/><meta name="theme-color" content="#ffffff"/><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script><!--script(type='text/javascript', src='js/nbsp.js')--><script type="text/javascript" src="js/main.js"></script><script type="text/javascript" src="js/ga.js"></script><link rel="stylesheet" href="fonts/tttravel/stylesheet.css"/><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i"/><link rel="stylesheet" href="css/styles.css"/><script type="text/javascript" src="js/heap.js"></script></head><body><nav class="header" id="header"><div class="header__wrapper"><a href="index"><div class="header__logo"></div></a><div class="burger _mobile-burger"><img class="burger-img__dark" src="img/icon/burger_dark.svg" alt=""/><img class="burger-img__white" src="img/icon/burger_white.svg" alt=""/></div><div class="burger _desktop-burger"><img class="burger-img__dark" src="img/icon/burger_dark-desktop.svg" alt=""/><img class="burger-img__white" src="img/icon/burger_white-desktop.svg" alt=""/></div></div></nav><div class="burger-overlay"></div><div id="burger-content"><div class="header__wrapper"><img id="burger-close" src="./img/icon/close_dark-desktop.svg" alt=""/></div><div class="burger-content__wrapper"><nav><li class="burger-link-item"><div class="burger-link-index">01</div><a class="burger-link" href="index">Home</a></li><li class="burger-link-item"><div class="burger-link-index">02</div><a class="burger-link" href="cases">Portfolio</a><div class="burger-link__submenu"><a class="burger-link__submenu-item" href="short-portfolio">Quick sneak peeks</a></div></li><li class="burger-link-item"><div class="burger-link-index">03</div><a class="burger-link" href="info">What we do</a><div class="burger-link__submenu"><a class="burger-link__submenu-item" href="we-do-startups">Start ups</a><a class="burger-link__submenu-item" href="we-do-fintech">Fintech</a><a class="burger-link__submenu-item" href="we-do-automotive">Automotive</a></div></li><li class="burger-link-item"><div class="burger-link-index">04</div><a class="burger-link" href="contacts">Contact us</a></li><li class="burger-link-item"><div class="burger-link-index">05</div><a class="burger-link" href="blog">Know hows</a></li></nav><div class="burger__socials"><a class="info-worldwide__link" href="https://dribbble.com/humble_team"><div class="info-worldwide__link__img-wrap"><img class="info-worldwide__link-img" src="img/icon/icon-dribble.svg" alt=""/><img class="info-worldwide__link-img-blue" src="img/icon/icon-dribble-blue.svg" alt=""/></div></a><a class="info-worldwide__link" href="https://www.instagram.com/humbleteam.agency/"><div class="info-worldwide__link__img-wrap"><img class="info-worldwide__link-img" src="img/icon/icon-inst.svg" alt=""/><img class="info-worldwide__link-img-blue" src="img/icon/icon-inst-blue.svg" alt=""/></div></a><a class="info-worldwide__link" href="https://www.behance.net/humbleteam"><div class="info-worldwide__link__img-wrap"><img class="info-worldwide__link-img" src="img/icon/icon-behance.svg" alt=""/><img class="info-worldwide__link-img-blue" src="img/icon/icon-behance-blue.svg" alt=""/></div></a><a class="s burger__socials__mail" href="mailto:info@humbleteam.com?subject=Project request&amp;body=Hi Humbleteam,">info@humbleteam.com</a></div></div></div><div id="img-popup"><img id="img-popup-close" src="./img/icon/close_black.svg" alt=""/><div class="img-popup__img-wrap js-img-popup-img-wrap"><img class="img-popup__img js-img-popup-img" alt=""/></div></div><div class="wedo-promo dark-color js-first-screen" style="background-color:#f1f7ff"><div class="case-promo-bg"><img src="./img/cases-new/boule/main.jpg" srcset="./img/cases-new/boule/main@2x.jpg 2x" alt=""></div><div class="wedo-promo__content"><div class="wedo-promo__right"><img class="wedo-promo__right__img-mobile" src="./img/cases-new/boule/main-phone.jpg" srcset="./img/cases-new/boule/main-phone@2x.jpg 2x" alt=""></div><div class="wedo-promo__left"><h6 class="h6-small">Voting becomes as easy as social networking</h6><h1>Cloud democracy with&nbsp;blockchain twist</h1></div></div></div><div class="page-wrap"><div class="flex-wrapper info-large-v-margin"><div class="left hidden-md-down"><h6 class="h6-small left-marker">01</h6><h6 class="h6-small">What is it about</h6></div><div class="content"><h4>General</h4><p>Boule is an online voting platform based on&nbsp;blockchain technology that guarantees the fair results and gives flexible access to&nbsp;the polls. It’s secure, decentralized and audible. Ultimately, it’s an e-voting and vote counting that everyone can trust.</p><br><br><h4>Workflow</h4><p>Design the voting platform, landing page, and mobile platform. Create the promotional video for&nbsp;the product.</p></div></div></div><div class="img-wrap-1420 info-large-v-margin"><img class="wedo-wide-img__img js-popup-img" src="./img/cases-new/boule/1.jpg" srcset="./img/cases-new/boule/1@2x.jpg 2x" alt=""></div><div class="content-800 info-large-v-margin"><h2>Blockchain technology is something that people aren't used to&nbsp;yet</h2><p>Our goal was to&nbsp;create a platform that is so easy to&nbsp;use that users won't be afraid of&nbsp;blockchain and will get involved in&nbsp;the democratic processes.</p></div><div class="img-wrap-1420 info-large-v-margin"><img class="wedo-wide-img__img js-popup-img" src="./img/cases-new/boule/2.jpg" srcset="./img/cases-new/boule/2@2x.jpg 2x" alt=""></div><div class="content-800 info-large-v-margin"><h2>We're eager to&nbsp;make the product attractive for&nbsp;as many people as possible</h2><p>The idea of&nbsp;simple and safe voting sounded very appealing &mdash; there are actually very few components of&nbsp;the voting platform and process. We just needed to&nbsp;point them out and arrange them in&nbsp;the right order. Then highlight the important things and hide unimportant.</p></div><div class="img-wrap-1420 info-large-v-margin"><img class="wedo-wide-img__img js-popup-img" src="./img/cases-new/boule/3.jpg" srcset="./img/cases-new/boule/3@2x.jpg 2x" alt=""></div><div class="img-wrap-1420 info-large-v-margin"><img class="wedo-wide-img__img js-popup-img" src="./img/cases-new/boule/4.jpg" srcset="./img/cases-new/boule/4@2x.jpg 2x" alt=""></div><div class="content-800 info-large-v-margin"><p>We chose a more soothing and cutting-edge visual design to&nbsp;keep the overall feeling of&nbsp;safety that should go together with&nbsp;progress.</p><p>Our team thoroughly examined banking and financial products to&nbsp;provide a smooth experience of&nbsp;dealing with&nbsp;payments and the voting procedures for&nbsp;one side, while providing simple voting for&nbsp;users.</p></div><div class="img-wrap-1420 info-large-v-margin"><div class="aspect-ratio"><iframe src="https://www.youtube.com/embed/ImZsH-qTEng" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe></div></div><div class="content-800 info-large-v-margin"><h3>Then we faced a challenge to&nbsp;explain potential users how it works and what this platform is capable of</h3><p>Our creative team produced a scenario that voiced each benefit of&nbsp;the platform step-by-step each. And then the animation crew made it come alive.</p></div><div class="img-wrap-1420 info-large-v-margin"><img class="wedo-wide-img__img js-popup-img" src="./img/cases-new/boule/5-botttom.jpg" srcset="./img/cases-new/boule/5-botttom@2x.jpg 2x" alt=""></div><div class="wedo-lets-do"><div class="page-wrap"><div class="wedo-lets-do__content"><div class="wedo-lets-do__content"><h2>Lets do something cool together</h2><a class="wedo-lets-do__link" href="mailto:info@humbleteam.com?subject=Project request&amp;body=Hi Humbleteam,">info@humbleteam.com</a></div></div></div></div><br><div class="cases-portfolio-wrap"><div class="page-wrap"><div class="row index-portfolio__tiles-b"><a class="js-wow fadeInUpMy index-portfolio__tile" href="case-expenses" data-wow-delay="0s"><img class="index-portfolio__tile-img" src="img/cases-new/expenses/preview.jpg" srcset="img/cases-new/expenses/preview@2x.jpg 2x" alt=""/><h6 class="h6-small brand-gray">Landing page</h6><h5>Expense tracker in&nbsp;your pocket</h5></a><a class="js-wow fadeInUpMy index-portfolio__tile" href="case-misterporter" data-wow-delay="0.2s"><img class="index-portfolio__tile-img" src="img/cases-new/misterporter/preview.jpg" srcset="img/cases-new/misterporter/preview@2x.jpg 2x" alt=""/><h6 class="h6-small brand-gray">Web service</h6><h5>Web service for&nbsp;automating Airbnb business</h5></a></div></div></div><div class="info-large-v-margin" id="footer"><div class="footer-content"><div class="row"><div class="footer-logo-wrap"><a href="index.html"><img class="footer-logo" src="./img/logo-footer.svg" alt=""/></a></div><div class="footer-info-b"><a class="footer-text" href="mailto:info@humbleteam.com?subject=Project request&amp;body=Hi Humbleteam,">info@humbleteam.com</a><div class="footer-text">+420 776 828 895</div></div><div class="footer-info-b"><a class="footer-text" href="https://www.google.cz/maps/place/Rybn%C3%A1+716%2F24,+110+00+Praha+1-Star%C3%A9+M%C4%9Bsto/data=!4m2!3m1!1s0x470b94ea0da96c41:0xd926809755e5bf9a?sa=X&amp;ved=0ahUKEwiCkLCaxaDbAhUlCcAKHVulCtkQ8gEIKDAA" target="_blank">Czech Republic, Rybna 716/24<br>Prague Old Town</a></div><div class="footer__links-wrap"><a class="footer__link" href="https://dribbble.com/humble_team"><div class="footer__link__img-wrap"><img class="footer__link-img" src="img/icon/icon-dribble.svg" alt=""/><img class="footer__link-img-blue" src="img/icon/icon-dribble-blue.svg" alt=""/></div><div class="footer__link-text">Dribbble</div></a><a class="footer__link" href="https://www.behance.net/humbleteam"><div class="footer__link__img-wrap"><img class="footer__link-img" src="img/icon/icon-behance.svg" alt=""/><img class="footer__link-img-blue" src="img/icon/icon-behance-blue.svg" alt=""/></div><div class="footer__link-text">Behance</div></a><a class="footer__link" href="https://www.instagram.com/humbleteam.agency/"><div class="footer__link__img-wrap"><img class="footer__link-img" src="img/icon/icon-inst.svg" alt=""/><img class="footer__link-img-blue" src="img/icon/icon-inst-blue.svg" alt=""/></div><div class="footer__link-text">Instagram</div></a><a class="footer__link" href="https://vimeo.com/humbleteam"><div class="footer__link__img-wrap"><img class="footer__link-img" src="img/icon/icon-vimeo.svg" alt=""/><img class="footer__link-img-blue" src="img/icon/icon-vimeo-blue.svg" alt=""/></div><div class="footer__link-text">Vimeo</div></a><a class="footer__link" href="https://medium.com/@humbleteam"><div class="footer__link__img-wrap"><img class="footer__link-img" src="img/icon/icon-medium.svg" alt=""/><img class="footer__link-img-blue" src="img/icon/icon-medium-blue.svg" alt=""/></div><div class="footer__link-text">Medium</div></a></div></div></div></div></body></html>
