build/case-monitoring.html
<!DOCTYPE html><html class="cases-page white-bg" lang="en"><head><title>Humbleteam — digital agency</title><meta charset="utf-8"/><meta name="description" content="Humbleteam — digital agency"/><meta name="author" content="Humbleteam"/><meta name="viewport" content="width=device-width, initial-scale=1,  maximum-scale=1"/><link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon.png"/><link rel="icon" type="image/png" sizes="32x32" href="img/favicons/favicon-32x32.png"/><link rel="icon" type="image/png" sizes="16x16" href="img/favicons/favicon-16x16.png"/><link rel="manifest" href="/manifest.json"/><meta property="og:title" content="Humbleteam — digital agency"/><meta property="og:description" content="We are humbleteam. We create digital products at&amp;nbsp;the intersection of&amp;nbsp;users and business needs."/><meta property="og:image:height" content="630"/><meta property="og:image:width" content="1200"/><meta property="og:image" content="https://humbleteam.com/img/open-graph/social-image.jpg"/><meta name="theme-color" content="#ffffff"/><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script><!--script(type='text/javascript', src='js/nbsp.js')--><script type="text/javascript" src="js/main.js"></script><script type="text/javascript" src="js/ga.js"></script><link rel="stylesheet" href="fonts/tttravel/stylesheet.css"/><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i"/><link rel="stylesheet" href="css/styles.css"/><script type="text/javascript" src="js/heap.js"></script></head><body><nav class="header header_dark" id="header"><div class="header__wrapper"><a href="index"><div class="header__logo"></div></a><div class="burger _mobile-burger"><img class="burger-img__dark" src="img/icon/burger_dark.svg" alt=""/><img class="burger-img__white" src="img/icon/burger_white.svg" alt=""/></div><div class="burger _desktop-burger"><img class="burger-img__dark" src="img/icon/burger_dark-desktop.svg" alt=""/><img class="burger-img__white" src="img/icon/burger_white-desktop.svg" alt=""/></div></div></nav><div class="burger-overlay"></div><div id="burger-content"><div class="header__wrapper"><img id="burger-close" src="./img/icon/close_dark-desktop.svg" alt=""/></div><div class="burger-content__wrapper"><nav><li class="burger-link-item"><div class="burger-link-index">01</div><a class="burger-link" href="index">Home</a></li><li class="burger-link-item"><div class="burger-link-index">02</div><a class="burger-link" href="cases">Portfolio</a><div class="burger-link__submenu"><a class="burger-link__submenu-item" href="short-portfolio">Quick sneak peeks</a></div></li><li class="burger-link-item"><div class="burger-link-index">03</div><a class="burger-link" href="info">What we do</a><div class="burger-link__submenu"><a class="burger-link__submenu-item" href="we-do-startups">Start ups</a><a class="burger-link__submenu-item" href="we-do-fintech">Fintech</a><a class="burger-link__submenu-item" href="we-do-automotive">Automotive</a></div></li><li class="burger-link-item"><div class="burger-link-index">04</div><a class="burger-link" href="contacts">Contact us</a></li><li class="burger-link-item"><div class="burger-link-index">05</div><a class="burger-link" href="blog">Know hows</a></li></nav><div class="burger__socials"><a class="info-worldwide__link" href="https://dribbble.com/humble_team"><div class="info-worldwide__link__img-wrap"><img class="info-worldwide__link-img" src="img/icon/icon-dribble.svg" alt=""/><img class="info-worldwide__link-img-blue" src="img/icon/icon-dribble-blue.svg" alt=""/></div></a><a class="info-worldwide__link" href="https://www.instagram.com/humbleteam.agency/"><div class="info-worldwide__link__img-wrap"><img class="info-worldwide__link-img" src="img/icon/icon-inst.svg" alt=""/><img class="info-worldwide__link-img-blue" src="img/icon/icon-inst-blue.svg" alt=""/></div></a><a class="info-worldwide__link" href="https://www.behance.net/humbleteam"><div class="info-worldwide__link__img-wrap"><img class="info-worldwide__link-img" src="img/icon/icon-behance.svg" alt=""/><img class="info-worldwide__link-img-blue" src="img/icon/icon-behance-blue.svg" alt=""/></div></a><a class="s burger__socials__mail" href="mailto:info@humbleteam.com?subject=Project request&amp;body=Hi Humbleteam,">info@humbleteam.com</a></div></div></div><div id="img-popup"><img id="img-popup-close" src="./img/icon/close_black.svg" alt=""/><div class="img-popup__img-wrap js-img-popup-img-wrap"><img class="img-popup__img js-img-popup-img" alt=""/></div></div><div class="wedo-promo js-first-screen" style="background-color:#001229"><div class="case-promo-bg"><img src="./img/cases-new/monitoring/main.jpg" srcset="./img/cases-new/monitoring/main@2x.jpg 2x" alt=""></div><div class="wedo-promo__content"><div class="wedo-promo__right"><img class="wedo-promo__right__img-mobile" src="./img/cases-new/monitoring/main-phone.jpg" srcset="./img/cases-new/monitoring/main-phone@2x.jpg 2x" alt=""></div><div class="wedo-promo__left"><h6 class="h6-small">Complete redesign of&nbsp;the SaaS product</h6><h1>Enterprise web service for&nbsp;synthetic monitoring</h1></div></div></div><div class="page-wrap"><div class="content-800 info-large-v-margin"><h6 class="h6-small brand-gray">What is it about</h6><p>Synthetic monitor provides up-to-the-minute insights into&nbsp;website performance and availability on&nbsp;a global scale. Used by&nbsp;thousands of&nbsp;users the original landing page was looking obsolete and didn’t perform well in&nbsp;terms of&nbsp;conversion and user acquisition.</p><!--.simple-row.mt-73--><!--    .auto-width-cell--><!--        h6.h6-small.brand-gray Investments--><!--        p.semi-bold $44,000,000+ (Series B)--><!----><!--    .auto-width-cell--><!--        h6.h6-small.brand-gray Client--><!--        p.semi-bold 48 employees--><!----><!--    .auto-width-cell--><!--        h6.h6-small.brand-gray Field--><!--        p.semi-bold Automotive, insurance, AR--><!----><!--.simple-row.mt-47--><!--    .auto-width-cell--><!--        h6.h6-small.brand-gray Accelerated in--><!----><!--        .simple-row--><!--            .auto-width-cell--><!--                .acceleratores-img-wrap--><!--                    img(src='./img/accelerators/startup-world-cup.png', srcset='./img/accelerators/startup-world-cup@2x.png 2x', alt='')--><!----><!--                .xs-small-line-height.brand-gray.centered Startup World Cup<br>& Summit--><!----><!--            .auto-width-cell--><!--                .acceleratores-img-wrap--><!--                    img(src='./img/accelerators/google-launchpad.png', srcset='./img/accelerators/google-launchpad@2x.png 2x', alt='')--><!----><!--                .xs-small-line-height.brand-gray.centered Google Launchpad<br>Accelerator--></div></div><div class="img-wrap-1420 info-large-v-margin"><div class="aspect-ratio"><iframe src="https://player.vimeo.com/video/232654503?color=0d64df&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
<script src="https://player.vimeo.com/api/player.js"></script></div></div><div class="content-800 info-large-v-margin"><h2>Totally reworked and optimised information structure</h2><p>The initial urge was to&nbsp;recreate the customer experience of&nbsp;the typical website user, who was facing an obsolete look and unclear information structure. The idea evolved to&nbsp;the one to&nbsp;have friendlier feel to&nbsp;stand out in&nbsp;comparison to&nbsp;the competitive products. We also approached the price policy together with&nbsp;the client and tried to&nbsp;provide adequate tariffs.</p></div><div class="img-wrap-1680 info-large-v-margin"><img class="wedo-wide-img__img js-popup-img" src="./img/cases-new/monitoring/full-size.jpg" srcset="./img/cases-new/monitoring/full-size@2x.jpg 2x" alt=""></div><div class="img-wrap-1420 flex align-items-center info-large-v-margin"><div class="flex-cell"><img class="js-popup-img" src="./img/cases-new/monitoring/map.png" srcset="./img/cases-new/monitoring/map@2x.png 2x" alt=""></div><div class="flex-cell"><div class="max-width-400"><h4>It's proved by&nbsp;usability tests</h4><p>The whole redesign process was covered by&nbsp;qualitative usability tests with&nbsp;real users. We tested the product as a set of&nbsp;graphic mockups along with&nbsp;the live website.</p><p>After several months, the product owner did a customer survey that showed overall satisfaction and appreciation of&nbsp;the redesigned version.</p></div></div></div><div class="img-wrap-1420 info-large-v-margin"><img class="wedo-wide-img__img js-popup-img" src="./img/cases-new/monitoring/home.jpg" srcset="./img/cases-new/monitoring/home@2x.jpg 2x" alt=""></div><div class="img-wrap-1420 flex info-large-v-margin"><div class="flex-cell"><img class="js-popup-img" src="./img/cases-new/monitoring/pricing.jpg" srcset="./img/cases-new/monitoring/pricing@2x.jpg 2x" alt=""></div><div class="flex-cell"><img class="js-popup-img" src="./img/cases-new/monitoring/feedback.jpg" srcset="./img/cases-new/monitoring/feedback@2x.jpg 2x" alt=""></div></div><div class="content-800 info-large-v-margin"><h3>Multi-platform solution</h3><p>We also produced a scalable mobile version without reducing the functions of&nbsp;the original product.</p></div><div class="img-wrap-1420 info-large-v-margin"><img class="wedo-wide-img__img js-popup-img" src="./img/cases-new/monitoring/mobile.jpg" srcset="./img/cases-new/monitoring/mobile@2x.jpg 2x" alt=""></div><div class="img-wrap-1420 info-large-v-margin"><img class="wedo-wide-img__img js-popup-img" src="./img/cases-new/monitoring/ui-kit.jpg" srcset="./img/cases-new/monitoring/ui-kit@2x.jpg 2x" alt=""></div><div class="wedo-lets-do"><div class="page-wrap"><div class="wedo-lets-do__content"><div class="wedo-lets-do__content"><h2>Lets do something cool together</h2><a class="wedo-lets-do__link" href="mailto:info@humbleteam.com?subject=Project request&amp;body=Hi Humbleteam,">info@humbleteam.com</a></div></div></div></div><br><div class="cases-portfolio-wrap"><div class="page-wrap"><div class="row index-portfolio__tiles-b"><a class="js-wow fadeInUpMy index-portfolio__tile" href="case-google-bank" data-wow-delay="0s"><img class="index-portfolio__tile-img" src="img/cases-new/google-bank/preview.jpg" srcset="img/cases-new/google-bank/preview@2x.jpg 2x" alt=""/><h6 class="h6-small brand-gray">Mobile app</h6><h5>Google bank concept &mdash; mobile banking for&nbsp;21st century</h5></a><a class="js-wow fadeInUpMy index-portfolio__tile" href="case-expenses" data-wow-delay="0.2s"><img class="index-portfolio__tile-img" src="img/cases-new/expenses/preview.jpg" srcset="img/cases-new/expenses/preview@2x.jpg 2x" alt=""/><h6 class="h6-small brand-gray">Landing page</h6><h5>Expense tracker in&nbsp;your pocket</h5></a></div></div></div><div class="info-large-v-margin" id="footer"><div class="footer-content"><div class="row"><div class="footer-logo-wrap"><a href="index.html"><img class="footer-logo" src="./img/logo-footer.svg" alt=""/></a></div><div class="footer-info-b"><a class="footer-text" href="mailto:info@humbleteam.com?subject=Project request&amp;body=Hi Humbleteam,">info@humbleteam.com</a><div class="footer-text">+420 776 828 895</div></div><div class="footer-info-b"><a class="footer-text" href="https://www.google.cz/maps/place/Rybn%C3%A1+716%2F24,+110+00+Praha+1-Star%C3%A9+M%C4%9Bsto/data=!4m2!3m1!1s0x470b94ea0da96c41:0xd926809755e5bf9a?sa=X&amp;ved=0ahUKEwiCkLCaxaDbAhUlCcAKHVulCtkQ8gEIKDAA" target="_blank">Czech Republic, Rybna 716/24<br>Prague Old Town</a></div><div class="footer__links-wrap"><a class="footer__link" href="https://dribbble.com/humble_team"><div class="footer__link__img-wrap"><img class="footer__link-img" src="img/icon/icon-dribble.svg" alt=""/><img class="footer__link-img-blue" src="img/icon/icon-dribble-blue.svg" alt=""/></div><div class="footer__link-text">Dribbble</div></a><a class="footer__link" href="https://www.behance.net/humbleteam"><div class="footer__link__img-wrap"><img class="footer__link-img" src="img/icon/icon-behance.svg" alt=""/><img class="footer__link-img-blue" src="img/icon/icon-behance-blue.svg" alt=""/></div><div class="footer__link-text">Behance</div></a><a class="footer__link" href="https://www.instagram.com/humbleteam.agency/"><div class="footer__link__img-wrap"><img class="footer__link-img" src="img/icon/icon-inst.svg" alt=""/><img class="footer__link-img-blue" src="img/icon/icon-inst-blue.svg" alt=""/></div><div class="footer__link-text">Instagram</div></a><a class="footer__link" href="https://vimeo.com/humbleteam"><div class="footer__link__img-wrap"><img class="footer__link-img" src="img/icon/icon-vimeo.svg" alt=""/><img class="footer__link-img-blue" src="img/icon/icon-vimeo-blue.svg" alt=""/></div><div class="footer__link-text">Vimeo</div></a><a class="footer__link" href="https://medium.com/@humbleteam"><div class="footer__link__img-wrap"><img class="footer__link-img" src="img/icon/icon-medium.svg" alt=""/><img class="footer__link-img-blue" src="img/icon/icon-medium-blue.svg" alt=""/></div><div class="footer__link-text">Medium</div></a></div></div></div></div></body></html>

src/pug/case-monitoring.pug
extends layout

include mixins/portfolio

block vars
    -
        var attributes = { 'class': 'cases-page white-bg' }
        var darkHeader = true

block content
    .wedo-promo.js-first-screen(style='background-color:#001229')
        .case-promo-bg
            img(src='./img/cases-new/monitoring/main.jpg', srcset='./img/cases-new/monitoring/main@2x.jpg 2x', alt='')

        .wedo-promo__content
            .wedo-promo__right
                img(src='./img/cases-new/monitoring/main-phone.jpg', srcset='./img/cases-new/monitoring/main-phone@2x.jpg 2x', alt='').wedo-promo__right__img-mobile

            .wedo-promo__left
                h6.h6-small Complete redesign of&nbsp;the SaaS product
                h1 Enterprise web service for&nbsp;synthetic monitoring

    .page-wrap
        .content-800.info-large-v-margin
            h6.h6-small.brand-gray What is it about
            p Synthetic monitor provides up-to-the-minute insights into&nbsp;website performance and availability on&nbsp;a global scale. Used by&nbsp;thousands of&nbsp;users the original landing page was looking obsolete and didn’t perform well in&nbsp;terms of&nbsp;conversion and user acquisition.

            //.simple-row.mt-73
            //    .auto-width-cell
            //        h6.h6-small.brand-gray Investments
            //        p.semi-bold $44,000,000+ (Series B)
            //
            //    .auto-width-cell
            //        h6.h6-small.brand-gray Client
            //        p.semi-bold 48 employees
            //
            //    .auto-width-cell
            //        h6.h6-small.brand-gray Field
            //        p.semi-bold Automotive, insurance, AR
            //
            //.simple-row.mt-47
            //    .auto-width-cell
            //        h6.h6-small.brand-gray Accelerated in
            //
            //        .simple-row
            //            .auto-width-cell
            //                .acceleratores-img-wrap
            //                    img(src='./img/accelerators/startup-world-cup.png', srcset='./img/accelerators/startup-world-cup@2x.png 2x', alt='')
            //
            //                .xs-small-line-height.brand-gray.centered Startup World Cup<br>& Summit
            //
            //            .auto-width-cell
            //                .acceleratores-img-wrap
            //                    img(src='./img/accelerators/google-launchpad.png', srcset='./img/accelerators/google-launchpad@2x.png 2x', alt='')
            //
            //                .xs-small-line-height.brand-gray.centered Google Launchpad<br>Accelerator

    //-
        .flex-wrapper.info-large-v-margin
            .left.hidden-md-down
                h6.h6-small.left-marker 01
                h6.h6-small Fundamental principles
            .content
                h4 General
                p Synthetic monitor provides up-to-the-minute insights into&nbsp;website performance and availability on&nbsp;a global scale. Used by&nbsp;thousands of&nbsp;users the original landing page was looking obsolete and didn't perform well in&nbsp;terms of&nbsp;conversion and user acquisition.
                br
                br
                h4 Workflow
                p Ideation, usability research, prototyping, interface design, launch, usability testing.

    .img-wrap-1420.info-large-v-margin
        .aspect-ratio
            <iframe src="https://player.vimeo.com/video/232654503?color=0d64df&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            <script src="https://player.vimeo.com/api/player.js"></script>

    .content-800.info-large-v-margin
        h2 Totally reworked and optimised information structure
        p The initial urge was to&nbsp;recreate the customer experience of&nbsp;the typical website user, who was facing an obsolete look and unclear information structure. The idea evolved to&nbsp;the one to&nbsp;have friendlier feel to&nbsp;stand out in&nbsp;comparison to&nbsp;the competitive products. We also approached the price policy together with&nbsp;the client and tried to&nbsp;provide adequate tariffs.

    .img-wrap-1680.info-large-v-margin
        img(src='./img/cases-new/monitoring/full-size.jpg', srcset='./img/cases-new/monitoring/full-size@2x.jpg 2x', alt='').wedo-wide-img__img.js-popup-img

    .img-wrap-1420.flex.align-items-center.info-large-v-margin
        .flex-cell
            img(src='./img/cases-new/monitoring/map.png', srcset='./img/cases-new/monitoring/map@2x.png 2x', alt='').js-popup-img
        .flex-cell
            .max-width-400
                h4 It's proved by&nbsp;usability tests
                p The whole redesign process was covered by&nbsp;qualitative usability tests with&nbsp;real users. We tested the product as a set of&nbsp;graphic mockups along with&nbsp;the live website.
                p After several months, the product owner did a customer survey that showed overall satisfaction and appreciation of&nbsp;the redesigned version.

    .img-wrap-1420.info-large-v-margin
        img(src='./img/cases-new/monitoring/home.jpg', srcset='./img/cases-new/monitoring/home@2x.jpg 2x', alt='').wedo-wide-img__img.js-popup-img

    .img-wrap-1420.flex.info-large-v-margin
        .flex-cell
            img(src='./img/cases-new/monitoring/pricing.jpg', srcset='./img/cases-new/monitoring/pricing@2x.jpg 2x', alt='').js-popup-img
        .flex-cell
            img(src='./img/cases-new/monitoring/feedback.jpg', srcset='./img/cases-new/monitoring/feedback@2x.jpg 2x', alt='').js-popup-img

    .content-800.info-large-v-margin
        h3 Multi-platform solution
        p We also produced a scalable mobile version without reducing the functions of&nbsp;the original product.

    .img-wrap-1420.info-large-v-margin
        img(src='./img/cases-new/monitoring/mobile.jpg', srcset='./img/cases-new/monitoring/mobile@2x.jpg 2x', alt='').wedo-wide-img__img.js-popup-img

    .img-wrap-1420.info-large-v-margin
        img(src='./img/cases-new/monitoring/ui-kit.jpg', srcset='./img/cases-new/monitoring/ui-kit@2x.jpg 2x', alt='').wedo-wide-img__img.js-popup-img

    .wedo-lets-do
        .page-wrap
            .wedo-lets-do__content
                +lets-do('info@humbleteam.com?subject=Project request&body=Hi Humbleteam,', '', '')

    -
        cases = [
            {
                link: 'case-google-bank',
                preview_folder: 'google-bank',
                tag: 'Mobile app',
                title: 'Google bank concept &mdash; mobile banking for&nbsp;21st century'
            }, {
                link: 'case-expenses',
                preview_folder: 'expenses',
                tag: 'Landing page',
                title: 'Expense tracker in&nbsp;your pocket'
            }
        ]

    br
    .cases-portfolio-wrap
        .page-wrap
            +portfolio(cases)
