build/case-expenses.html
<!DOCTYPE html><html class="cases-page white-bg" lang="en"><head><title>Humbleteam — digital agency</title><meta charset="utf-8"/><meta name="description" content="Humbleteam — digital agency"/><meta name="author" content="Humbleteam"/><meta name="viewport" content="width=device-width, initial-scale=1,  maximum-scale=1"/><link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon.png"/><link rel="icon" type="image/png" sizes="32x32" href="img/favicons/favicon-32x32.png"/><link rel="icon" type="image/png" sizes="16x16" href="img/favicons/favicon-16x16.png"/><link rel="manifest" href="/manifest.json"/><meta property="og:title" content="Humbleteam — digital agency"/><meta property="og:description" content="We are humbleteam. We create digital products at&amp;nbsp;the intersection of&amp;nbsp;users and business needs."/><meta property="og:image:height" content="630"/><meta property="og:image:width" content="1200"/><meta property="og:image" content="https://humbleteam.com/img/open-graph/social-image.jpg"/><meta name="theme-color" content="#ffffff"/><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script><!--script(type='text/javascript', src='js/nbsp.js')--><script type="text/javascript" src="js/main.js"></script><script type="text/javascript" src="js/ga.js"></script><link rel="stylesheet" href="fonts/tttravel/stylesheet.css"/><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i"/><link rel="stylesheet" href="css/styles.css"/><script type="text/javascript" src="js/heap.js"></script></head><body><nav class="header header_dark" id="header"><div class="header__wrapper"><a href="index"><div class="header__logo"></div></a><div class="burger _mobile-burger"><img class="burger-img__dark" src="img/icon/burger_dark.svg" alt=""/><img class="burger-img__white" src="img/icon/burger_white.svg" alt=""/></div><div class="burger _desktop-burger"><img class="burger-img__dark" src="img/icon/burger_dark-desktop.svg" alt=""/><img class="burger-img__white" src="img/icon/burger_white-desktop.svg" alt=""/></div></div></nav><div class="burger-overlay"></div><div id="burger-content"><div class="header__wrapper"><img id="burger-close" src="./img/icon/close_dark-desktop.svg" alt=""/></div><div class="burger-content__wrapper"><nav><li class="burger-link-item"><div class="burger-link-index">01</div><a class="burger-link" href="index">Home</a></li><li class="burger-link-item"><div class="burger-link-index">02</div><a class="burger-link" href="cases">Portfolio</a><div class="burger-link__submenu"><a class="burger-link__submenu-item" href="short-portfolio">Quick sneak peeks</a></div></li><li class="burger-link-item"><div class="burger-link-index">03</div><a class="burger-link" href="info">What we do</a><div class="burger-link__submenu"><a class="burger-link__submenu-item" href="we-do-startups">Start ups</a><a class="burger-link__submenu-item" href="we-do-fintech">Fintech</a><a class="burger-link__submenu-item" href="we-do-automotive">Automotive</a></div></li><li class="burger-link-item"><div class="burger-link-index">04</div><a class="burger-link" href="contacts">Contact us</a></li><li class="burger-link-item"><div class="burger-link-index">05</div><a class="burger-link" href="blog">Know hows</a></li></nav><div class="burger__socials"><a class="info-worldwide__link" href="https://dribbble.com/humble_team"><div class="info-worldwide__link__img-wrap"><img class="info-worldwide__link-img" src="img/icon/icon-dribble.svg" alt=""/><img class="info-worldwide__link-img-blue" src="img/icon/icon-dribble-blue.svg" alt=""/></div></a><a class="info-worldwide__link" href="https://www.instagram.com/humbleteam.agency/"><div class="info-worldwide__link__img-wrap"><img class="info-worldwide__link-img" src="img/icon/icon-inst.svg" alt=""/><img class="info-worldwide__link-img-blue" src="img/icon/icon-inst-blue.svg" alt=""/></div></a><a class="info-worldwide__link" href="https://www.behance.net/humbleteam"><div class="info-worldwide__link__img-wrap"><img class="info-worldwide__link-img" src="img/icon/icon-behance.svg" alt=""/><img class="info-worldwide__link-img-blue" src="img/icon/icon-behance-blue.svg" alt=""/></div></a><a class="s burger__socials__mail" href="mailto:info@humbleteam.com?subject=Project request&amp;body=Hi Humbleteam,">info@humbleteam.com</a></div></div></div><div id="img-popup"><img id="img-popup-close" src="./img/icon/close_black.svg" alt=""/><div class="img-popup__img-wrap js-img-popup-img-wrap"><img class="img-popup__img js-img-popup-img" alt=""/></div></div><div class="wedo-promo js-first-screen" style="background-color:#0b053b"><div class="case-promo-bg"><img src="./img/cases-new/expenses/main.jpg" srcset="./img/cases-new/expenses/main@2x.jpg 2x" alt=""></div><div class="wedo-promo__content"><div class="wedo-promo__right"><img class="wedo-promo__right__img-mobile" src="./img/cases-new/expenses/main-phone.jpg" srcset="./img/cases-new/expenses/main-phone@2x.jpg 2x" alt=""></div><div class="wedo-promo__left"><h6 class="h6-small">Simple and subtle expense management</h6><h1>Expense tracker in&nbsp;your pocket</h1></div></div></div><div class="page-wrap"><div class="flex-wrapper info-large-v-margin"><div class="left hidden-md-down"><h6 class="h6-small left-marker">01</h6><h6 class="h6-small">What is it about</h6></div><div class="content"><h4>General</h4><p>Landing page design and illustrations for the automated expense tracker.</p><br><br><h4>Problem</h4><p>The website was not reflecting the features of&nbsp;the upcoming new app.</p><br><br><h4>Workflow</h4><p>Updating the script and producing a scenario for&nbsp;a story, drafting the storyboard, producing illustrations, creating the UI and layouts.</p></div></div></div><div class="img-wrap-1420 info-large-v-margin"><img class="wedo-wide-img__img js-popup-img" src="./img/cases-new/expenses/0.jpg" srcset="./img/cases-new/expenses/0@2x.jpg 2x" alt=""></div><div class="content-800 info-large-v-margin"><h3>We get acquainted with&nbsp;the product and its features to&nbsp;create a storyboard for&nbsp;the presentational web page</h3><p>As we all pretty much could relate to&nbsp;the problem of&nbsp;submitting expenses and trip planning, we were very eager to&nbsp;tell the world about this fascinating piece of&nbsp;technology in&nbsp;the best possible way we can.</p></div><div class="img-wrap-1420 info-large-v-margin"><img class="wedo-wide-img__img js-popup-img" src="./img/cases-new/expenses/1.jpg" srcset="./img/cases-new/expenses/1@2x.jpg 2x" alt=""></div><div class="img-wrap-1420 info-large-v-margin"><img class="wedo-wide-img__img js-popup-img" src="./img/cases-new/expenses/2.jpg" srcset="./img/cases-new/expenses/2@2x.jpg 2x" alt=""></div><div class="img-wrap-1420 info-large-v-margin"><img class="wedo-wide-img__img js-popup-img" src="./img/cases-new/expenses/3.jpg" srcset="./img/cases-new/expenses/3@2x.jpg 2x" alt=""></div><div class="img-wrap-1420 info-large-v-margin"><img class="wedo-wide-img__img js-popup-img" src="./img/cases-new/expenses/4.jpg" srcset="./img/cases-new/expenses/4@2x.jpg 2x" alt=""></div><div class="img-wrap-1420 info-large-v-margin"><img class="wedo-wide-img__img js-popup-img" src="./img/cases-new/expenses/5.jpg" srcset="./img/cases-new/expenses/5@2x.jpg 2x" alt=""></div><div class="img-wrap-1420 info-large-v-margin"><img class="wedo-wide-img__img js-popup-img" src="./img/cases-new/expenses/6.jpg" srcset="./img/cases-new/expenses/6@2x.jpg 2x" alt=""></div><div class="img-wrap-1420 flex info-large-v-margin"><div class="flex-cell"><img class="js-popup-img" src="./img/cases-new/expenses/7.jpg" srcset="./img/cases-new/expenses/7@2x.jpg 2x" alt=""></div><div class="flex-cell"><img class="js-popup-img" src="./img/cases-new/expenses/8-book.jpg" srcset="./img/cases-new/expenses/8-book@2x.jpg 2x" alt=""></div></div><div class="content-800 info-large-v-margin"><h3>First, we took a rough script submitted by&nbsp;our client's team and turned it into&nbsp;a script broken into&nbsp;scenes</h3><p>That would tell a story according to&nbsp;the common storytelling rules and according to&nbsp;the technical restrictions that we assumed would be valid during the execution stage.</p><p>We illustrated the scenes one by one to create a smooth flow and present chunks of data one at a time using simple real-life examples like planning a business trip, purchasing flight tickets or taking an Uber.</p></div><div class="img-wrap-1420 flex info-large-v-margin"><div class="flex-cell"><img class="js-popup-img" src="./img/cases-new/expenses/grid-1.jpg" srcset="./img/cases-new/expenses/grid-1@2x.jpg 2x" alt=""></div><div class="flex-cell"><div class="max-width-400"><h4>We decided to go with vertically stitched frames with transition animations between those</h4><p>Our designers created a layout for controls and text boxes: pieces of text would appear smoothly one by one telling about a specific feature being applied to a real-life situation.</p></div></div></div><div class="wedo-lets-do"><div class="page-wrap"><div class="wedo-lets-do__content"><div class="wedo-lets-do__content"><h2>Lets do something cool together</h2><a class="wedo-lets-do__link" href="mailto:info@humbleteam.com?subject=Project request&amp;body=Hi Humbleteam,">info@humbleteam.com</a></div></div></div></div><br><div class="cases-portfolio-wrap"><div class="page-wrap"><div class="row index-portfolio__tiles-b"><a class="js-wow fadeInUpMy index-portfolio__tile" href="case-monitoring" data-wow-delay="0s"><img class="index-portfolio__tile-img" src="img/cases-new/monitoring/preview.jpg" srcset="img/cases-new/monitoring/preview@2x.jpg 2x" alt=""/><h6 class="h6-small brand-gray">Landing page and web service</h6><h5>Enterprise monitoring system &mdash; complete redesign of&nbsp;the SaaS product</h5></a><a class="js-wow fadeInUpMy index-portfolio__tile" href="case-boule" data-wow-delay="0.2s"><img class="index-portfolio__tile-img" src="img/cases-new/boule/preview.jpg" srcset="img/cases-new/boule/preview@2x.jpg 2x" alt=""/><h6 class="h6-small brand-gray">Web service</h6><h5>Boule &mdash; blockchain voting system</h5></a></div></div></div><div class="info-large-v-margin" id="footer"><div class="footer-content"><div class="row"><div class="footer-logo-wrap"><a href="index.html"><img class="footer-logo" src="./img/logo-footer.svg" alt=""/></a></div><div class="footer-info-b"><a class="footer-text" href="mailto:info@humbleteam.com?subject=Project request&amp;body=Hi Humbleteam,">info@humbleteam.com</a><div class="footer-text">+420 776 828 895</div></div><div class="footer-info-b"><a class="footer-text" href="https://www.google.cz/maps/place/Rybn%C3%A1+716%2F24,+110+00+Praha+1-Star%C3%A9+M%C4%9Bsto/data=!4m2!3m1!1s0x470b94ea0da96c41:0xd926809755e5bf9a?sa=X&amp;ved=0ahUKEwiCkLCaxaDbAhUlCcAKHVulCtkQ8gEIKDAA" target="_blank">Czech Republic, Rybna 716/24<br>Prague Old Town</a></div><div class="footer__links-wrap"><a class="footer__link" href="https://dribbble.com/humble_team"><div class="footer__link__img-wrap"><img class="footer__link-img" src="img/icon/icon-dribble.svg" alt=""/><img class="footer__link-img-blue" src="img/icon/icon-dribble-blue.svg" alt=""/></div><div class="footer__link-text">Dribbble</div></a><a class="footer__link" href="https://www.behance.net/humbleteam"><div class="footer__link__img-wrap"><img class="footer__link-img" src="img/icon/icon-behance.svg" alt=""/><img class="footer__link-img-blue" src="img/icon/icon-behance-blue.svg" alt=""/></div><div class="footer__link-text">Behance</div></a><a class="footer__link" href="https://www.instagram.com/humbleteam.agency/"><div class="footer__link__img-wrap"><img class="footer__link-img" src="img/icon/icon-inst.svg" alt=""/><img class="footer__link-img-blue" src="img/icon/icon-inst-blue.svg" alt=""/></div><div class="footer__link-text">Instagram</div></a><a class="footer__link" href="https://vimeo.com/humbleteam"><div class="footer__link__img-wrap"><img class="footer__link-img" src="img/icon/icon-vimeo.svg" alt=""/><img class="footer__link-img-blue" src="img/icon/icon-vimeo-blue.svg" alt=""/></div><div class="footer__link-text">Vimeo</div></a><a class="footer__link" href="https://medium.com/@humbleteam"><div class="footer__link__img-wrap"><img class="footer__link-img" src="img/icon/icon-medium.svg" alt=""/><img class="footer__link-img-blue" src="img/icon/icon-medium-blue.svg" alt=""/></div><div class="footer__link-text">Medium</div></a></div></div></div></div></body></html>

src/pug/case-expenses.pug
extends layout

include mixins/portfolio

block vars
    -
        var attributes = { 'class': 'cases-page white-bg' }
        var darkHeader = true

block content
    .wedo-promo.js-first-screen(style='background-color:#0b053b')
        .case-promo-bg
            img(src='./img/cases-new/expenses/main.jpg', srcset='./img/cases-new/expenses/main@2x.jpg 2x', alt='')

        .wedo-promo__content
            .wedo-promo__right
                img(src='./img/cases-new/expenses/main-phone.jpg', srcset='./img/cases-new/expenses/main-phone@2x.jpg 2x', alt='').wedo-promo__right__img-mobile

            .wedo-promo__left
                h6.h6-small Simple and subtle expense management
                h1 Expense tracker in&nbsp;your pocket

    .page-wrap
        .flex-wrapper.info-large-v-margin
            .left.hidden-md-down
                h6.h6-small.left-marker 01
                h6.h6-small What is it about
            .content
                h4 General
                p Landing page design and illustrations for the automated expense tracker.
                br
                br
                h4 Problem
                p The website was not reflecting the features of&nbsp;the upcoming new app.
                br
                br
                h4 Workflow
                p Updating the script and producing a scenario for&nbsp;a story, drafting the storyboard, producing illustrations, creating the UI and layouts.

    .img-wrap-1420.info-large-v-margin
        img(src='./img/cases-new/expenses/0.jpg', srcset='./img/cases-new/expenses/0@2x.jpg 2x', alt='').wedo-wide-img__img.js-popup-img

    .content-800.info-large-v-margin
        h3 We get acquainted with&nbsp;the product and its features to&nbsp;create a storyboard for&nbsp;the presentational web page
        p As we all pretty much could relate to&nbsp;the problem of&nbsp;submitting expenses and trip planning, we were very eager to&nbsp;tell the world about this fascinating piece of&nbsp;technology in&nbsp;the best possible way we can.

    .img-wrap-1420.info-large-v-margin
        img(src='./img/cases-new/expenses/1.jpg', srcset='./img/cases-new/expenses/1@2x.jpg 2x', alt='').wedo-wide-img__img.js-popup-img

    .img-wrap-1420.info-large-v-margin
        img(src='./img/cases-new/expenses/2.jpg', srcset='./img/cases-new/expenses/2@2x.jpg 2x', alt='').wedo-wide-img__img.js-popup-img

    .img-wrap-1420.info-large-v-margin
        img(src='./img/cases-new/expenses/3.jpg', srcset='./img/cases-new/expenses/3@2x.jpg 2x', alt='').wedo-wide-img__img.js-popup-img

    .img-wrap-1420.info-large-v-margin
        img(src='./img/cases-new/expenses/4.jpg', srcset='./img/cases-new/expenses/4@2x.jpg 2x', alt='').wedo-wide-img__img.js-popup-img

    .img-wrap-1420.info-large-v-margin
        img(src='./img/cases-new/expenses/5.jpg', srcset='./img/cases-new/expenses/5@2x.jpg 2x', alt='').wedo-wide-img__img.js-popup-img

    .img-wrap-1420.info-large-v-margin
        img(src='./img/cases-new/expenses/6.jpg', srcset='./img/cases-new/expenses/6@2x.jpg 2x', alt='').wedo-wide-img__img.js-popup-img

    .img-wrap-1420.flex.info-large-v-margin
        .flex-cell
            img(src='./img/cases-new/expenses/7.jpg', srcset='./img/cases-new/expenses/7@2x.jpg 2x', alt='').js-popup-img
        .flex-cell
            img(src='./img/cases-new/expenses/8-book.jpg', srcset='./img/cases-new/expenses/8-book@2x.jpg 2x', alt='').js-popup-img

    .content-800.info-large-v-margin
        h3 First, we took a rough script submitted by&nbsp;our client's team and turned it into&nbsp;a script broken into&nbsp;scenes
        p That would tell a story according to&nbsp;the common storytelling rules and according to&nbsp;the technical restrictions that we assumed would be valid during the execution stage.
        p We illustrated the scenes one by one to create a smooth flow and present chunks of data one at a time using simple real-life examples like planning a business trip, purchasing flight tickets or taking an Uber.

    .img-wrap-1420.flex.info-large-v-margin
        .flex-cell
            img(src='./img/cases-new/expenses/grid-1.jpg', srcset='./img/cases-new/expenses/grid-1@2x.jpg 2x', alt='').js-popup-img
        .flex-cell
            .max-width-400
                h4 We decided to go with vertically stitched frames with transition animations between those
                p Our designers created a layout for controls and text boxes: pieces of text would appear smoothly one by one telling about a specific feature being applied to a real-life situation.

    .wedo-lets-do
        .page-wrap
            .wedo-lets-do__content
                +lets-do('info@humbleteam.com?subject=Project request&body=Hi Humbleteam,', '', '')

    -
        cases = [
            {
                link: 'case-monitoring',
                preview_folder: 'monitoring',
                tag: 'Landing page and web service',
                title: 'Enterprise monitoring system &mdash; complete redesign of&nbsp;the SaaS product'
            }, {
                link: 'case-boule',
                preview_folder: 'boule',
                tag: 'Web service',
                title: 'Boule &mdash; blockchain voting system'
            }
        ]

    br
    .cases-portfolio-wrap
        .page-wrap
            +portfolio(cases)
