src/pug/case-oxygen.pug
extends layout

include mixins/portfolio

block vars
    -
        var attributes = { 'class': 'cases-page white-bg' }
        var darkHeader = true
        var caseColor = 'white'

block content
    .wedo-promo.js-first-screen(style='background-color: #043aa6')
        .case-promo-bg
            img(src='./img/cases-new/oxygen/main.jpg', srcset='./img/cases-new/oxygen/main@2x.jpg 2x', alt='')

        .wedo-promo__content
            .wedo-promo__right
                img(src='./img/cases-new/oxygen/main-phone.jpg', srcset='./img/cases-new/oxygen/main-phone@2x.jpg 2x', alt='').wedo-promo__right__img-mobile

            .wedo-promo__left
                h6.h6-small Consistent inconsistency
                h1 Financial overview and a helping hand in&nbsp;a mobile app

    .page-wrap
        .flex-wrapper.info-large-v-margin
            .left.hidden-md-down
                h6.h6-small.left-marker 01
                h6.h6-small What is it about
            .content
                h4 General
                p Gig economy is inevitably growing and it’s not all rainbows and unicorns — it’s hard for&nbsp;some to&nbsp;maintain the steady income, which might depend on&nbsp;season or&nbsp;a changing demand for&nbsp;skillset.
                p There’s a new type of&nbsp;banking app to&nbsp;fill in&nbsp;this new void of&nbsp;inconsistent personal finances. It should help our user to&nbsp;keep an eye on&nbsp;their own financial health, make predictions about the future and yes, lend money when traditional banks refuse to&nbsp;do that because of&nbsp;inconsistent nature of&nbsp;the user’s income.
                br
                br
                h4 Problem
                p There’s a whole market of&nbsp;professionals that are not fitting into&nbsp;current 9 to&nbsp;5 office system, they are freelancers. However, they are still in&nbsp;need of&nbsp;financial tools, just like everyone else. Banks, on&nbsp;the other side, are hostile towards people who are falling out of&nbsp;a standard pattern.

    .img-wrap-1680.info-large-v-margin
        img(src='./img/cases-new/oxygen/1.jpg', srcset='./img/cases-new/oxygen/1@2x.jpg 2x', alt='').wedo-wide-img__img.js-popup-img

    .content-800.info-large-v-margin
        h2 Solution
        p We started with&nbsp;understanding the problem in&nbsp;the first place — people out of&nbsp;the traditional banking system needed support. Should our user have any issues or&nbsp;questions — the app’s dashboard is the go-to place. We iterated the concepts of&nbsp;the home page that contained all vital information and had links to&nbsp;all major screens.
        p We decided to&nbsp;go with&nbsp;high contrast and bold typography on&nbsp;the app that should accompany the new brand look and feel.

    .img-wrap-1420.flex.align-items-center.info-large-v-margin(style='background-color: ' + caseColor)
        .flex-cell
            img(src='./img/cases-new/oxygen/2.jpg', srcset='./img/cases-new/oxygen/2@2x.jpg 2x', alt='').js-popup-img
        .flex-cell
            .max-width-400
                h4 Main screen
                p Every piece of&nbsp;vital information is shown here: safe to&nbsp;spend amount, income, expenses and financial forecast being indicators of&nbsp;user’s financial health. Upcoming and recent transactions are another handy tools to&nbsp;plan and account resources.

    .img-wrap-1420.flex.align-items-center.info-large-v-margin(style='background-color: ' + caseColor)
        .flex-cell
            .max-width-400
                h4 Extra money
                p Whenever system indicates financial difficulties, e.g. upcoming transactions exceed forecasted income, it offers user to&nbsp;cover it up with&nbsp;a cash transfer.
        .flex-cell
            img(src='./img/cases-new/oxygen/3.jpg', srcset='./img/cases-new/oxygen/3@2x.jpg 2x', alt='').js-popup-img


    .img-wrap-1420.flex.align-items-center.info-large-v-margin(style='background-color: ' + caseColor)
        .flex-cell
            img(src='./img/cases-new/oxygen/4.jpg', srcset='./img/cases-new/oxygen/4@2x.jpg 2x', alt='').js-popup-img
        .flex-cell
            .max-width-400
                h4 Financial overview
                p Screen devoted to&nbsp;the financial state at&nbsp;a certain point in&nbsp;time with&nbsp;the ability to&nbsp;expand and drill down on&nbsp;any piece of&nbsp;information.

    .content-800.info-large-v-margin
        h2 Making repayment discreet
        p Probably the coolest part of&nbsp;the app is the borrowing and repaying mechanism — it could be done through the freelance work, like driving an Uber or&nbsp;completing projects on&nbsp;Upwork. We built the whole borrowing sequence around that.

    .img-wrap-1420.info-large-v-margin
        img(src='./img/cases-new/oxygen/5.jpg', srcset='./img/cases-new/oxygen/5@2x.jpg 2x', alt='').wedo-wide-img__img.js-popup-img
        img(src='./img/cases-new/oxygen/6.jpg', srcset='./img/cases-new/oxygen/6@2x.jpg 2x', alt='').wedo-wide-img__img.js-popup-img

    .wedo-lets-do
        .page-wrap
            .wedo-lets-do__content
                +lets-do('info@humbleteam.com?subject=Project request&body=Hi Humbleteam,', '', '')

    -
        cases = [
        {
            link: 'case-misterporter',
            preview_folder: 'misterporter',
            tag: 'Web service',
            title: 'Web service for&nbsp;automating Airbnb business'
        }, {
            link: 'case-google-bank',
            preview_folder: 'google-bank',
            tag: 'Mobile app',
            title: 'Google bank concept &mdash; mobile banking for&nbsp;21st century'
            }
        ]

    br
    .cases-portfolio-wrap
        .page-wrap
            +portfolio(cases)

build/case-oxygen.html
<!DOCTYPE html><html class="cases-page white-bg" lang="en"><head><title>Humbleteam — digital agency</title><meta charset="utf-8"/><meta name="description" content="Humbleteam — digital agency"/><meta name="author" content="Humbleteam"/><meta name="viewport" content="width=device-width, initial-scale=1,  maximum-scale=1"/><link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon.png"/><link rel="icon" type="image/png" sizes="32x32" href="img/favicons/favicon-32x32.png"/><link rel="icon" type="image/png" sizes="16x16" href="img/favicons/favicon-16x16.png"/><link rel="manifest" href="/manifest.json"/><meta property="og:title" content="Humbleteam — digital agency"/><meta property="og:description" content="We are humbleteam. We create digital products at&amp;nbsp;the intersection of&amp;nbsp;users and business needs."/><meta property="og:image:height" content="630"/><meta property="og:image:width" content="1200"/><meta property="og:image" content="https://humbleteam.com/img/open-graph/social-image.jpg"/><meta name="theme-color" content="#ffffff"/><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script><!--script(type='text/javascript', src='js/nbsp.js')--><script type="text/javascript" src="js/main.js"></script><script type="text/javascript" src="js/ga.js"></script><link rel="stylesheet" href="fonts/tttravel/stylesheet.css"/><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i"/><link rel="stylesheet" href="css/styles.css"/><script type="text/javascript" src="js/heap.js"></script></head><body><nav class="header header_dark" id="header"><div class="header__wrapper"><a href="index"><div class="header__logo"></div></a><div class="burger _mobile-burger"><img class="burger-img__dark" src="img/icon/burger_dark.svg" alt=""/><img class="burger-img__white" src="img/icon/burger_white.svg" alt=""/></div><div class="burger _desktop-burger"><img class="burger-img__dark" src="img/icon/burger_dark-desktop.svg" alt=""/><img class="burger-img__white" src="img/icon/burger_white-desktop.svg" alt=""/></div></div></nav><div class="burger-overlay"></div><div id="burger-content"><div class="header__wrapper"><img id="burger-close" src="./img/icon/close_dark-desktop.svg" alt=""/></div><div class="burger-content__wrapper"><nav><li class="burger-link-item"><div class="burger-link-index">01</div><a class="burger-link" href="index">Home</a></li><li class="burger-link-item"><div class="burger-link-index">02</div><a class="burger-link" href="cases">Portfolio</a><div class="burger-link__submenu"><a class="burger-link__submenu-item" href="short-portfolio">Quick sneak peeks</a></div></li><li class="burger-link-item"><div class="burger-link-index">03</div><a class="burger-link" href="info">What we do</a><div class="burger-link__submenu"><a class="burger-link__submenu-item" href="we-do-startups">Start ups</a><a class="burger-link__submenu-item" href="we-do-fintech">Fintech</a><a class="burger-link__submenu-item" href="we-do-automotive">Automotive</a></div></li><li class="burger-link-item"><div class="burger-link-index">04</div><a class="burger-link" href="contacts">Contact us</a></li><li class="burger-link-item"><div class="burger-link-index">05</div><a class="burger-link" href="blog">Know hows</a></li></nav><div class="burger__socials"><a class="info-worldwide__link" href="https://dribbble.com/humble_team"><div class="info-worldwide__link__img-wrap"><img class="info-worldwide__link-img" src="img/icon/icon-dribble.svg" alt=""/><img class="info-worldwide__link-img-blue" src="img/icon/icon-dribble-blue.svg" alt=""/></div></a><a class="info-worldwide__link" href="https://www.instagram.com/humbleteam.agency/"><div class="info-worldwide__link__img-wrap"><img class="info-worldwide__link-img" src="img/icon/icon-inst.svg" alt=""/><img class="info-worldwide__link-img-blue" src="img/icon/icon-inst-blue.svg" alt=""/></div></a><a class="info-worldwide__link" href="https://www.behance.net/humbleteam"><div class="info-worldwide__link__img-wrap"><img class="info-worldwide__link-img" src="img/icon/icon-behance.svg" alt=""/><img class="info-worldwide__link-img-blue" src="img/icon/icon-behance-blue.svg" alt=""/></div></a><a class="s burger__socials__mail" href="mailto:info@humbleteam.com?subject=Project request&amp;body=Hi Humbleteam,">info@humbleteam.com</a></div></div></div><div id="img-popup"><img id="img-popup-close" src="./img/icon/close_black.svg" alt=""/><div class="img-popup__img-wrap js-img-popup-img-wrap"><img class="img-popup__img js-img-popup-img" alt=""/></div></div><div class="wedo-promo js-first-screen" style="background-color: #043aa6"><div class="case-promo-bg"><img src="./img/cases-new/oxygen/main.jpg" srcset="./img/cases-new/oxygen/main@2x.jpg 2x" alt=""></div><div class="wedo-promo__content"><div class="wedo-promo__right"><img class="wedo-promo__right__img-mobile" src="./img/cases-new/oxygen/main-phone.jpg" srcset="./img/cases-new/oxygen/main-phone@2x.jpg 2x" alt=""></div><div class="wedo-promo__left"><h6 class="h6-small">Consistent inconsistency</h6><h1>Financial overview and a helping hand in&nbsp;a mobile app</h1></div></div></div><div class="page-wrap"><div class="flex-wrapper info-large-v-margin"><div class="left hidden-md-down"><h6 class="h6-small left-marker">01</h6><h6 class="h6-small">What is it about</h6></div><div class="content"><h4>General</h4><p>Gig economy is inevitably growing and it’s not all rainbows and unicorns — it’s hard for&nbsp;some to&nbsp;maintain the steady income, which might depend on&nbsp;season or&nbsp;a changing demand for&nbsp;skillset.</p><p>There’s a new type of&nbsp;banking app to&nbsp;fill in&nbsp;this new void of&nbsp;inconsistent personal finances. It should help our user to&nbsp;keep an eye on&nbsp;their own financial health, make predictions about the future and yes, lend money when traditional banks refuse to&nbsp;do that because of&nbsp;inconsistent nature of&nbsp;the user’s income.</p><br><br><h4>Problem</h4><p>There’s a whole market of&nbsp;professionals that are not fitting into&nbsp;current 9 to&nbsp;5 office system, they are freelancers. However, they are still in&nbsp;need of&nbsp;financial tools, just like everyone else. Banks, on&nbsp;the other side, are hostile towards people who are falling out of&nbsp;a standard pattern.</p></div></div></div><div class="img-wrap-1680 info-large-v-margin"><img class="wedo-wide-img__img js-popup-img" src="./img/cases-new/oxygen/1.jpg" srcset="./img/cases-new/oxygen/1@2x.jpg 2x" alt=""></div><div class="content-800 info-large-v-margin"><h2>Solution</h2><p>We started with&nbsp;understanding the problem in&nbsp;the first place — people out of&nbsp;the traditional banking system needed support. Should our user have any issues or&nbsp;questions — the app’s dashboard is the go-to place. We iterated the concepts of&nbsp;the home page that contained all vital information and had links to&nbsp;all major screens.</p><p>We decided to&nbsp;go with&nbsp;high contrast and bold typography on&nbsp;the app that should accompany the new brand look and feel.</p></div><div class="img-wrap-1420 flex align-items-center info-large-v-margin" style="background-color: white"><div class="flex-cell"><img class="js-popup-img" src="./img/cases-new/oxygen/2.jpg" srcset="./img/cases-new/oxygen/2@2x.jpg 2x" alt=""></div><div class="flex-cell"><div class="max-width-400"><h4>Main screen</h4><p>Every piece of&nbsp;vital information is shown here: safe to&nbsp;spend amount, income, expenses and financial forecast being indicators of&nbsp;user’s financial health. Upcoming and recent transactions are another handy tools to&nbsp;plan and account resources.</p></div></div></div><div class="img-wrap-1420 flex align-items-center info-large-v-margin" style="background-color: white"><div class="flex-cell"><div class="max-width-400"><h4>Extra money</h4><p>Whenever system indicates financial difficulties, e.g. upcoming transactions exceed forecasted income, it offers user to&nbsp;cover it up with&nbsp;a cash transfer.</p></div></div><div class="flex-cell"><img class="js-popup-img" src="./img/cases-new/oxygen/3.jpg" srcset="./img/cases-new/oxygen/3@2x.jpg 2x" alt=""></div></div><div class="img-wrap-1420 flex align-items-center info-large-v-margin" style="background-color: white"><div class="flex-cell"><img class="js-popup-img" src="./img/cases-new/oxygen/4.jpg" srcset="./img/cases-new/oxygen/4@2x.jpg 2x" alt=""></div><div class="flex-cell"><div class="max-width-400"><h4>Financial overview</h4><p>Screen devoted to&nbsp;the financial state at&nbsp;a certain point in&nbsp;time with&nbsp;the ability to&nbsp;expand and drill down on&nbsp;any piece of&nbsp;information.</p></div></div></div><div class="content-800 info-large-v-margin"><h2>Making repayment discreet</h2><p>Probably the coolest part of&nbsp;the app is the borrowing and repaying mechanism — it could be done through the freelance work, like driving an Uber or&nbsp;completing projects on&nbsp;Upwork. We built the whole borrowing sequence around that.</p></div><div class="img-wrap-1420 info-large-v-margin"><img class="wedo-wide-img__img js-popup-img" src="./img/cases-new/oxygen/5.jpg" srcset="./img/cases-new/oxygen/5@2x.jpg 2x" alt=""><img class="wedo-wide-img__img js-popup-img" src="./img/cases-new/oxygen/6.jpg" srcset="./img/cases-new/oxygen/6@2x.jpg 2x" alt=""></div><div class="wedo-lets-do"><div class="page-wrap"><div class="wedo-lets-do__content"><div class="wedo-lets-do__content"><h2>Lets do something cool together</h2><a class="wedo-lets-do__link" href="mailto:info@humbleteam.com?subject=Project request&amp;body=Hi Humbleteam,">info@humbleteam.com</a></div></div></div></div><br><div class="cases-portfolio-wrap"><div class="page-wrap"><div class="row index-portfolio__tiles-b"><a class="js-wow fadeInUpMy index-portfolio__tile" href="case-misterporter" data-wow-delay="0s"><img class="index-portfolio__tile-img" src="img/cases-new/misterporter/preview.jpg" srcset="img/cases-new/misterporter/preview@2x.jpg 2x" alt=""/><h6 class="h6-small brand-gray">Web service</h6><h5>Web service for&nbsp;automating Airbnb business</h5></a><a class="js-wow fadeInUpMy index-portfolio__tile" href="case-google-bank" data-wow-delay="0.2s"><img class="index-portfolio__tile-img" src="img/cases-new/google-bank/preview.jpg" srcset="img/cases-new/google-bank/preview@2x.jpg 2x" alt=""/><h6 class="h6-small brand-gray">Mobile app</h6><h5>Google bank concept &mdash; mobile banking for&nbsp;21st century</h5></a></div></div></div><div class="info-large-v-margin" id="footer"><div class="footer-content"><div class="row"><div class="footer-logo-wrap"><a href="index.html"><img class="footer-logo" src="./img/logo-footer.svg" alt=""/></a></div><div class="footer-info-b"><a class="footer-text" href="mailto:info@humbleteam.com?subject=Project request&amp;body=Hi Humbleteam,">info@humbleteam.com</a><div class="footer-text">+420 776 828 895</div></div><div class="footer-info-b"><a class="footer-text" href="https://www.google.cz/maps/place/Rybn%C3%A1+716%2F24,+110+00+Praha+1-Star%C3%A9+M%C4%9Bsto/data=!4m2!3m1!1s0x470b94ea0da96c41:0xd926809755e5bf9a?sa=X&amp;ved=0ahUKEwiCkLCaxaDbAhUlCcAKHVulCtkQ8gEIKDAA" target="_blank">Czech Republic, Rybna 716/24<br>Prague Old Town</a></div><div class="footer__links-wrap"><a class="footer__link" href="https://dribbble.com/humble_team"><div class="footer__link__img-wrap"><img class="footer__link-img" src="img/icon/icon-dribble.svg" alt=""/><img class="footer__link-img-blue" src="img/icon/icon-dribble-blue.svg" alt=""/></div><div class="footer__link-text">Dribbble</div></a><a class="footer__link" href="https://www.behance.net/humbleteam"><div class="footer__link__img-wrap"><img class="footer__link-img" src="img/icon/icon-behance.svg" alt=""/><img class="footer__link-img-blue" src="img/icon/icon-behance-blue.svg" alt=""/></div><div class="footer__link-text">Behance</div></a><a class="footer__link" href="https://www.instagram.com/humbleteam.agency/"><div class="footer__link__img-wrap"><img class="footer__link-img" src="img/icon/icon-inst.svg" alt=""/><img class="footer__link-img-blue" src="img/icon/icon-inst-blue.svg" alt=""/></div><div class="footer__link-text">Instagram</div></a><a class="footer__link" href="https://vimeo.com/humbleteam"><div class="footer__link__img-wrap"><img class="footer__link-img" src="img/icon/icon-vimeo.svg" alt=""/><img class="footer__link-img-blue" src="img/icon/icon-vimeo-blue.svg" alt=""/></div><div class="footer__link-text">Vimeo</div></a><a class="footer__link" href="https://medium.com/@humbleteam"><div class="footer__link__img-wrap"><img class="footer__link-img" src="img/icon/icon-medium.svg" alt=""/><img class="footer__link-img-blue" src="img/icon/icon-medium-blue.svg" alt=""/></div><div class="footer__link-text">Medium</div></a></div></div></div></div></body></html>
