src/pug/case-misterporter.pug
extends layout

include mixins/portfolio

block vars
    -
        var attributes = { 'class': 'cases-page white-bg' }

block content
    .wedo-promo.dark-color.js-first-screen(style='background-color:#fafcfc')
        .case-promo-bg
            img(src='./img/cases-new/misterporter/main.jpg', srcset='./img/cases-new/misterporter/main@2x.jpg 2x', alt='')

        .wedo-promo__content
            .wedo-promo__right
                img(src='./img/cases-new/misterporter/main-phone.jpg', srcset='./img/cases-new/misterporter/main-phone@2x.jpg 2x', alt='').wedo-promo__right__img-mobile

            .wedo-promo__left
                h6.h6-small Managing a team at&nbsp;its finest
                h1 Automated Airbnb business

    .page-wrap
        .flex-wrapper.info-large-v-margin
            .left.hidden-md-down
                h6.h6-small.left-marker 01
                h6.h6-small What is it about
            .content
                h4 General
                p Airbnb gives flexible accommodation booking options for&nbsp;some people and provides a way to&nbsp;earn extra income for&nbsp;others. Misterporter platform allows to&nbsp;manage a real estate property and run a successful renting business on&nbsp;Airbnb. The platform enables to&nbsp;create and manage teams that will maintain your property without demanding you to&nbsp;micromanage it every day.
                br
                br
                h4 Problem
                p Any automation is highly complicated in&nbsp;its core. Our target was to&nbsp;wrap this clever system in&nbsp;a friendly looking graphics.

    .img-wrap-1420.info-large-v-margin
        img(src='./img/cases-new/misterporter/screen-1.jpg', srcset='./img/cases-new/misterporter/screen-1@2x.jpg 2x', alt='').wedo-wide-img__img.js-popup-img

    .content-800.info-large-v-margin
        h3 We started with&nbsp;examining and analyzing the existing wireframes and providing the Misterporter team with&nbsp;our expertise in&nbsp;complex enterprise systems
        p We developed and applied a rather light-coloured and airy graphic style — we tried not to&nbsp;distance too much from&nbsp;Airbnb and other booking services to&nbsp;establish firm associations with&nbsp;them. We explored multiple dashboards and used our knowledge of&nbsp;relevant systems to&nbsp;handpick the most suitable design solutions for&nbsp;this platform.

    .img-wrap-1420.info-large-v-margin
        img(src='./img/cases-new/misterporter/screen-3.jpg', srcset='./img/cases-new/misterporter/screen-3@2x.jpg 2x', alt='').wedo-wide-img__img.js-popup-img

    .img-wrap-1420.flex.align-items-center.info-large-v-margin
        .flex-cell
            img(src='./img/cases-new/misterporter/screen-2.jpg', srcset='./img/cases-new/misterporter/screen-2@2x.jpg 2x', alt='').js-popup-img
        .flex-cell
            .max-width-400
                h4 How it works
                p The dashboard allows users to&nbsp;create and manage a team of&nbsp;people with&nbsp;customizable schedules that will keep the rent apartment up and running on&nbsp;a regular basis.
                p It’s highly intuitive on&nbsp;one hand and very flexible on&nbsp;the other. Every bit of&nbsp;information is visualized to&nbsp;help understand it’s role in&nbsp;the system.

    .content-800.info-large-v-margin
        h2 Dashboard and navigation
        p Revised user experience resulted in&nbsp;the clear structure of&nbsp;the menu and all of&nbsp;the dashboards ensuring that users would instantly understand the mechanics of&nbsp;the app.

    .img-wrap-1680.info-large-v-margin
        img(src='./img/cases-new/misterporter/grid.jpg', srcset='./img/cases-new/misterporter/grid@2x.jpg 2x', alt='').wedo-wide-img__img.js-popup-img

    .content-800.info-large-v-margin
        h2 Graphics and visual language
        p Through several iterations, we created the main illustration for&nbsp;the landing page that should lure users into&nbsp;the system. It’s based on&nbsp;the themes of&nbsp;geometric patterns, complex systems, networks and connections, which are metaphorically representing the platform.

    .img-wrap-1680.info-large-v-margin
        img(src='./img/cases-new/misterporter/login.jpg', srcset='./img/cases-new/misterporter/login@2x.jpg 2x', alt='').wedo-wide-img__img.js-popup-img

    .wedo-lets-do
        .page-wrap
            .wedo-lets-do__content
                +lets-do('info@humbleteam.com?subject=Project request&body=Hi Humbleteam,', '', '')

    -
        cases = [
            {
                link: 'case-boule',
                preview_folder: 'boule',
                tag: 'Web service',
                title: 'Boule &mdash; blockchain voting system'
            }, {
                link: 'case-oxygen',
                preview_folder: 'oxygen',
                tag: 'Mobile app',
                title: 'Mobile bank for&nbsp;millennials'
            }
        ]

    br
    .cases-portfolio-wrap
        .page-wrap
            +portfolio(cases)

build/case-misterporter.html
<!DOCTYPE html><html class="cases-page white-bg" lang="en"><head><title>Humbleteam — digital agency</title><meta charset="utf-8"/><meta name="description" content="Humbleteam — digital agency"/><meta name="author" content="Humbleteam"/><meta name="viewport" content="width=device-width, initial-scale=1,  maximum-scale=1"/><link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon.png"/><link rel="icon" type="image/png" sizes="32x32" href="img/favicons/favicon-32x32.png"/><link rel="icon" type="image/png" sizes="16x16" href="img/favicons/favicon-16x16.png"/><link rel="manifest" href="/manifest.json"/><meta property="og:title" content="Humbleteam — digital agency"/><meta property="og:description" content="We are humbleteam. We create digital products at&amp;nbsp;the intersection of&amp;nbsp;users and business needs."/><meta property="og:image:height" content="630"/><meta property="og:image:width" content="1200"/><meta property="og:image" content="https://humbleteam.com/img/open-graph/social-image.jpg"/><meta name="theme-color" content="#ffffff"/><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script><!--script(type='text/javascript', src='js/nbsp.js')--><script type="text/javascript" src="js/main.js"></script><script type="text/javascript" src="js/ga.js"></script><link rel="stylesheet" href="fonts/tttravel/stylesheet.css"/><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i"/><link rel="stylesheet" href="css/styles.css"/><script type="text/javascript" src="js/heap.js"></script></head><body><nav class="header" id="header"><div class="header__wrapper"><a href="index"><div class="header__logo"></div></a><div class="burger _mobile-burger"><img class="burger-img__dark" src="img/icon/burger_dark.svg" alt=""/><img class="burger-img__white" src="img/icon/burger_white.svg" alt=""/></div><div class="burger _desktop-burger"><img class="burger-img__dark" src="img/icon/burger_dark-desktop.svg" alt=""/><img class="burger-img__white" src="img/icon/burger_white-desktop.svg" alt=""/></div></div></nav><div class="burger-overlay"></div><div id="burger-content"><div class="header__wrapper"><img id="burger-close" src="./img/icon/close_dark-desktop.svg" alt=""/></div><div class="burger-content__wrapper"><nav><li class="burger-link-item"><div class="burger-link-index">01</div><a class="burger-link" href="index">Home</a></li><li class="burger-link-item"><div class="burger-link-index">02</div><a class="burger-link" href="cases">Portfolio</a><div class="burger-link__submenu"><a class="burger-link__submenu-item" href="short-portfolio">Quick sneak peeks</a></div></li><li class="burger-link-item"><div class="burger-link-index">03</div><a class="burger-link" href="info">What we do</a><div class="burger-link__submenu"><a class="burger-link__submenu-item" href="we-do-startups">Start ups</a><a class="burger-link__submenu-item" href="we-do-fintech">Fintech</a><a class="burger-link__submenu-item" href="we-do-automotive">Automotive</a></div></li><li class="burger-link-item"><div class="burger-link-index">04</div><a class="burger-link" href="contacts">Contact us</a></li><li class="burger-link-item"><div class="burger-link-index">05</div><a class="burger-link" href="blog">Know hows</a></li></nav><div class="burger__socials"><a class="info-worldwide__link" href="https://dribbble.com/humble_team"><div class="info-worldwide__link__img-wrap"><img class="info-worldwide__link-img" src="img/icon/icon-dribble.svg" alt=""/><img class="info-worldwide__link-img-blue" src="img/icon/icon-dribble-blue.svg" alt=""/></div></a><a class="info-worldwide__link" href="https://www.instagram.com/humbleteam.agency/"><div class="info-worldwide__link__img-wrap"><img class="info-worldwide__link-img" src="img/icon/icon-inst.svg" alt=""/><img class="info-worldwide__link-img-blue" src="img/icon/icon-inst-blue.svg" alt=""/></div></a><a class="info-worldwide__link" href="https://www.behance.net/humbleteam"><div class="info-worldwide__link__img-wrap"><img class="info-worldwide__link-img" src="img/icon/icon-behance.svg" alt=""/><img class="info-worldwide__link-img-blue" src="img/icon/icon-behance-blue.svg" alt=""/></div></a><a class="s burger__socials__mail" href="mailto:info@humbleteam.com?subject=Project request&amp;body=Hi Humbleteam,">info@humbleteam.com</a></div></div></div><div id="img-popup"><img id="img-popup-close" src="./img/icon/close_black.svg" alt=""/><div class="img-popup__img-wrap js-img-popup-img-wrap"><img class="img-popup__img js-img-popup-img" alt=""/></div></div><div class="wedo-promo dark-color js-first-screen" style="background-color:#fafcfc"><div class="case-promo-bg"><img src="./img/cases-new/misterporter/main.jpg" srcset="./img/cases-new/misterporter/main@2x.jpg 2x" alt=""></div><div class="wedo-promo__content"><div class="wedo-promo__right"><img class="wedo-promo__right__img-mobile" src="./img/cases-new/misterporter/main-phone.jpg" srcset="./img/cases-new/misterporter/main-phone@2x.jpg 2x" alt=""></div><div class="wedo-promo__left"><h6 class="h6-small">Managing a team at&nbsp;its finest</h6><h1>Automated Airbnb business</h1></div></div></div><div class="page-wrap"><div class="flex-wrapper info-large-v-margin"><div class="left hidden-md-down"><h6 class="h6-small left-marker">01</h6><h6 class="h6-small">What is it about</h6></div><div class="content"><h4>General</h4><p>Airbnb gives flexible accommodation booking options for&nbsp;some people and provides a way to&nbsp;earn extra income for&nbsp;others. Misterporter platform allows to&nbsp;manage a real estate property and run a successful renting business on&nbsp;Airbnb. The platform enables to&nbsp;create and manage teams that will maintain your property without demanding you to&nbsp;micromanage it every day.</p><br><br><h4>Problem</h4><p>Any automation is highly complicated in&nbsp;its core. Our target was to&nbsp;wrap this clever system in&nbsp;a friendly looking graphics.</p></div></div></div><div class="img-wrap-1420 info-large-v-margin"><img class="wedo-wide-img__img js-popup-img" src="./img/cases-new/misterporter/screen-1.jpg" srcset="./img/cases-new/misterporter/screen-1@2x.jpg 2x" alt=""></div><div class="content-800 info-large-v-margin"><h3>We started with&nbsp;examining and analyzing the existing wireframes and providing the Misterporter team with&nbsp;our expertise in&nbsp;complex enterprise systems</h3><p>We developed and applied a rather light-coloured and airy graphic style — we tried not to&nbsp;distance too much from&nbsp;Airbnb and other booking services to&nbsp;establish firm associations with&nbsp;them. We explored multiple dashboards and used our knowledge of&nbsp;relevant systems to&nbsp;handpick the most suitable design solutions for&nbsp;this platform.</p></div><div class="img-wrap-1420 info-large-v-margin"><img class="wedo-wide-img__img js-popup-img" src="./img/cases-new/misterporter/screen-3.jpg" srcset="./img/cases-new/misterporter/screen-3@2x.jpg 2x" alt=""></div><div class="img-wrap-1420 flex align-items-center info-large-v-margin"><div class="flex-cell"><img class="js-popup-img" src="./img/cases-new/misterporter/screen-2.jpg" srcset="./img/cases-new/misterporter/screen-2@2x.jpg 2x" alt=""></div><div class="flex-cell"><div class="max-width-400"><h4>How it works</h4><p>The dashboard allows users to&nbsp;create and manage a team of&nbsp;people with&nbsp;customizable schedules that will keep the rent apartment up and running on&nbsp;a regular basis.</p><p>It’s highly intuitive on&nbsp;one hand and very flexible on&nbsp;the other. Every bit of&nbsp;information is visualized to&nbsp;help understand it’s role in&nbsp;the system.</p></div></div></div><div class="content-800 info-large-v-margin"><h2>Dashboard and navigation</h2><p>Revised user experience resulted in&nbsp;the clear structure of&nbsp;the menu and all of&nbsp;the dashboards ensuring that users would instantly understand the mechanics of&nbsp;the app.</p></div><div class="img-wrap-1680 info-large-v-margin"><img class="wedo-wide-img__img js-popup-img" src="./img/cases-new/misterporter/grid.jpg" srcset="./img/cases-new/misterporter/grid@2x.jpg 2x" alt=""></div><div class="content-800 info-large-v-margin"><h2>Graphics and visual language</h2><p>Through several iterations, we created the main illustration for&nbsp;the landing page that should lure users into&nbsp;the system. It’s based on&nbsp;the themes of&nbsp;geometric patterns, complex systems, networks and connections, which are metaphorically representing the platform.</p></div><div class="img-wrap-1680 info-large-v-margin"><img class="wedo-wide-img__img js-popup-img" src="./img/cases-new/misterporter/login.jpg" srcset="./img/cases-new/misterporter/login@2x.jpg 2x" alt=""></div><div class="wedo-lets-do"><div class="page-wrap"><div class="wedo-lets-do__content"><div class="wedo-lets-do__content"><h2>Lets do something cool together</h2><a class="wedo-lets-do__link" href="mailto:info@humbleteam.com?subject=Project request&amp;body=Hi Humbleteam,">info@humbleteam.com</a></div></div></div></div><br><div class="cases-portfolio-wrap"><div class="page-wrap"><div class="row index-portfolio__tiles-b"><a class="js-wow fadeInUpMy index-portfolio__tile" href="case-boule" data-wow-delay="0s"><img class="index-portfolio__tile-img" src="img/cases-new/boule/preview.jpg" srcset="img/cases-new/boule/preview@2x.jpg 2x" alt=""/><h6 class="h6-small brand-gray">Web service</h6><h5>Boule &mdash; blockchain voting system</h5></a><a class="js-wow fadeInUpMy index-portfolio__tile" href="case-oxygen" data-wow-delay="0.2s"><img class="index-portfolio__tile-img" src="img/cases-new/oxygen/preview.jpg" srcset="img/cases-new/oxygen/preview@2x.jpg 2x" alt=""/><h6 class="h6-small brand-gray">Mobile app</h6><h5>Mobile bank for&nbsp;millennials</h5></a></div></div></div><div class="info-large-v-margin" id="footer"><div class="footer-content"><div class="row"><div class="footer-logo-wrap"><a href="index.html"><img class="footer-logo" src="./img/logo-footer.svg" alt=""/></a></div><div class="footer-info-b"><a class="footer-text" href="mailto:info@humbleteam.com?subject=Project request&amp;body=Hi Humbleteam,">info@humbleteam.com</a><div class="footer-text">+420 776 828 895</div></div><div class="footer-info-b"><a class="footer-text" href="https://www.google.cz/maps/place/Rybn%C3%A1+716%2F24,+110+00+Praha+1-Star%C3%A9+M%C4%9Bsto/data=!4m2!3m1!1s0x470b94ea0da96c41:0xd926809755e5bf9a?sa=X&amp;ved=0ahUKEwiCkLCaxaDbAhUlCcAKHVulCtkQ8gEIKDAA" target="_blank">Czech Republic, Rybna 716/24<br>Prague Old Town</a></div><div class="footer__links-wrap"><a class="footer__link" href="https://dribbble.com/humble_team"><div class="footer__link__img-wrap"><img class="footer__link-img" src="img/icon/icon-dribble.svg" alt=""/><img class="footer__link-img-blue" src="img/icon/icon-dribble-blue.svg" alt=""/></div><div class="footer__link-text">Dribbble</div></a><a class="footer__link" href="https://www.behance.net/humbleteam"><div class="footer__link__img-wrap"><img class="footer__link-img" src="img/icon/icon-behance.svg" alt=""/><img class="footer__link-img-blue" src="img/icon/icon-behance-blue.svg" alt=""/></div><div class="footer__link-text">Behance</div></a><a class="footer__link" href="https://www.instagram.com/humbleteam.agency/"><div class="footer__link__img-wrap"><img class="footer__link-img" src="img/icon/icon-inst.svg" alt=""/><img class="footer__link-img-blue" src="img/icon/icon-inst-blue.svg" alt=""/></div><div class="footer__link-text">Instagram</div></a><a class="footer__link" href="https://vimeo.com/humbleteam"><div class="footer__link__img-wrap"><img class="footer__link-img" src="img/icon/icon-vimeo.svg" alt=""/><img class="footer__link-img-blue" src="img/icon/icon-vimeo-blue.svg" alt=""/></div><div class="footer__link-text">Vimeo</div></a><a class="footer__link" href="https://medium.com/@humbleteam"><div class="footer__link__img-wrap"><img class="footer__link-img" src="img/icon/icon-medium.svg" alt=""/><img class="footer__link-img-blue" src="img/icon/icon-medium-blue.svg" alt=""/></div><div class="footer__link-text">Medium</div></a></div></div></div></div></body></html>
