src/pug/case-google-bank.pug
extends layout

include mixins/portfolio

block vars
    -
        var attributes = { 'class': 'cases-page white-bg' }

block content
    .wedo-promo.dark-color.js-first-screen(style='background-color:#fafbfc')
        .case-promo-bg
            img(src='./img/cases-new/google-bank/main.jpg', srcset='./img/cases-new/google-bank/main@2x.jpg 2x', alt='')

        .wedo-promo__content
            .wedo-promo__right
                img(src='./img/cases-new/google-bank/main-phone.jpg', srcset='./img/cases-new/google-bank/main-phone@2x.jpg 2x', alt='').wedo-promo__right__img-mobile
                //-img(src='./img/cases-new/google-bank/main.jpg', srcset='./img/cases-new/google-bank/main@2x.jpg 2x', alt='').wedo-promo__right__img

            .wedo-promo__left
                h6.h6-small Something different from&nbsp;a classic bank
                h1 Google bank application concept

    .page-wrap
        .flex-wrapper.info-large-v-margin
            .left.hidden-md-down
                h6.h6-small.left-marker 01
                h6.h6-small What is it about
            .content
                h4 General
                p You trust it your business correspondence, personal messages, search history and pictures of&nbsp;your cat. While many fear this overwhelming exposure, you can make this inevitability work for&nbsp;you. You know who else is gathering information about you? Banks. So it's only natural to&nbsp;put those two in&nbsp;the same room and let them talk.
                p Here, at&nbsp;Humbleteam, we believe that GoogleBank could become something different from&nbsp;a classic bank, become something friendly and inviting, like other Google services that we all got used to.

    .img-wrap-1420.info-large-v-margin
        .aspect-ratio
            <iframe src="https://player.vimeo.com/video/230599693?color=0d64df&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            <script src="https://player.vimeo.com/api/player.js"></script>

    .content-800.info-large-v-margin
        h2 One app, many banks
        p Google bank will know enough to&nbsp;figure out your rating. And with&nbsp;your rating being good you can place a loan application, receive offers from&nbsp;various banks and pick the most adequate one. Now, you who will choose the bank, not vice versa.

    .img-wrap-1420.info-large-v-margin
        img(src='./img/cases-new/google-bank/google-1.jpg', srcset='./img/cases-new/google-bank/google-1@2x.jpg 2x', alt='').wedo-wide-img__img.js-popup-img

    .img-wrap-1680.info-large-v-margin
        img(src='./img/cases-new/google-bank/google-2.jpg', srcset='./img/cases-new/google-bank/google-2@2x.jpg 2x', alt='').wedo-wide-img__img.js-popup-img

    .content-800.info-large-v-margin
        h2 One-click transfers
        p See a better deal? Get a better deal. GoogleBank allows you to&nbsp;unite all your accounts in&nbsp;one place and lets you juggle your money in&nbsp;order to&nbsp;choose the most suitable conditions. With this app, you can send money in&nbsp;one tap, fast and easy.

    .img-wrap-1420.info-large-v-margin
        img(src='./img/cases-new/google-bank/google-3.jpg', srcset='./img/cases-new/google-bank/google-3@2x.jpg 2x', alt='').wedo-wide-img__img.js-popup-img

    .content-800.info-large-v-margin
        h2 Banking without a bank
        p You can be few taps and a fingerprint away from&nbsp;completing tedious banking procedures, paying for&nbsp;services and spending some cash for&nbsp;whatever you feel like. Why complicate things? Let's make a finance routine feel like a walk in&nbsp;the park.

    .img-wrap-1680.info-large-v-margin
        img(src='./img/cases-new/google-bank/google-4.jpg', srcset='./img/cases-new/google-bank/google-4@2x.jpg 2x', alt='').wedo-wide-img__img.js-popup-img

    .content-800.info-large-v-margin
        h3 Create events, spend together
        p Pay together with&nbsp;friends, or&nbsp;collect money for&nbsp;a present for&nbsp;colleague. GB allows you to&nbsp;create events and set the participation price (it could be fixed, individually determined, or&nbsp;variable).
        p There's no need to&nbsp;transfer the money instantly; you can just enter the number. Money will be withdrawn when the amount is raised, or&nbsp;the time runs out. It's an easy, but fair way to&nbsp;maintain healthy financial relationships between friends or&nbsp;colleagues.

    .img-wrap-1680.info-large-v-margin
        img(src='./img/cases-new/google-bank/google-5.jpg', srcset='./img/cases-new/google-bank/google-5@2x.jpg 2x', alt='').wedo-wide-img__img.js-popup-img

    .wedo-lets-do
        .page-wrap
            .wedo-lets-do__content
                +lets-do('info@humbleteam.com?subject=Project request&body=Hi Humbleteam,', '', '')

    -
        cases = [
            {
                link: 'case-oxygen',
                preview_folder: 'oxygen',
                tag: 'Mobile app',
                title: 'Mobile bank for&nbsp;millennials'
            }, {
                link: 'case-monitoring',
                preview_folder: 'monitoring',
                tag: 'Landing page and web service',
                title: 'Enterprise monitoring system &mdash; complete redesign of&nbsp;the SaaS product'
            }
        ]

    br
    .cases-portfolio-wrap
        .page-wrap
            +portfolio(cases)

build/case-google-bank.html
<!DOCTYPE html><html class="cases-page white-bg" lang="en"><head><title>Humbleteam — digital agency</title><meta charset="utf-8"/><meta name="description" content="Humbleteam — digital agency"/><meta name="author" content="Humbleteam"/><meta name="viewport" content="width=device-width, initial-scale=1,  maximum-scale=1"/><link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon.png"/><link rel="icon" type="image/png" sizes="32x32" href="img/favicons/favicon-32x32.png"/><link rel="icon" type="image/png" sizes="16x16" href="img/favicons/favicon-16x16.png"/><link rel="manifest" href="/manifest.json"/><meta property="og:title" content="Humbleteam — digital agency"/><meta property="og:description" content="We are humbleteam. We create digital products at&amp;nbsp;the intersection of&amp;nbsp;users and business needs."/><meta property="og:image:height" content="630"/><meta property="og:image:width" content="1200"/><meta property="og:image" content="https://humbleteam.com/img/open-graph/social-image.jpg"/><meta name="theme-color" content="#ffffff"/><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script><!--script(type='text/javascript', src='js/nbsp.js')--><script type="text/javascript" src="js/main.js"></script><script type="text/javascript" src="js/ga.js"></script><link rel="stylesheet" href="fonts/tttravel/stylesheet.css"/><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i"/><link rel="stylesheet" href="css/styles.css"/><script type="text/javascript" src="js/heap.js"></script></head><body><nav class="header" id="header"><div class="header__wrapper"><a href="index"><div class="header__logo"></div></a><div class="burger _mobile-burger"><img class="burger-img__dark" src="img/icon/burger_dark.svg" alt=""/><img class="burger-img__white" src="img/icon/burger_white.svg" alt=""/></div><div class="burger _desktop-burger"><img class="burger-img__dark" src="img/icon/burger_dark-desktop.svg" alt=""/><img class="burger-img__white" src="img/icon/burger_white-desktop.svg" alt=""/></div></div></nav><div class="burger-overlay"></div><div id="burger-content"><div class="header__wrapper"><img id="burger-close" src="./img/icon/close_dark-desktop.svg" alt=""/></div><div class="burger-content__wrapper"><nav><li class="burger-link-item"><div class="burger-link-index">01</div><a class="burger-link" href="index">Home</a></li><li class="burger-link-item"><div class="burger-link-index">02</div><a class="burger-link" href="cases">Portfolio</a><div class="burger-link__submenu"><a class="burger-link__submenu-item" href="short-portfolio">Quick sneak peeks</a></div></li><li class="burger-link-item"><div class="burger-link-index">03</div><a class="burger-link" href="info">What we do</a><div class="burger-link__submenu"><a class="burger-link__submenu-item" href="we-do-startups">Start ups</a><a class="burger-link__submenu-item" href="we-do-fintech">Fintech</a><a class="burger-link__submenu-item" href="we-do-automotive">Automotive</a></div></li><li class="burger-link-item"><div class="burger-link-index">04</div><a class="burger-link" href="contacts">Contact us</a></li><li class="burger-link-item"><div class="burger-link-index">05</div><a class="burger-link" href="blog">Know hows</a></li></nav><div class="burger__socials"><a class="info-worldwide__link" href="https://dribbble.com/humble_team"><div class="info-worldwide__link__img-wrap"><img class="info-worldwide__link-img" src="img/icon/icon-dribble.svg" alt=""/><img class="info-worldwide__link-img-blue" src="img/icon/icon-dribble-blue.svg" alt=""/></div></a><a class="info-worldwide__link" href="https://www.instagram.com/humbleteam.agency/"><div class="info-worldwide__link__img-wrap"><img class="info-worldwide__link-img" src="img/icon/icon-inst.svg" alt=""/><img class="info-worldwide__link-img-blue" src="img/icon/icon-inst-blue.svg" alt=""/></div></a><a class="info-worldwide__link" href="https://www.behance.net/humbleteam"><div class="info-worldwide__link__img-wrap"><img class="info-worldwide__link-img" src="img/icon/icon-behance.svg" alt=""/><img class="info-worldwide__link-img-blue" src="img/icon/icon-behance-blue.svg" alt=""/></div></a><a class="s burger__socials__mail" href="mailto:info@humbleteam.com?subject=Project request&amp;body=Hi Humbleteam,">info@humbleteam.com</a></div></div></div><div id="img-popup"><img id="img-popup-close" src="./img/icon/close_black.svg" alt=""/><div class="img-popup__img-wrap js-img-popup-img-wrap"><img class="img-popup__img js-img-popup-img" alt=""/></div></div><div class="wedo-promo dark-color js-first-screen" style="background-color:#fafbfc"><div class="case-promo-bg"><img src="./img/cases-new/google-bank/main.jpg" srcset="./img/cases-new/google-bank/main@2x.jpg 2x" alt=""></div><div class="wedo-promo__content"><div class="wedo-promo__right"><img class="wedo-promo__right__img-mobile" src="./img/cases-new/google-bank/main-phone.jpg" srcset="./img/cases-new/google-bank/main-phone@2x.jpg 2x" alt=""></div><div class="wedo-promo__left"><h6 class="h6-small">Something different from&nbsp;a classic bank</h6><h1>Google bank application concept</h1></div></div></div><div class="page-wrap"><div class="flex-wrapper info-large-v-margin"><div class="left hidden-md-down"><h6 class="h6-small left-marker">01</h6><h6 class="h6-small">What is it about</h6></div><div class="content"><h4>General</h4><p>You trust it your business correspondence, personal messages, search history and pictures of&nbsp;your cat. While many fear this overwhelming exposure, you can make this inevitability work for&nbsp;you. You know who else is gathering information about you? Banks. So it's only natural to&nbsp;put those two in&nbsp;the same room and let them talk.</p><p>Here, at&nbsp;Humbleteam, we believe that GoogleBank could become something different from&nbsp;a classic bank, become something friendly and inviting, like other Google services that we all got used to.</p></div></div></div><div class="img-wrap-1420 info-large-v-margin"><div class="aspect-ratio"><iframe src="https://player.vimeo.com/video/230599693?color=0d64df&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
<script src="https://player.vimeo.com/api/player.js"></script></div></div><div class="content-800 info-large-v-margin"><h2>One app, many banks</h2><p>Google bank will know enough to&nbsp;figure out your rating. And with&nbsp;your rating being good you can place a loan application, receive offers from&nbsp;various banks and pick the most adequate one. Now, you who will choose the bank, not vice versa.</p></div><div class="img-wrap-1420 info-large-v-margin"><img class="wedo-wide-img__img js-popup-img" src="./img/cases-new/google-bank/google-1.jpg" srcset="./img/cases-new/google-bank/google-1@2x.jpg 2x" alt=""></div><div class="img-wrap-1680 info-large-v-margin"><img class="wedo-wide-img__img js-popup-img" src="./img/cases-new/google-bank/google-2.jpg" srcset="./img/cases-new/google-bank/google-2@2x.jpg 2x" alt=""></div><div class="content-800 info-large-v-margin"><h2>One-click transfers</h2><p>See a better deal? Get a better deal. GoogleBank allows you to&nbsp;unite all your accounts in&nbsp;one place and lets you juggle your money in&nbsp;order to&nbsp;choose the most suitable conditions. With this app, you can send money in&nbsp;one tap, fast and easy.</p></div><div class="img-wrap-1420 info-large-v-margin"><img class="wedo-wide-img__img js-popup-img" src="./img/cases-new/google-bank/google-3.jpg" srcset="./img/cases-new/google-bank/google-3@2x.jpg 2x" alt=""></div><div class="content-800 info-large-v-margin"><h2>Banking without a bank</h2><p>You can be few taps and a fingerprint away from&nbsp;completing tedious banking procedures, paying for&nbsp;services and spending some cash for&nbsp;whatever you feel like. Why complicate things? Let's make a finance routine feel like a walk in&nbsp;the park.</p></div><div class="img-wrap-1680 info-large-v-margin"><img class="wedo-wide-img__img js-popup-img" src="./img/cases-new/google-bank/google-4.jpg" srcset="./img/cases-new/google-bank/google-4@2x.jpg 2x" alt=""></div><div class="content-800 info-large-v-margin"><h3>Create events, spend together</h3><p>Pay together with&nbsp;friends, or&nbsp;collect money for&nbsp;a present for&nbsp;colleague. GB allows you to&nbsp;create events and set the participation price (it could be fixed, individually determined, or&nbsp;variable).</p><p>There's no need to&nbsp;transfer the money instantly; you can just enter the number. Money will be withdrawn when the amount is raised, or&nbsp;the time runs out. It's an easy, but fair way to&nbsp;maintain healthy financial relationships between friends or&nbsp;colleagues.</p></div><div class="img-wrap-1680 info-large-v-margin"><img class="wedo-wide-img__img js-popup-img" src="./img/cases-new/google-bank/google-5.jpg" srcset="./img/cases-new/google-bank/google-5@2x.jpg 2x" alt=""></div><div class="wedo-lets-do"><div class="page-wrap"><div class="wedo-lets-do__content"><div class="wedo-lets-do__content"><h2>Lets do something cool together</h2><a class="wedo-lets-do__link" href="mailto:info@humbleteam.com?subject=Project request&amp;body=Hi Humbleteam,">info@humbleteam.com</a></div></div></div></div><br><div class="cases-portfolio-wrap"><div class="page-wrap"><div class="row index-portfolio__tiles-b"><a class="js-wow fadeInUpMy index-portfolio__tile" href="case-oxygen" data-wow-delay="0s"><img class="index-portfolio__tile-img" src="img/cases-new/oxygen/preview.jpg" srcset="img/cases-new/oxygen/preview@2x.jpg 2x" alt=""/><h6 class="h6-small brand-gray">Mobile app</h6><h5>Mobile bank for&nbsp;millennials</h5></a><a class="js-wow fadeInUpMy index-portfolio__tile" href="case-monitoring" data-wow-delay="0.2s"><img class="index-portfolio__tile-img" src="img/cases-new/monitoring/preview.jpg" srcset="img/cases-new/monitoring/preview@2x.jpg 2x" alt=""/><h6 class="h6-small brand-gray">Landing page and web service</h6><h5>Enterprise monitoring system &mdash; complete redesign of&nbsp;the SaaS product</h5></a></div></div></div><div class="info-large-v-margin" id="footer"><div class="footer-content"><div class="row"><div class="footer-logo-wrap"><a href="index.html"><img class="footer-logo" src="./img/logo-footer.svg" alt=""/></a></div><div class="footer-info-b"><a class="footer-text" href="mailto:info@humbleteam.com?subject=Project request&amp;body=Hi Humbleteam,">info@humbleteam.com</a><div class="footer-text">+420 776 828 895</div></div><div class="footer-info-b"><a class="footer-text" href="https://www.google.cz/maps/place/Rybn%C3%A1+716%2F24,+110+00+Praha+1-Star%C3%A9+M%C4%9Bsto/data=!4m2!3m1!1s0x470b94ea0da96c41:0xd926809755e5bf9a?sa=X&amp;ved=0ahUKEwiCkLCaxaDbAhUlCcAKHVulCtkQ8gEIKDAA" target="_blank">Czech Republic, Rybna 716/24<br>Prague Old Town</a></div><div class="footer__links-wrap"><a class="footer__link" href="https://dribbble.com/humble_team"><div class="footer__link__img-wrap"><img class="footer__link-img" src="img/icon/icon-dribble.svg" alt=""/><img class="footer__link-img-blue" src="img/icon/icon-dribble-blue.svg" alt=""/></div><div class="footer__link-text">Dribbble</div></a><a class="footer__link" href="https://www.behance.net/humbleteam"><div class="footer__link__img-wrap"><img class="footer__link-img" src="img/icon/icon-behance.svg" alt=""/><img class="footer__link-img-blue" src="img/icon/icon-behance-blue.svg" alt=""/></div><div class="footer__link-text">Behance</div></a><a class="footer__link" href="https://www.instagram.com/humbleteam.agency/"><div class="footer__link__img-wrap"><img class="footer__link-img" src="img/icon/icon-inst.svg" alt=""/><img class="footer__link-img-blue" src="img/icon/icon-inst-blue.svg" alt=""/></div><div class="footer__link-text">Instagram</div></a><a class="footer__link" href="https://vimeo.com/humbleteam"><div class="footer__link__img-wrap"><img class="footer__link-img" src="img/icon/icon-vimeo.svg" alt=""/><img class="footer__link-img-blue" src="img/icon/icon-vimeo-blue.svg" alt=""/></div><div class="footer__link-text">Vimeo</div></a><a class="footer__link" href="https://medium.com/@humbleteam"><div class="footer__link__img-wrap"><img class="footer__link-img" src="img/icon/icon-medium.svg" alt=""/><img class="footer__link-img-blue" src="img/icon/icon-medium-blue.svg" alt=""/></div><div class="footer__link-text">Medium</div></a></div></div></div></div></body></html>
