build/index.html
<!DOCTYPE html><html lang="en"><head><title>Humbleteam — digital agency</title><meta charset="utf-8"/><meta name="description" content="Humbleteam — digital agency"/><meta name="author" content="Humbleteam"/><meta name="viewport" content="width=device-width, initial-scale=1,  maximum-scale=1"/><link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon.png"/><link rel="icon" type="image/png" sizes="32x32" href="img/favicons/favicon-32x32.png"/><link rel="icon" type="image/png" sizes="16x16" href="img/favicons/favicon-16x16.png"/><link rel="manifest" href="/manifest.json"/><meta property="og:title" content="Humbleteam — digital agency"/><meta property="og:description" content="We are humbleteam. We create digital products at&amp;nbsp;the intersection of&amp;nbsp;users and business needs."/><meta property="og:image:height" content="630"/><meta property="og:image:width" content="1200"/><meta property="og:image" content="https://humbleteam.com/img/open-graph/social-image.jpg"/><meta name="theme-color" content="#ffffff"/><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script><!--script(type='text/javascript', src='js/nbsp.js')--><script type="text/javascript" src="js/main.js"></script><script type="text/javascript" src="js/ga.js"></script><link rel="stylesheet" href="fonts/tttravel/stylesheet.css"/><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i"/><link rel="stylesheet" href="css/styles.css"/><script type="text/javascript" src="js/heap.js"></script></head><body><nav class="header" id="header"><div class="header__wrapper"><a href="index"><div class="header__logo"></div></a><div class="burger _mobile-burger"><img class="burger-img__dark" src="img/icon/burger_dark.svg" alt=""/><img class="burger-img__white" src="img/icon/burger_white.svg" alt=""/></div><div class="burger _desktop-burger"><img class="burger-img__dark" src="img/icon/burger_dark-desktop.svg" alt=""/><img class="burger-img__white" src="img/icon/burger_white-desktop.svg" alt=""/></div></div></nav><div class="burger-overlay"></div><div id="burger-content"><div class="header__wrapper"><img id="burger-close" src="./img/icon/close_dark-desktop.svg" alt=""/></div><div class="burger-content__wrapper"><nav><li class="burger-link-item"><div class="burger-link-index">01</div><a class="current burger-link" href="index">Home</a></li><li class="burger-link-item"><div class="burger-link-index">02</div><a class="burger-link" href="cases">Portfolio</a><div class="burger-link__submenu"><a class="burger-link__submenu-item" href="short-portfolio">Quick sneak peeks</a></div></li><li class="burger-link-item"><div class="burger-link-index">03</div><a class="burger-link" href="info">What we do</a><div class="burger-link__submenu"><a class="burger-link__submenu-item" href="we-do-startups">Start ups</a><a class="burger-link__submenu-item" href="we-do-fintech">Fintech</a><a class="burger-link__submenu-item" href="we-do-automotive">Automotive</a></div></li><li class="burger-link-item"><div class="burger-link-index">04</div><a class="burger-link" href="contacts">Contact us</a></li><li class="burger-link-item"><div class="burger-link-index">05</div><a class="burger-link" href="blog">Know hows</a></li></nav><div class="burger__socials"><a class="info-worldwide__link" href="https://dribbble.com/humble_team"><div class="info-worldwide__link__img-wrap"><img class="info-worldwide__link-img" src="img/icon/icon-dribble.svg" alt=""/><img class="info-worldwide__link-img-blue" src="img/icon/icon-dribble-blue.svg" alt=""/></div></a><a class="info-worldwide__link" href="https://www.instagram.com/humbleteam.agency/"><div class="info-worldwide__link__img-wrap"><img class="info-worldwide__link-img" src="img/icon/icon-inst.svg" alt=""/><img class="info-worldwide__link-img-blue" src="img/icon/icon-inst-blue.svg" alt=""/></div></a><a class="info-worldwide__link" href="https://www.behance.net/humbleteam"><div class="info-worldwide__link__img-wrap"><img class="info-worldwide__link-img" src="img/icon/icon-behance.svg" alt=""/><img class="info-worldwide__link-img-blue" src="img/icon/icon-behance-blue.svg" alt=""/></div></a><a class="s burger__socials__mail" href="mailto:info@humbleteam.com?subject=Project request&amp;body=Hi Humbleteam,">info@humbleteam.com</a></div></div></div><div id="img-popup"><img id="img-popup-close" src="./img/icon/close_black.svg" alt=""/><div class="img-popup__img-wrap js-img-popup-img-wrap"><img class="img-popup__img js-img-popup-img" alt=""/></div></div><div class="index-promo js-index-promo js-first-screen"><div class="index-promo-slider-b js-index-promo-slider _hidden"><div class="index-promo__slider-cont js-index-promo-slider-cont"><div class="index-promo__slider-wrap js-index-promo-slider-wrap"><div class="slide js-index-promo-slider-item swiper-slide-active slide__google-bank" style="background-color:#fafbfc"><img class="index-promo__img-mobile" src="./img/cases-new/google-bank/main-phone.jpg" srcset="./img/cases-new/google-bank/main-phone@2x.jpg 2x" alt=""><div class="slide-cursor-left js-slide-cursor-left"></div><div class="slide-cursor-right js-slide-cursor-right"></div><div class="slide__content"><div class="description"><h1><span class="brand-primary">Redesigned</span> mobile banking</h1><p>Meet Google bank, it will change your image of&nbsp;a banking app. Or&nbsp;at&nbsp;least entertain you for&nbsp;2 min.</p><a class="btn" href="case-google-bank">Open case study</a></div></div></div><div class="slide js-index-promo-slider-item swiper-slide-active slide__expenses" data-header="dark" style="background-color:#0b053b"><img class="index-promo__img-mobile" src="./img/cases-new/expenses/main-phone.jpg" srcset="./img/cases-new/expenses/main-phone@2x.jpg 2x" alt=""><div class="slide-cursor-left js-slide-cursor-left"></div><div class="slide-cursor-right js-slide-cursor-right"></div><div class="slide__content"><div class="description"><h1>Simple and subtle <span class="brand-primary">expense</span> management</h1><p>Predicting expenses even before they actually occur.</p><a class="btn" href="case-expenses">Open case study</a></div></div></div><div class="slide js-index-promo-slider-item swiper-slide-active slide__monitoring" data-header="dark" style="background-color:#001229"><img class="index-promo__img-mobile" src="./img/cases-new/monitoring/main-phone.jpg" srcset="./img/cases-new/monitoring/main-phone@2x.jpg 2x" alt=""><div class="slide-cursor-left js-slide-cursor-left"></div><div class="slide-cursor-right js-slide-cursor-right"></div><div class="slide__content"><div class="description"><h1><span class="brand-primary">SaaS</span> monitoring app and website</h1><p>The largest network of&nbsp;servers, the widest range of&nbsp;various tools, all in&nbsp;one solid package.</p><a class="btn" href="case-monitoring">Open case study</a></div></div></div></div><div class="index-promo__slider__pagination js-index-promo-pagination"></div></div></div></div><div class="page-wrap"><div class="content _big info-large-v-margin js-wow fadeInUpMy"><h2>We are <span class="brand-primary">humbleteam.</span> We create digital products at&nbsp;the intersection of&nbsp;<span class="brand-primary">users'</span> and <span class="brand-primary">business'</span> needs.</h2><a class="btn" href="info">Check who we are</a></div><div class="content index-expertise info-large-v-margin"><h3>Humble expertise</h3><p class="s brand-gray">We're not saying we only work in&nbsp;these areas, but there's a good reason we chose to&nbsp;put them here.</p></div><div class="row index-expertise__tiles"><div class="index-expertise__tile-wrap js-wow fadeInUpMy" data-wow-delay="0s"><a class="index-expertise__tile" href="we-do-startups"><img class="index-expertise__tile-img" src="img/what-we-do/what-we-do-1.png" srcset="img/what-we-do/what-we-do-1@2x.png 2x" alt=""/><div class="index-expertise__tile-content"><h4>Startups</h4><div class="xs-small-line-height brand-gray">We didn&#39;t start in&nbsp;a&nbsp;garage, but we can humbly relate to&nbsp;that.</div></div></a></div><div class="index-expertise__tile-wrap js-wow fadeInUpMy" data-wow-delay="0.2s"><a class="index-expertise__tile" href="we-do-fintech"><img class="index-expertise__tile-img" src="img/what-we-do/what-we-do-2.png" srcset="img/what-we-do/what-we-do-2@2x.png 2x" alt=""/><div class="index-expertise__tile-content"><h4>Fintech</h4><div class="xs-small-line-height brand-gray">Nicer tools work better. And they earn more money.</div></div></a></div><div class="index-expertise__tile-wrap js-wow fadeInUpMy" data-wow-delay="0.4s"><a class="index-expertise__tile" href="we-do-automotive"><img class="index-expertise__tile-img" src="img/what-we-do/what-we-do-3.png" srcset="img/what-we-do/what-we-do-3@2x.png 2x" alt=""/><div class="index-expertise__tile-content"><h4>Automotive</h4><div class="xs-small-line-height brand-gray">Carefully handling user's attention. Because safety is not boring.</div></div></a></div></div><div class="content info-large-v-margin"><h3>Portfolio. No more words.</h3></div><div class="row index-portfolio__tiles-b"><a class="js-wow fadeInUpMy index-portfolio__tile" href="case-google-bank" data-wow-delay="0s"><img class="index-portfolio__tile-img" src="img/cases-new/google-bank/preview.jpg" srcset="img/cases-new/google-bank/preview@2x.jpg 2x" alt=""/><h6 class="h6-small brand-gray">Mobile app</h6><h5>Google bank concept &mdash; mobile banking for&nbsp;21st century</h5></a><a class="js-wow fadeInUpMy index-portfolio__tile" href="case-monitoring" data-wow-delay="0.2s"><img class="index-portfolio__tile-img" src="img/cases-new/monitoring/preview.jpg" srcset="img/cases-new/monitoring/preview@2x.jpg 2x" alt=""/><h6 class="h6-small brand-gray">Landing page and web service</h6><h5>Enterprise monitoring system &mdash; complete redesign of&nbsp;the SaaS product</h5></a><a class="js-wow fadeInUpMy index-portfolio__tile" href="case-expenses" data-wow-delay="0.4s"><img class="index-portfolio__tile-img" src="img/cases-new/expenses/preview.jpg" srcset="img/cases-new/expenses/preview@2x.jpg 2x" alt=""/><h6 class="h6-small brand-gray">Landing page</h6><h5>Expense tracker in&nbsp;your pocket</h5></a><a class="js-wow fadeInUpMy index-portfolio__tile" href="case-boule" data-wow-delay="0.6000000000000001s"><img class="index-portfolio__tile-img" src="img/cases-new/boule/preview.jpg" srcset="img/cases-new/boule/preview@2x.jpg 2x" alt=""/><h6 class="h6-small brand-gray">Web service</h6><h5>Boule &mdash; blockchain voting system</h5></a><a class="js-wow fadeInUpMy index-portfolio__tile" href="case-misterporter" data-wow-delay="0.8s"><img class="index-portfolio__tile-img" src="img/cases-new/misterporter/preview.jpg" srcset="img/cases-new/misterporter/preview@2x.jpg 2x" alt=""/><h6 class="h6-small brand-gray">Web service</h6><h5>Web service for&nbsp;automating Airbnb business</h5></a><a class="js-wow fadeInUpMy index-portfolio__tile" href="case-oxygen" data-wow-delay="1s"><img class="index-portfolio__tile-img" src="img/cases-new/oxygen/preview.jpg" srcset="img/cases-new/oxygen/preview@2x.jpg 2x" alt=""/><h6 class="h6-small brand-gray">Mobile app</h6><h5>Mobile bank for&nbsp;millennials</h5></a></div></div><div class="info-large-v-margin" id="footer"><div class="footer-content"><div class="row"><div class="footer-logo-wrap"><a href="index.html"><img class="footer-logo" src="./img/logo-footer.svg" alt=""/></a></div><div class="footer-info-b"><a class="footer-text" href="mailto:info@humbleteam.com?subject=Project request&amp;body=Hi Humbleteam,">info@humbleteam.com</a><div class="footer-text">+420 776 828 895</div></div><div class="footer-info-b"><a class="footer-text" href="https://www.google.cz/maps/place/Rybn%C3%A1+716%2F24,+110+00+Praha+1-Star%C3%A9+M%C4%9Bsto/data=!4m2!3m1!1s0x470b94ea0da96c41:0xd926809755e5bf9a?sa=X&amp;ved=0ahUKEwiCkLCaxaDbAhUlCcAKHVulCtkQ8gEIKDAA" target="_blank">Czech Republic, Rybna 716/24<br>Prague Old Town</a></div><div class="footer__links-wrap"><a class="footer__link" href="https://dribbble.com/humble_team"><div class="footer__link__img-wrap"><img class="footer__link-img" src="img/icon/icon-dribble.svg" alt=""/><img class="footer__link-img-blue" src="img/icon/icon-dribble-blue.svg" alt=""/></div><div class="footer__link-text">Dribbble</div></a><a class="footer__link" href="https://www.behance.net/humbleteam"><div class="footer__link__img-wrap"><img class="footer__link-img" src="img/icon/icon-behance.svg" alt=""/><img class="footer__link-img-blue" src="img/icon/icon-behance-blue.svg" alt=""/></div><div class="footer__link-text">Behance</div></a><a class="footer__link" href="https://www.instagram.com/humbleteam.agency/"><div class="footer__link__img-wrap"><img class="footer__link-img" src="img/icon/icon-inst.svg" alt=""/><img class="footer__link-img-blue" src="img/icon/icon-inst-blue.svg" alt=""/></div><div class="footer__link-text">Instagram</div></a><a class="footer__link" href="https://vimeo.com/humbleteam"><div class="footer__link__img-wrap"><img class="footer__link-img" src="img/icon/icon-vimeo.svg" alt=""/><img class="footer__link-img-blue" src="img/icon/icon-vimeo-blue.svg" alt=""/></div><div class="footer__link-text">Vimeo</div></a><a class="footer__link" href="https://medium.com/@humbleteam"><div class="footer__link__img-wrap"><img class="footer__link-img" src="img/icon/icon-medium.svg" alt=""/><img class="footer__link-img-blue" src="img/icon/icon-medium-blue.svg" alt=""/></div><div class="footer__link-text">Medium</div></a></div></div></div></div></body></html>

src/pug/index.pug
extends layout

include mixins/portfolio
include mixins/expertises

block vars
    - var page = 'index'

block content
    -
        slides = [
            {
                class: 'slide__google-bank',
                preview_folder: 'google-bank',
                title: '<span class="brand-primary">Redesigned</span> mobile banking',
                text: 'Meet Google bank, it will change your image of&nbsp;a banking app. Or&nbsp;at&nbsp;least entertain you for&nbsp;2 min.',
                link: 'case-google-bank',
                bg_color: '#fafbfc',
            }, {
                class: 'slide__expenses',
                preview_folder: 'expenses',
                title: 'Simple and subtle <span class="brand-primary">expense</span> management',
                text: 'Predicting expenses even before they actually occur.',
                link: 'case-expenses',
                dark: 'dark',
                bg_color: '#0b053b'
            }, {
                class: 'slide__monitoring',
                preview_folder: 'monitoring',
                title: '<span class="brand-primary">SaaS</span> monitoring app and website',
                text: 'The largest network of&nbsp;servers, the widest range of&nbsp;various tools, all in&nbsp;one solid package.',
                link: 'case-monitoring',
                dark: 'dark',
                bg_color: '#001229'
            }
        ]

    .index-promo.js-index-promo.js-first-screen
        .index-promo-slider-b.js-index-promo-slider._hidden
            .index-promo__slider-cont.js-index-promo-slider-cont
                .index-promo__slider-wrap.js-index-promo-slider-wrap
                    each slide in slides
                        .slide.js-index-promo-slider-item.swiper-slide-active(class=slide.class, data-header=slide.dark, style='background-color:'+slide.bg_color)
                            img(src=`./img/cases-new/${slide.preview_folder}/main-phone.jpg` srcset=`./img/cases-new/${slide.preview_folder}/main-phone@2x.jpg 2x`, alt='').index-promo__img-mobile
                            .slide-cursor-left.js-slide-cursor-left
                            .slide-cursor-right.js-slide-cursor-right
                            .slide__content
                                .description
                                    h1!= slide.title
                                    p!= slide.text
                                    a(href=slide.link).btn Open case study

                .index-promo__slider__pagination.js-index-promo-pagination

    .page-wrap
        .content._big.info-large-v-margin(class=effectClass)
            h2 We are #[span.brand-primary humbleteam.] We create digital products at&nbsp;the intersection of&nbsp;#[span.brand-primary users'] and #[span.brand-primary business'] needs.
            a(href='info').btn Check who we are

        .content.index-expertise.info-large-v-margin
            h3 Humble expertise
            p.s.brand-gray We're not saying we only work in&nbsp;these areas, but there's a good reason we chose to&nbsp;put them here.

        +expertises

        .content.info-large-v-margin
            h3 Portfolio. No more words.

        -
            cases = [
                {
                    link: 'case-google-bank',
                    preview_folder: 'google-bank',
                    tag: 'Mobile app',
                    title: 'Google bank concept &mdash; mobile banking for&nbsp;21st century'
                }, {
                    link: 'case-monitoring',
                    preview_folder: 'monitoring',
                    tag: 'Landing page and web service',
                    title: 'Enterprise monitoring system &mdash; complete redesign of&nbsp;the SaaS product'
                }, {
                    link: 'case-expenses',
                    preview_folder: 'expenses',
                    tag: 'Landing page',
                    title: 'Expense tracker in&nbsp;your pocket'
                }, {
                    link: 'case-boule',
                    preview_folder: 'boule',
                    tag: 'Web service',
                    title: 'Boule &mdash; blockchain voting system'
                }, {
                    link: 'case-misterporter',
                    preview_folder: 'misterporter',
                    tag: 'Web service',
                    title: 'Web service for&nbsp;automating Airbnb business'
                }, {
                    link: 'case-oxygen',
                    preview_folder: 'oxygen',
                    tag: 'Mobile app',
                    title: 'Mobile bank for&nbsp;millennials'
                }
            ]

        +portfolio(cases)
