build/info.html
<!DOCTYPE html><html lang="en"><head><title>Humbleteam — digital agency</title><meta charset="utf-8"/><meta name="description" content="Humbleteam — digital agency"/><meta name="author" content="Humbleteam"/><meta name="viewport" content="width=device-width, initial-scale=1,  maximum-scale=1"/><link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon.png"/><link rel="icon" type="image/png" sizes="32x32" href="img/favicons/favicon-32x32.png"/><link rel="icon" type="image/png" sizes="16x16" href="img/favicons/favicon-16x16.png"/><link rel="manifest" href="/manifest.json"/><meta property="og:title" content="Humbleteam — digital agency"/><meta property="og:description" content="We are humbleteam. We create digital products at&amp;nbsp;the intersection of&amp;nbsp;users and business needs."/><meta property="og:image:height" content="630"/><meta property="og:image:width" content="1200"/><meta property="og:image" content="https://humbleteam.com/img/open-graph/social-image.jpg"/><meta name="theme-color" content="#ffffff"/><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script><!--script(type='text/javascript', src='js/nbsp.js')--><script type="text/javascript" src="js/main.js"></script><script type="text/javascript" src="js/ga.js"></script><link rel="stylesheet" href="fonts/tttravel/stylesheet.css"/><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i"/><link rel="stylesheet" href="css/styles.css"/><script type="text/javascript" src="js/heap.js"></script></head><body><nav class="header" id="header"><div class="header__wrapper"><a href="index"><div class="header__logo"></div></a><div class="burger _mobile-burger"><img class="burger-img__dark" src="img/icon/burger_dark.svg" alt=""/><img class="burger-img__white" src="img/icon/burger_white.svg" alt=""/></div><div class="burger _desktop-burger"><img class="burger-img__dark" src="img/icon/burger_dark-desktop.svg" alt=""/><img class="burger-img__white" src="img/icon/burger_white-desktop.svg" alt=""/></div></div></nav><div class="burger-overlay"></div><div id="burger-content"><div class="header__wrapper"><img id="burger-close" src="./img/icon/close_dark-desktop.svg" alt=""/></div><div class="burger-content__wrapper"><nav><li class="burger-link-item"><div class="burger-link-index">01</div><a class="burger-link" href="index">Home</a></li><li class="burger-link-item"><div class="burger-link-index">02</div><a class="burger-link" href="cases">Portfolio</a><div class="burger-link__submenu"><a class="burger-link__submenu-item" href="short-portfolio">Quick sneak peeks</a></div></li><li class="burger-link-item"><div class="burger-link-index">03</div><a class="current burger-link" href="info">What we do</a><div class="burger-link__submenu"><a class="burger-link__submenu-item" href="we-do-startups">Start ups</a><a class="burger-link__submenu-item" href="we-do-fintech">Fintech</a><a class="burger-link__submenu-item" href="we-do-automotive">Automotive</a></div></li><li class="burger-link-item"><div class="burger-link-index">04</div><a class="burger-link" href="contacts">Contact us</a></li><li class="burger-link-item"><div class="burger-link-index">05</div><a class="burger-link" href="blog">Know hows</a></li></nav><div class="burger__socials"><a class="info-worldwide__link" href="https://dribbble.com/humble_team"><div class="info-worldwide__link__img-wrap"><img class="info-worldwide__link-img" src="img/icon/icon-dribble.svg" alt=""/><img class="info-worldwide__link-img-blue" src="img/icon/icon-dribble-blue.svg" alt=""/></div></a><a class="info-worldwide__link" href="https://www.instagram.com/humbleteam.agency/"><div class="info-worldwide__link__img-wrap"><img class="info-worldwide__link-img" src="img/icon/icon-inst.svg" alt=""/><img class="info-worldwide__link-img-blue" src="img/icon/icon-inst-blue.svg" alt=""/></div></a><a class="info-worldwide__link" href="https://www.behance.net/humbleteam"><div class="info-worldwide__link__img-wrap"><img class="info-worldwide__link-img" src="img/icon/icon-behance.svg" alt=""/><img class="info-worldwide__link-img-blue" src="img/icon/icon-behance-blue.svg" alt=""/></div></a><a class="s burger__socials__mail" href="mailto:info@humbleteam.com?subject=Project request&amp;body=Hi Humbleteam,">info@humbleteam.com</a></div></div></div><div id="img-popup"><img id="img-popup-close" src="./img/icon/close_black.svg" alt=""/><div class="img-popup__img-wrap js-img-popup-img-wrap"><img class="img-popup__img js-img-popup-img" alt=""/></div></div><div class="page-wrap"><div class="flex-wrapper initial-content-margin"><div class="left hidden-md-down"><h6 class="h6-small left-marker">01</h6><h6 class="h6-small">Fundamental principles</h6></div><div class="content js-wow fadeInUpMy"><h1>We create products that not only <span class="brand-primary">work</span> but are also <span class="brand-primary">nice.</span></h1><p>We focus on&nbsp;creating the better experience for&nbsp;everyone. Being a&nbsp;team of&nbsp;big design enthusiasts, we try to&nbsp;explore the design field and experiment every day, however, we never forget the essentials of&nbsp;the design process.</p><div class="row info-cross"><img class="info-cross__img" src="./img/cross.svg" alt=""><div class="info-cross__cross-text"><div class="col-xs-4"><p>Useless meetings</p></div><div class="col-xs-4"><p>Meniningless discussions</p></div><div class="col-xs-4"><p>Complicated processes</p></div></div></div></div></div><div class="flex-wrapper info-large-v-margin"><div class="left hidden-md-down"><h6 class="h6-small left-marker">02</h6><h6 class="h6-small">Worldwide recognition</h6></div><div class="content"><h1 class="js-wow fadeInUpMy">Achievements & awards</h1><p>We are known to&nbsp;these entities! Worldwide know digital design awards &mdash; more than 60 of&nbsp;them we got for&nbsp;last 3 years.</p><div class="info-awards"><div class="info-awards__item js-wow fadeInUpMy" data-wow-delay="0s"><div class="info-awards__item-content"><div class="info-awards__item-img-wrap"><img class="info-awards__item-img" src="./img/awards/CSSDesignAwards.svg" alt=""></div><div class="xxs brand-gray info-awards__item-text">Interface design<br>2015, 2016, 2017</div></div></div><div class="info-awards__item js-wow fadeInUpMy" data-wow-delay="0.2s"><div class="info-awards__item-content"><div class="info-awards__item-img-wrap"><img class="info-awards__item-img" src="./img/awards/Webby.svg" alt=""></div><div class="xxs brand-gray info-awards__item-text">Web design, 2016</div></div></div><div class="info-awards__item js-wow fadeInUpMy" data-wow-delay="0.4s"><div class="info-awards__item-content"><div class="info-awards__item-img-wrap"><img class="info-awards__item-img" src="./img/awards/Awwwards.svg" alt=""></div><div class="xxs brand-gray info-awards__item-text">Web design, 2016, 2017</div></div></div><div class="info-awards__item js-wow fadeInUpMy" data-wow-delay="0.6000000000000001s"><div class="info-awards__item-content"><div class="info-awards__item-img-wrap"><img class="info-awards__item-img" src="./img/awards/SilverMercury.svg" alt=""></div><div class="xxs brand-gray info-awards__item-text">Interface design, 2017</div></div></div><div class="info-awards__item js-wow fadeInUpMy" data-wow-delay="0.8s"><div class="info-awards__item-content"><div class="info-awards__item-img-wrap"><img class="info-awards__item-img" src="./img/awards/WhiteSquare.svg" alt=""></div><div class="xxs brand-gray info-awards__item-text">Web design, 2017</div></div></div><div class="info-awards__item js-wow fadeInUpMy" data-wow-delay="1s"><div class="info-awards__item-content"><div class="info-awards__item-img-wrap"><img class="info-awards__item-img" src="./img/awards/Reddot.svg" alt=""></div><div class="xxs brand-gray info-awards__item-text">Brand identity, 2017</div></div></div></div></div></div></div><div class="info__dark-block info-large-v-margin"><div class="page-wrap"><div class="flex-wrapper"><div class="left hidden-md-down"><h6 class="h6-small left-marker">03</h6><h6 class="h6-small">Starting from table scratch</h6></div><div class="content"><h1 class="js-wow fadeInUpMy">Humble team</h1><div class="info__team__wrap"><div class="info__team__left"><img src="./img/info/1.jpg" srcset="./img/info/1@2x.jpg 2x" alt=""><img src="./img/info/4.jpg" srcset="./img/info/4@2x.jpg 2x" alt=""><img src="./img/info/3.jpg" srcset="./img/info/3@2x.jpg 2x" alt=""></div><div class="info__team__right"><img src="./img/info/2.jpg" srcset="./img/info/2@2x.jpg 2x" alt=""><img src="./img/info/5.jpg" srcset="./img/info/5@2x.jpg 2x" alt=""></div></div></div></div></div></div><div class="page-wrap"><div class="content index-expertise info-large-v-margin"><h3>Humble expertise</h3><p class="brand-gray">We're not saying we only work in&nbsp;these areas, but there's a good reason we chose to&nbsp;put them here.</p></div><div class="row index-expertise__tiles"><div class="index-expertise__tile-wrap js-wow fadeInUpMy" data-wow-delay="0s"><a class="index-expertise__tile" href="we-do-startups"><img class="index-expertise__tile-img" src="img/what-we-do/what-we-do-1.png" srcset="img/what-we-do/what-we-do-1@2x.png 2x" alt=""/><div class="index-expertise__tile-content"><h4>Startups</h4><div class="xs-small-line-height brand-gray">We didn&#39;t start in&nbsp;a&nbsp;garage, but we can humbly relate to&nbsp;that.</div></div></a></div><div class="index-expertise__tile-wrap js-wow fadeInUpMy" data-wow-delay="0.2s"><a class="index-expertise__tile" href="we-do-fintech"><img class="index-expertise__tile-img" src="img/what-we-do/what-we-do-2.png" srcset="img/what-we-do/what-we-do-2@2x.png 2x" alt=""/><div class="index-expertise__tile-content"><h4>Fintech</h4><div class="xs-small-line-height brand-gray">Nicer tools work better. And they earn more money.</div></div></a></div><div class="index-expertise__tile-wrap js-wow fadeInUpMy" data-wow-delay="0.4s"><a class="index-expertise__tile" href="we-do-automotive"><img class="index-expertise__tile-img" src="img/what-we-do/what-we-do-3.png" srcset="img/what-we-do/what-we-do-3@2x.png 2x" alt=""/><div class="index-expertise__tile-content"><h4>Automotive</h4><div class="xs-small-line-height brand-gray">Carefully handling user's attention. Because safety is not boring.</div></div></a></div></div><div class="content info-worldwide info-large-v-margin"><h3>Humbleteam worldwide</h3><div class="info-worldwide__links-wrap"><a class="js-wow fadeInUpMy info-worldwide__link" href="https://dribbble.com/humble_team" data-wow-delay="NaNs"><div class="info-worldwide__link__img-wrap"><img class="info-worldwide__link-img" src="img/icon/icon-dribble-blue.svg" alt=""></div><div class="info-worldwide__link-text">Dribbble</div></a><a class="js-wow fadeInUpMy info-worldwide__link" href="https://www.behance.net/humbleteam" data-wow-delay="NaNs"><div class="info-worldwide__link__img-wrap"><img class="info-worldwide__link-img" src="img/icon/icon-behance-blue.svg" alt=""></div><div class="info-worldwide__link-text">Behance</div></a><a class="js-wow fadeInUpMy info-worldwide__link" href="https://www.instagram.com/humbleteam.agency/" data-wow-delay="NaNs"><div class="info-worldwide__link__img-wrap"><img class="info-worldwide__link-img" src="img/icon/icon-inst-blue.svg" alt=""></div><div class="info-worldwide__link-text">Instagram</div></a><a class="js-wow fadeInUpMy info-worldwide__link" href="https://vimeo.com/humbleteam" data-wow-delay="NaNs"><div class="info-worldwide__link__img-wrap"><img class="info-worldwide__link-img" src="img/icon/icon-vimeo-blue.svg" alt=""></div><div class="info-worldwide__link-text">Vimeo</div></a><a class="js-wow fadeInUpMy info-worldwide__link" href="https://medium.com/@humbleteam" data-wow-delay="NaNs"><div class="info-worldwide__link__img-wrap"><img class="info-worldwide__link-img" src="img/icon/icon-medium-blue.svg" alt=""></div><div class="info-worldwide__link-text">Medium</div></a></div></div></div><div class="info-large-v-margin" id="footer"><div class="footer-content"><div class="row"><div class="footer-logo-wrap"><a href="index.html"><img class="footer-logo" src="./img/logo-footer.svg" alt=""/></a></div><div class="footer-info-b"><a class="footer-text" href="mailto:info@humbleteam.com?subject=Project request&amp;body=Hi Humbleteam,">info@humbleteam.com</a><div class="footer-text">+420 776 828 895</div></div><div class="footer-info-b"><a class="footer-text" href="https://www.google.cz/maps/place/Rybn%C3%A1+716%2F24,+110+00+Praha+1-Star%C3%A9+M%C4%9Bsto/data=!4m2!3m1!1s0x470b94ea0da96c41:0xd926809755e5bf9a?sa=X&amp;ved=0ahUKEwiCkLCaxaDbAhUlCcAKHVulCtkQ8gEIKDAA" target="_blank">Czech Republic, Rybna 716/24<br>Prague Old Town</a></div><div class="footer__links-wrap"><a class="footer__link" href="https://dribbble.com/humble_team"><div class="footer__link__img-wrap"><img class="footer__link-img" src="img/icon/icon-dribble.svg" alt=""/><img class="footer__link-img-blue" src="img/icon/icon-dribble-blue.svg" alt=""/></div><div class="footer__link-text">Dribbble</div></a><a class="footer__link" href="https://www.behance.net/humbleteam"><div class="footer__link__img-wrap"><img class="footer__link-img" src="img/icon/icon-behance.svg" alt=""/><img class="footer__link-img-blue" src="img/icon/icon-behance-blue.svg" alt=""/></div><div class="footer__link-text">Behance</div></a><a class="footer__link" href="https://www.instagram.com/humbleteam.agency/"><div class="footer__link__img-wrap"><img class="footer__link-img" src="img/icon/icon-inst.svg" alt=""/><img class="footer__link-img-blue" src="img/icon/icon-inst-blue.svg" alt=""/></div><div class="footer__link-text">Instagram</div></a><a class="footer__link" href="https://vimeo.com/humbleteam"><div class="footer__link__img-wrap"><img class="footer__link-img" src="img/icon/icon-vimeo.svg" alt=""/><img class="footer__link-img-blue" src="img/icon/icon-vimeo-blue.svg" alt=""/></div><div class="footer__link-text">Vimeo</div></a><a class="footer__link" href="https://medium.com/@humbleteam"><div class="footer__link__img-wrap"><img class="footer__link-img" src="img/icon/icon-medium.svg" alt=""/><img class="footer__link-img-blue" src="img/icon/icon-medium-blue.svg" alt=""/></div><div class="footer__link-text">Medium</div></a></div></div></div></div></body></html>

src/pug/info.pug
extends layout

include mixins/expertises

block vars
    - var page = 'info'

block content
    .page-wrap
        .flex-wrapper.initial-content-margin
            .left.hidden-md-down
                h6.h6-small.left-marker 01
                h6.h6-small Fundamental principles
            .content(class=effectClass)
                h1 We create products that not only #[span.brand-primary work] but are also #[span.brand-primary nice.]
                p We focus on&nbsp;creating the better experience for&nbsp;everyone. Being a&nbsp;team of&nbsp;big design enthusiasts, we try to&nbsp;explore the design field and experiment every day, however, we never forget the essentials of&nbsp;the design process.

                .row.info-cross
                    img(src='./img/cross.svg', alt='').info-cross__img

                    .info-cross__cross-text
                        .col-xs-4
                            p Useless meetings
                        .col-xs-4
                            p Meniningless discussions
                        .col-xs-4
                            p Complicated processes

        .flex-wrapper.info-large-v-margin
            .left.hidden-md-down
                h6.h6-small.left-marker 02
                h6.h6-small Worldwide recognition
            .content
                h1(class=effectClass) Achievements & awards
                p We are known to&nbsp;these entities! Worldwide know digital design awards &mdash; more than 60 of&nbsp;them we got for&nbsp;last 3 years.

                .info-awards
                    each award, index in [['CSSDesignAwards', 'Interface design<br>2015, 2016, 2017'], ['Webby', 'Web design, 2016'], ['Awwwards', 'Web design, 2016, 2017'], ['SilverMercury', 'Interface design, 2017'], ['WhiteSquare', 'Web design, 2017'], ['Reddot', 'Brand identity, 2017']]
                        .info-awards__item(class=effectClass, data-wow-delay=`${index * effectDelay}s`)
                            .info-awards__item-content
                                .info-awards__item-img-wrap
                                    img(src=`./img/awards/${award[0]}.svg`, alt='').info-awards__item-img

                                .xxs.brand-gray.info-awards__item-text!= award[1]

    .info__dark-block.info-large-v-margin
        .page-wrap
            .flex-wrapper
                .left.hidden-md-down
                    h6.h6-small.left-marker 03
                    h6.h6-small Starting from table scratch
                .content
                    h1(class=effectClass) Humble team

                    .info__team__wrap
                        .info__team__left
                            img(src='./img/info/1.jpg', srcset='./img/info/1@2x.jpg 2x', alt='')
                            img(src='./img/info/4.jpg', srcset='./img/info/4@2x.jpg 2x', alt='')
                            img(src='./img/info/3.jpg', srcset='./img/info/3@2x.jpg 2x', alt='')

                        .info__team__right
                            img(src='./img/info/2.jpg', srcset='./img/info/2@2x.jpg 2x', alt='')
                            img(src='./img/info/5.jpg', srcset='./img/info/5@2x.jpg 2x', alt='')

    .page-wrap
        .content.index-expertise.info-large-v-margin
            h3 Humble expertise
            p.brand-gray We're not saying we only work in&nbsp;these areas, but there's a good reason we chose to&nbsp;put them here.

        +expertises

        .content.info-worldwide.info-large-v-margin
            h3 Humbleteam worldwide

            .info-worldwide__links-wrap
                each link in [['icon-dribble-blue', 'Dribbble', 'https://dribbble.com/humble_team'], ['icon-behance-blue', 'Behance', 'https://www.behance.net/humbleteam'], ['icon-inst-blue', 'Instagram', 'https://www.instagram.com/humbleteam.agency/'], ['icon-vimeo-blue', 'Vimeo', 'https://vimeo.com/humbleteam'], ['icon-medium-blue', 'Medium', 'https://medium.com/@humbleteam']]
                    a(href=link[2], class=effectClass, data-wow-delay=`${index * effectDelay}s`).info-worldwide__link
                        .info-worldwide__link__img-wrap
                            img(src=`img/icon/${link[0]}.svg`, alt='').info-worldwide__link-img
                        .info-worldwide__link-text!= link[1]
