build/typography.html
<!DOCTYPE html><html class="white-bg" lang="en"><head><title>Humbleteam — digital agency</title><meta charset="utf-8"/><meta name="description" content="Humbleteam — digital agency"/><meta name="author" content="Humbleteam"/><meta name="viewport" content="width=device-width, initial-scale=1,  maximum-scale=1"/><link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon.png"/><link rel="icon" type="image/png" sizes="32x32" href="img/favicons/favicon-32x32.png"/><link rel="icon" type="image/png" sizes="16x16" href="img/favicons/favicon-16x16.png"/><link rel="manifest" href="/manifest.json"/><meta property="og:title" content="Humbleteam — digital agency"/><meta property="og:description" content="We are humbleteam. We create digital products at&amp;nbsp;the intersection of&amp;nbsp;users and business needs."/><meta property="og:image:height" content="630"/><meta property="og:image:width" content="1200"/><meta property="og:image" content="https://humbleteam.com/img/open-graph/social-image.jpg"/><meta name="theme-color" content="#ffffff"/><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script><!--script(type='text/javascript', src='js/nbsp.js')--><script type="text/javascript" src="js/main.js"></script><script type="text/javascript" src="js/ga.js"></script><link rel="stylesheet" href="fonts/tttravel/stylesheet.css"/><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i"/><link rel="stylesheet" href="css/styles.css"/><script type="text/javascript" src="js/heap.js"></script></head><body><nav class="header" id="header"><div class="header__wrapper"><a href="index"><div class="header__logo"></div></a><div class="burger _mobile-burger"><img class="burger-img__dark" src="img/icon/burger_dark.svg" alt=""/><img class="burger-img__white" src="img/icon/burger_white.svg" alt=""/></div><div class="burger _desktop-burger"><img class="burger-img__dark" src="img/icon/burger_dark-desktop.svg" alt=""/><img class="burger-img__white" src="img/icon/burger_white-desktop.svg" alt=""/></div></div></nav><div class="burger-overlay"></div><div id="burger-content"><div class="header__wrapper"><img id="burger-close" src="./img/icon/close_dark-desktop.svg" alt=""/></div><div class="burger-content__wrapper"><nav><li class="burger-link-item"><div class="burger-link-index">01</div><a class="burger-link" href="index">Home</a></li><li class="burger-link-item"><div class="burger-link-index">02</div><a class="burger-link" href="cases">Portfolio</a><div class="burger-link__submenu"><a class="burger-link__submenu-item" href="short-portfolio">Quick sneak peeks</a></div></li><li class="burger-link-item"><div class="burger-link-index">03</div><a class="burger-link" href="info">What we do</a><div class="burger-link__submenu"><a class="burger-link__submenu-item" href="we-do-startups">Start ups</a><a class="burger-link__submenu-item" href="we-do-fintech">Fintech</a><a class="burger-link__submenu-item" href="we-do-automotive">Automotive</a></div></li><li class="burger-link-item"><div class="burger-link-index">04</div><a class="burger-link" href="contacts">Contact us</a></li><li class="burger-link-item"><div class="burger-link-index">05</div><a class="burger-link" href="blog">Know hows</a></li></nav><div class="burger__socials"><a class="info-worldwide__link" href="https://dribbble.com/humble_team"><div class="info-worldwide__link__img-wrap"><img class="info-worldwide__link-img" src="img/icon/icon-dribble.svg" alt=""/><img class="info-worldwide__link-img-blue" src="img/icon/icon-dribble-blue.svg" alt=""/></div></a><a class="info-worldwide__link" href="https://www.instagram.com/humbleteam.agency/"><div class="info-worldwide__link__img-wrap"><img class="info-worldwide__link-img" src="img/icon/icon-inst.svg" alt=""/><img class="info-worldwide__link-img-blue" src="img/icon/icon-inst-blue.svg" alt=""/></div></a><a class="info-worldwide__link" href="https://www.behance.net/humbleteam"><div class="info-worldwide__link__img-wrap"><img class="info-worldwide__link-img" src="img/icon/icon-behance.svg" alt=""/><img class="info-worldwide__link-img-blue" src="img/icon/icon-behance-blue.svg" alt=""/></div></a><a class="s burger__socials__mail" href="mailto:info@humbleteam.com?subject=Project request&amp;body=Hi Humbleteam,">info@humbleteam.com</a></div></div></div><div id="img-popup"><img id="img-popup-close" src="./img/icon/close_black.svg" alt=""/><div class="img-popup__img-wrap js-img-popup-img-wrap"><img class="img-popup__img js-img-popup-img" alt=""/></div></div><div class="page-wrap"><div class="content" style="margin-top: 300px;"><h1>We create products that work. And are nice.</h1><h2>We create products that work. And are nice.</h2><h3>We create products that work. And are nice.</h3><h4>We create products that work. And are nice.</h4><h5>We create products that work. And are nice.</h5><h6>Examples</h6><h6 class="h6-small">Naming formula</h6><br><br><br><h2>We help deliver ideas quicker and with&nbsp;respect to&nbsp;end users needs</h2><p>Startups are all about restrictions and challenges, and we have faced those conditions more than once or&nbsp;twice. Whether you're preparing for&nbsp;an investment pitch or&nbsp;iterating the existing product, we can support your team and provide the needed design assistance.</p><br><br><br><h3>Syncing your work</h3><p>We use Google drive to&nbsp;sync our projects. When starting to&nbsp;work on&nbsp;a project, you are going to&nbsp;receive access to&nbsp;a project's google drive folder. If not &mdash; please reach out your project manager.</p><p>Set up automatic sync and have the project synced at&nbsp;all times. We don't use any other cloud storage system.</p><ul><li>Preview in&nbsp;browser</li><li>Sketch mate</li><li>Sketch measure</li><li>Random size</li><li>Pixel Perfecter</li></ul><ul><li class="with-link">Sketch runner<br><a class="small-link" href="http://sketchrunner.com">http://sketchrunner.com</a></li></ul><ul><li class="with-link">Invision Craft<br><a class="small-link" href="http://sketchrunner.com">http://sketchrunner.com</a></li></ul><ul><li class="with-link"><a class="small-link" href="http://sketchrunner.com">http://sketchrunner.com</a></li></ul><a class="small-link" href="https://en.bem.info/methodology/naming-convention">https://en.bem.info/methodology/naming-convention.</a><div class="full-width-wrap"><img src="./img/blogpost/naming-formula.png" srcset="./img/blogpost/naming-formula@2x.png 2x" alt=""></div><div class="small-content"><div class="s brand-gray">.s We're not saying we only work in&nbsp;these areas, but there's a good reason we chose to&nbsp;put them here.</div><div class="simple-row"><div class="grid-cell-50"><div class="xs-small-line-height brand-gray">.xs-small-line-height We didn't start in&nbsp;a garage, but we can humbly relate to&nbsp;that.</div></div><div class="grid-cell-50"><div class="xs brand-gray">.xs We didn't start in&nbsp;a garage, but we can humbly relate to&nbsp;that.</div></div><div class="grid-cell-50"><div class="xs-small-line-height brand-gray">.xs-small-line-height We didn't start in&nbsp;a garage, but we can humbly relate to&nbsp;that.</div></div><div class="grid-cell-50"><div class="xs brand-gray">.xs We didn't start in&nbsp;a garage, but we can humbly relate to&nbsp;that.</div></div></div><div class="xxs brand-gray">.xxs Interface design<br>2015, 2016, 2017</div></div></div></div><div class="info-large-v-margin" id="footer"><div class="footer-content"><div class="row"><div class="footer-logo-wrap"><a href="index.html"><img class="footer-logo" src="./img/logo-footer.svg" alt=""/></a></div><div class="footer-info-b"><a class="footer-text" href="mailto:info@humbleteam.com?subject=Project request&amp;body=Hi Humbleteam,">info@humbleteam.com</a><div class="footer-text">+420 776 828 895</div></div><div class="footer-info-b"><a class="footer-text" href="https://www.google.cz/maps/place/Rybn%C3%A1+716%2F24,+110+00+Praha+1-Star%C3%A9+M%C4%9Bsto/data=!4m2!3m1!1s0x470b94ea0da96c41:0xd926809755e5bf9a?sa=X&amp;ved=0ahUKEwiCkLCaxaDbAhUlCcAKHVulCtkQ8gEIKDAA" target="_blank">Czech Republic, Rybna 716/24<br>Prague Old Town</a></div><div class="footer__links-wrap"><a class="footer__link" href="https://dribbble.com/humble_team"><div class="footer__link__img-wrap"><img class="footer__link-img" src="img/icon/icon-dribble.svg" alt=""/><img class="footer__link-img-blue" src="img/icon/icon-dribble-blue.svg" alt=""/></div><div class="footer__link-text">Dribbble</div></a><a class="footer__link" href="https://www.behance.net/humbleteam"><div class="footer__link__img-wrap"><img class="footer__link-img" src="img/icon/icon-behance.svg" alt=""/><img class="footer__link-img-blue" src="img/icon/icon-behance-blue.svg" alt=""/></div><div class="footer__link-text">Behance</div></a><a class="footer__link" href="https://www.instagram.com/humbleteam.agency/"><div class="footer__link__img-wrap"><img class="footer__link-img" src="img/icon/icon-inst.svg" alt=""/><img class="footer__link-img-blue" src="img/icon/icon-inst-blue.svg" alt=""/></div><div class="footer__link-text">Instagram</div></a><a class="footer__link" href="https://vimeo.com/humbleteam"><div class="footer__link__img-wrap"><img class="footer__link-img" src="img/icon/icon-vimeo.svg" alt=""/><img class="footer__link-img-blue" src="img/icon/icon-vimeo-blue.svg" alt=""/></div><div class="footer__link-text">Vimeo</div></a><a class="footer__link" href="https://medium.com/@humbleteam"><div class="footer__link__img-wrap"><img class="footer__link-img" src="img/icon/icon-medium.svg" alt=""/><img class="footer__link-img-blue" src="img/icon/icon-medium-blue.svg" alt=""/></div><div class="footer__link-text">Medium</div></a></div></div></div></div></body></html>

src/pug/typography.pug
extends layout

block vars
    - var attributes = { 'class': 'white-bg' }

block content
    .page-wrap
        .content(style='margin-top: 300px;')
            h1 We create products that work. And are nice.
            h2 We create products that work. And are nice.
            h3 We create products that work. And are nice.
            h4 We create products that work. And are nice.
            h5 We create products that work. And are nice.
            h6 Examples
            h6.h6-small Naming formula

            br
            br
            br
            h2 We help deliver ideas quicker and with&nbsp;respect to&nbsp;end users needs
            p Startups are all about restrictions and challenges, and we have faced those conditions more than once or&nbsp;twice. Whether you're preparing for&nbsp;an investment pitch or&nbsp;iterating the existing product, we can support your team and provide the needed design assistance.

            br
            br
            br
            h3 Syncing your work
            p We use Google drive to&nbsp;sync our projects. When starting to&nbsp;work on&nbsp;a project, you are going to&nbsp;receive access to&nbsp;a project's google drive folder. If not &mdash; please reach out your project manager.
            p Set up automatic sync and have the project synced at&nbsp;all times. We don't use any other cloud storage system.

            ul
                li Preview in&nbsp;browser
                li Sketch mate
                li Sketch measure
                li Random size
                li Pixel Perfecter

            ul
                li.with-link Sketch runner<br>#[a(href='http://sketchrunner.com').small-link http://sketchrunner.com]

            ul
                li.with-link Invision Craft<br>#[a(href='http://sketchrunner.com').small-link http://sketchrunner.com]

            ul
                li.with-link #[a(href='http://sketchrunner.com').small-link http://sketchrunner.com]

            a(href='https://en.bem.info/methodology/naming-convention').small-link https://en.bem.info/methodology/naming-convention.

            .full-width-wrap
                img(src='./img/blogpost/naming-formula.png', srcset='./img/blogpost/naming-formula@2x.png 2x', alt='')

            .small-content
                .s.brand-gray .s We're not saying we only work in&nbsp;these areas, but there's a good reason we chose to&nbsp;put them here.

                .simple-row
                    .grid-cell-50
                        .xs-small-line-height.brand-gray .xs-small-line-height We didn't start in&nbsp;a garage, but we can humbly relate to&nbsp;that.

                    .grid-cell-50
                        .xs.brand-gray .xs We didn't start in&nbsp;a garage, but we can humbly relate to&nbsp;that.
                    .grid-cell-50
                        .xs-small-line-height.brand-gray .xs-small-line-height We didn't start in&nbsp;a garage, but we can humbly relate to&nbsp;that.

                    .grid-cell-50
                        .xs.brand-gray .xs We didn't start in&nbsp;a garage, but we can humbly relate to&nbsp;that.

                .xxs.brand-gray .xxs Interface design<br>2015, 2016, 2017
