build/we-do-startups.html
<!DOCTYPE html><html class="we-do-page" lang="en"><head><title>Humbleteam — digital agency</title><meta charset="utf-8"/><meta name="description" content="Humbleteam — digital agency"/><meta name="author" content="Humbleteam"/><meta name="viewport" content="width=device-width, initial-scale=1,  maximum-scale=1"/><link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon.png"/><link rel="icon" type="image/png" sizes="32x32" href="img/favicons/favicon-32x32.png"/><link rel="icon" type="image/png" sizes="16x16" href="img/favicons/favicon-16x16.png"/><link rel="manifest" href="/manifest.json"/><meta property="og:title" content="Humbleteam — digital agency"/><meta property="og:description" content="We are humbleteam. We create digital products at&amp;nbsp;the intersection of&amp;nbsp;users and business needs."/><meta property="og:image:height" content="630"/><meta property="og:image:width" content="1200"/><meta property="og:image" content="https://humbleteam.com/img/open-graph/social-image.jpg"/><meta name="theme-color" content="#ffffff"/><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script><!--script(type='text/javascript', src='js/nbsp.js')--><script type="text/javascript" src="js/main.js"></script><script type="text/javascript" src="js/ga.js"></script><link rel="stylesheet" href="fonts/tttravel/stylesheet.css"/><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i"/><link rel="stylesheet" href="css/styles.css"/><script type="text/javascript" src="js/heap.js"></script></head><body><nav class="header" id="header"><div class="header__wrapper"><a href="index"><div class="header__logo"></div></a><div class="burger _mobile-burger"><img class="burger-img__dark" src="img/icon/burger_dark.svg" alt=""/><img class="burger-img__white" src="img/icon/burger_white.svg" alt=""/></div><div class="burger _desktop-burger"><img class="burger-img__dark" src="img/icon/burger_dark-desktop.svg" alt=""/><img class="burger-img__white" src="img/icon/burger_white-desktop.svg" alt=""/></div></div></nav><div class="burger-overlay"></div><div id="burger-content"><div class="header__wrapper"><img id="burger-close" src="./img/icon/close_dark-desktop.svg" alt=""/></div><div class="burger-content__wrapper"><nav><li class="burger-link-item"><div class="burger-link-index">01</div><a class="burger-link" href="index">Home</a></li><li class="burger-link-item"><div class="burger-link-index">02</div><a class="burger-link" href="cases">Portfolio</a><div class="burger-link__submenu"><a class="burger-link__submenu-item" href="short-portfolio">Quick sneak peeks</a></div></li><li class="burger-link-item"><div class="burger-link-index">03</div><a class="burger-link" href="info">What we do</a><div class="burger-link__submenu"><a class="current burger-link__submenu-item" href="we-do-startups">Start ups</a><a class="burger-link__submenu-item" href="we-do-fintech">Fintech</a><a class="burger-link__submenu-item" href="we-do-automotive">Automotive</a></div></li><li class="burger-link-item"><div class="burger-link-index">04</div><a class="burger-link" href="contacts">Contact us</a></li><li class="burger-link-item"><div class="burger-link-index">05</div><a class="burger-link" href="blog">Know hows</a></li></nav><div class="burger__socials"><a class="info-worldwide__link" href="https://dribbble.com/humble_team"><div class="info-worldwide__link__img-wrap"><img class="info-worldwide__link-img" src="img/icon/icon-dribble.svg" alt=""/><img class="info-worldwide__link-img-blue" src="img/icon/icon-dribble-blue.svg" alt=""/></div></a><a class="info-worldwide__link" href="https://www.instagram.com/humbleteam.agency/"><div class="info-worldwide__link__img-wrap"><img class="info-worldwide__link-img" src="img/icon/icon-inst.svg" alt=""/><img class="info-worldwide__link-img-blue" src="img/icon/icon-inst-blue.svg" alt=""/></div></a><a class="info-worldwide__link" href="https://www.behance.net/humbleteam"><div class="info-worldwide__link__img-wrap"><img class="info-worldwide__link-img" src="img/icon/icon-behance.svg" alt=""/><img class="info-worldwide__link-img-blue" src="img/icon/icon-behance-blue.svg" alt=""/></div></a><a class="s burger__socials__mail" href="mailto:info@humbleteam.com?subject=Project request&amp;body=Hi Humbleteam,">info@humbleteam.com</a></div></div></div><div id="img-popup"><img id="img-popup-close" src="./img/icon/close_black.svg" alt=""/><div class="img-popup__img-wrap js-img-popup-img-wrap"><img class="img-popup__img js-img-popup-img" alt=""/></div></div><div class="blog-post-promo js-first-screen"><div class="blog-post-promo__text-wrap"><div class="blog-post-promo__left"><h6 class="h6-small">Startups</h6><h1>We didn't start in&nbsp;a&nbsp;<span class="brand-primary">garage,</span> but we can <span class="brand-primary">relate</span> to&nbsp;that</h1></div><div class="blog-post-promo__right"></div></div><div class="blog-post-promo__img-wrap"><div class="blog-post-promo__left"></div><div class="blog-post-promo__right"><img class="blog-post-promo__right__img" src="./img/what-we-do/start-up.png" srcset="./img/what-we-do/start-up@2x.png 2x" alt=""></div></div></div><div class="page-wrap"><div class="flex-wrapper info-large-v-margin"><div class="left hidden-md-down"><h6 class="h6-small left-marker">01</h6><h6 class="h6-small">Fundamental principles</h6></div><div class="content"><h2>We help deliver ideas quicker and with&nbsp;respect to&nbsp;end users needs</h2><p>Startups are all about restrictions and challenges, and we have faced those conditions more than once or&nbsp;twice. Whether you're preparing for&nbsp;an investment pitch or&nbsp;iterating the existing product, we can support your team and provide the needed design assistance.</p></div></div><div class="wedo-wide-img info-large-v-margin"><img class="wedo-wide-img__img" src="./img/what-we-do/wedo-img-1.png" alt=""></div><div class="flex-wrapper wedo-after-img__blue-tile-wrap"><div class="left hidden-md-down"></div><div class="content"><div class="wedo-after-img__blue-tile"><div class="wedo-after-img__blue-tile__top"><div class="header__links-lessons__text-1 _white-lesson">humbleteam.<span>how</span></div></div><h5>We don't think we could achieve any conceivable results without sticking to&nbsp;the design process.</h5><a class="xs wedo-after-img__blue-tile__link" href="blog-design">Check how we do design</a></div></div></div><div class="flex-wrapper wedo-after-img"><div class="left hidden-md-down"></div><div class="content _flex"><div class="wedo-after-img__left"><p>The capitalization of&nbsp;startups we worked with&nbsp;just exceed <span class="_bold">$72,000,000</span> And it's growing by&nbsp;the day.</p><div class="xs brand-gray">We did a lot of&nbsp;start ups 🤓. Actually, it's likely that we already have a half of&nbsp;your UX done</div></div><div class="wedo-after-img__right"><div class="wedo-after-img__right-text"><p>We do design and develop. Also we can take care of&nbsp;product management and planning.</p></div></div><p class="wedo-after-img__wide-text">We could help you isolate the MVP and trim the budget by&nbsp;leaving the most core function of&nbsp;the product for&nbsp;the first release. Or&nbsp;go guns blazing and create a market heavyweight.</p></div></div><div class="flex-wrapper info-large-v-margin"><div class="left hidden-md-down"><h6 class="h6-small left-marker">05</h6><h6 class="h6-small">Social proof</h6></div><div class="content"><h2>Our products were mentioned in&nbsp;some good medias from&nbsp;time to&nbsp;time</h2><div class="info-awards"><div class="info-awards__item js-wow fadeInUpMy" data-wow-delay="0s"><div class="info-awards__item-content"><div class="info-awards__item-img-wrap"><img class="info-awards__item-img" src="./img/press/venturebeat.svg" alt=""></div></div></div><div class="info-awards__item js-wow fadeInUpMy" data-wow-delay="0.2s"><div class="info-awards__item-content"><div class="info-awards__item-img-wrap"><img class="info-awards__item-img" src="./img/press/bloomberg.svg" alt=""></div></div></div><div class="info-awards__item js-wow fadeInUpMy" data-wow-delay="0.4s"><div class="info-awards__item-content"><div class="info-awards__item-img-wrap"><img class="info-awards__item-img" src="./img/press/tnw.svg" alt=""></div></div></div><div class="info-awards__item js-wow fadeInUpMy" data-wow-delay="0.6000000000000001s"><div class="info-awards__item-content"><div class="info-awards__item-img-wrap"><img class="info-awards__item-img" src="./img/press/entrepreneur.svg" alt=""></div></div></div><div class="info-awards__item js-wow fadeInUpMy" data-wow-delay="0.8s"><div class="info-awards__item-content"><div class="info-awards__item-img-wrap"><img class="info-awards__item-img" src="./img/press/business-insider.png" srcset="./img/press/business-insider@2x.png 2x" alt=""></div></div></div><div class="info-awards__item js-wow fadeInUpMy" data-wow-delay="1s"><div class="info-awards__item-content"><div class="info-awards__item-img-wrap"><img class="info-awards__item-img" src="./img/press/TechCrunch.svg" alt=""></div></div></div><div class="info-awards__item js-wow fadeInUpMy" data-wow-delay="1.2000000000000002s"><div class="info-awards__item-content"><div class="info-awards__item-img-wrap"><img class="info-awards__item-img" src="./img/press/WashingtonPost.svg" alt=""></div></div></div><div class="info-awards__item js-wow fadeInUpMy" data-wow-delay="1.4000000000000001s"><div class="info-awards__item-content"><div class="info-awards__item-img-wrap"><img class="info-awards__item-img" src="./img/press/google-developers.svg" alt=""></div></div></div><div class="info-awards__item js-wow fadeInUpMy" data-wow-delay="1.6s"><div class="info-awards__item-content"><div class="info-awards__item-img-wrap"><img class="info-awards__item-img" src="./img/press/ieee.svg" alt=""></div></div></div></div></div></div></div><div class="wedo-lets-do info-large-v-margin"><div class="page-wrap"><div class="wedo-lets-do__content"><h2>Lets do something cool together</h2><a class="wedo-lets-do__link" href="mailto:info@humbleteam.com?subject=Project request&amp;body=Hi Humbleteam,">info@humbleteam.com</a></div></div></div><br><div class="page-wrap"><div class="row index-portfolio__tiles-b"><a class="js-wow fadeInUpMy index-portfolio__tile" href="" data-wow-delay="0s"><img class="index-portfolio__tile-img" src="img/cases-new/google-bank/preview.jpg" srcset="img/cases-new/google-bank/preview@2x.jpg 2x" alt=""/><h6 class="h6-small brand-gray">Mobile application</h6><h5>Google bank concept &mdash; banking how it should look like</h5></a><a class="js-wow fadeInUpMy index-portfolio__tile" href="" data-wow-delay="0.2s"><img class="index-portfolio__tile-img" src="img/cases-new/expenses/preview.jpg" srcset="img/cases-new/expenses/preview@2x.jpg 2x" alt=""/><h6 class="h6-small brand-gray">Promo website</h6><h5>Boule &mdash; cryptocurrency exchange platform</h5></a></div></div><div class="info-large-v-margin" id="footer"><div class="footer-content"><div class="row"><div class="footer-logo-wrap"><a href="index.html"><img class="footer-logo" src="./img/logo-footer.svg" alt=""/></a></div><div class="footer-info-b"><a class="footer-text" href="mailto:info@humbleteam.com?subject=Project request&amp;body=Hi Humbleteam,">info@humbleteam.com</a><div class="footer-text">+420 776 828 895</div></div><div class="footer-info-b"><a class="footer-text" href="https://www.google.cz/maps/place/Rybn%C3%A1+716%2F24,+110+00+Praha+1-Star%C3%A9+M%C4%9Bsto/data=!4m2!3m1!1s0x470b94ea0da96c41:0xd926809755e5bf9a?sa=X&amp;ved=0ahUKEwiCkLCaxaDbAhUlCcAKHVulCtkQ8gEIKDAA" target="_blank">Czech Republic, Rybna 716/24<br>Prague Old Town</a></div><div class="footer__links-wrap"><a class="footer__link" href="https://dribbble.com/humble_team"><div class="footer__link__img-wrap"><img class="footer__link-img" src="img/icon/icon-dribble.svg" alt=""/><img class="footer__link-img-blue" src="img/icon/icon-dribble-blue.svg" alt=""/></div><div class="footer__link-text">Dribbble</div></a><a class="footer__link" href="https://www.behance.net/humbleteam"><div class="footer__link__img-wrap"><img class="footer__link-img" src="img/icon/icon-behance.svg" alt=""/><img class="footer__link-img-blue" src="img/icon/icon-behance-blue.svg" alt=""/></div><div class="footer__link-text">Behance</div></a><a class="footer__link" href="https://www.instagram.com/humbleteam.agency/"><div class="footer__link__img-wrap"><img class="footer__link-img" src="img/icon/icon-inst.svg" alt=""/><img class="footer__link-img-blue" src="img/icon/icon-inst-blue.svg" alt=""/></div><div class="footer__link-text">Instagram</div></a><a class="footer__link" href="https://vimeo.com/humbleteam"><div class="footer__link__img-wrap"><img class="footer__link-img" src="img/icon/icon-vimeo.svg" alt=""/><img class="footer__link-img-blue" src="img/icon/icon-vimeo-blue.svg" alt=""/></div><div class="footer__link-text">Vimeo</div></a><a class="footer__link" href="https://medium.com/@humbleteam"><div class="footer__link__img-wrap"><img class="footer__link-img" src="img/icon/icon-medium.svg" alt=""/><img class="footer__link-img-blue" src="img/icon/icon-medium-blue.svg" alt=""/></div><div class="footer__link-text">Medium</div></a></div></div></div></div></body></html>

src/pug/we-do-startups.pug
extends layout

include mixins/portfolio

block vars
    -
        var attributes = { 'class': 'we-do-page' }
        var page = 'startups'

block content
    .blog-post-promo.js-first-screen
        .blog-post-promo__text-wrap
            .blog-post-promo__left
                h6.h6-small Startups
                h1 We didn't start in&nbsp;a&nbsp;#[span.brand-primary garage,] but we can #[span.brand-primary relate] to&nbsp;that

            .blog-post-promo__right

        .blog-post-promo__img-wrap
            .blog-post-promo__left
            .blog-post-promo__right
                img(src='./img/what-we-do/start-up.png', srcset='./img/what-we-do/start-up@2x.png 2x', alt='').blog-post-promo__right__img

    .page-wrap
        .flex-wrapper.info-large-v-margin
            .left.hidden-md-down
                h6.h6-small.left-marker 01
                h6.h6-small Fundamental principles
            .content
                h2 We help deliver ideas quicker and with&nbsp;respect to&nbsp;end users needs
                p Startups are all about restrictions and challenges, and we have faced those conditions more than once or&nbsp;twice. Whether you're preparing for&nbsp;an investment pitch or&nbsp;iterating the existing product, we can support your team and provide the needed design assistance.

        .wedo-wide-img.info-large-v-margin
            img(src='./img/what-we-do/wedo-img-1.png', alt='').wedo-wide-img__img

        .flex-wrapper.wedo-after-img__blue-tile-wrap
            .left.hidden-md-down
            .content
                .wedo-after-img__blue-tile
                    .wedo-after-img__blue-tile__top
                        .header__links-lessons__text-1._white-lesson humbleteam.#[span how]

                    h5 We don't think we could achieve any conceivable results without sticking to&nbsp;the design process.
                    a(href='blog-design').xs.wedo-after-img__blue-tile__link Check how we do design

        .flex-wrapper.wedo-after-img
            .left.hidden-md-down

            .content._flex
                .wedo-after-img__left
                    p The capitalization of&nbsp;startups we worked with&nbsp;just exceed #[span._bold $72,000,000] And it's growing by&nbsp;the day.
                    .xs.brand-gray We did a lot of&nbsp;start ups 🤓. Actually, it's likely that we already have a half of&nbsp;your UX done

                .wedo-after-img__right
                    .wedo-after-img__right-text
                        p We do design and develop. Also we can take care of&nbsp;product management and planning.

                p.wedo-after-img__wide-text We could help you isolate the MVP and trim the budget by&nbsp;leaving the most core function of&nbsp;the product for&nbsp;the first release. Or&nbsp;go guns blazing and create a market heavyweight.

        .flex-wrapper.info-large-v-margin
            .left.hidden-md-down
                h6.h6-small.left-marker 05
                h6.h6-small Social proof
            .content
                h2 Our products were mentioned in&nbsp;some good medias from&nbsp;time to&nbsp;time

                .info-awards
                    each award, index in ['venturebeat', 'bloomberg', 'tnw', 'entrepreneur', 'business-insider', 'TechCrunch', 'WashingtonPost', 'google-developers', 'ieee']
                        .info-awards__item(data-wow-delay=`${index * effectDelay}s`, class=effectClass)
                            .info-awards__item-content
                                .info-awards__item-img-wrap
                                    if index === 4
                                        img(src=`./img/press/${award}.png`, srcset=`./img/press/${award}@2x.png 2x`, alt='').info-awards__item-img
                                    else
                                        img(src=`./img/press/${award}.svg`, alt='').info-awards__item-img

    .wedo-lets-do.info-large-v-margin
        .page-wrap
            +lets-do('info@humbleteam.com?subject=Project request&body=Hi Humbleteam,', '', '')

    -
        cases = [
            {
                link: '',
                preview_folder: 'google-bank',
                tag: 'Mobile application',
                title: 'Google bank concept &mdash; banking how it should look like'
            }, {
                link: '',
                preview_folder: 'expenses',
                tag: 'Promo website',
                title: 'Boule &mdash; cryptocurrency exchange platform'
            }
        ]

    br
    .page-wrap
        +portfolio(cases)
