src/pug/we-do-automotive.pug
extends layout

include mixins/portfolio

block vars
    -
        var attributes = { 'class': 'we-do-page' }
        var page = 'automotive'

block content
    .blog-post-promo.js-first-screen
        .blog-post-promo__text-wrap
            .blog-post-promo__left
                h6.h6-small Automotive
                h1 #[span.brand-primary Carefully] handling user's attention. Because #[span.brand-primary safety] is not boring.

            .blog-post-promo__right

        .blog-post-promo__img-wrap
            .blog-post-promo__left
            .blog-post-promo__right
                img(src='./img/what-we-do/automotive.png', srcset='./img/what-we-do/automotive@2x.png 2x', alt='').blog-post-promo__right__img

    //-
        .wedo-promo.js-first-screen
            .wedo-promo__content
                .wedo-promo__right
                    img(src='./img/what-we-do/automotive.png', srcset='./img/what-we-do/automotive@2x.png 2x', alt='').wedo-promo__right__img

                .wedo-promo__left
                    h6.h6-small Automotive
                    h1 #[span.brand-primary Carefully] handling user's attention. Because #[span.brand-primary safety] is not boring.

    .page-wrap
        .flex-wrapper.info-large-v-margin
            .left.hidden-md-down
                h6.h6-small.left-marker 01
                h6.h6-small Fundamental principles
            .content
                h2 We did usability tests with&nbsp;drivers, so we already know what works
                p And we don't waste time on&nbsp;something that doesn't. Knowledge is vital for&nbsp;automotive projects. Knowledge allows us to&nbsp;avoid mistakes that could result in&nbsp;safety threats for&nbsp;the future users of&nbsp;your products.
                p We've accumulated this knowledge in&nbsp;many ways: we've designed many application screens, we've driven many miles in&nbsp;various types of&nbsp;cars, we've explored users' behaviour inside and outside of&nbsp;the car. In other words, we know what to&nbsp;do.

        .flex-wrapper.info-large-v-margin
            .left.hidden-md-down
                h6.h6-small.left-marker 02
                h6.h6-small Safety first
            .content
                h2 We know and follow the U.S. and European automotive legislations
                p Knowledge is vital for&nbsp;automotive projects. Knowledge allows us to&nbsp;avoid mistakes that could result in&nbsp;safety threats for&nbsp;the future users of&nbsp;your products.

        //br
        //br
        //.row.row-wide__3-items
        //    - for&nbsp;(var x = 1; x <= 6; x++)
        //        .row-wide__3-items__item
        //            br

    .wedo-lets-do.info-large-v-margin
        .page-wrap
            .wedo-lets-do__content
                +lets-do('info@humbleteam.com?subject=Project request&body=Hi Humbleteam,', '', '')

    -
        cases = [
            {
                link: '',
                preview_folder: 'google-bank',
                tag: 'Mobile application',
                title: 'Google bank concept &mdash; banking how it should look like'
            }, {
                link: '',
                preview_folder: 'expenses',
                tag: 'Promo website',
                title: 'Boule &mdash; cryptocurrency exchange platform'
            }
        ]

    br
    .page-wrap
        +portfolio(cases)

build/we-do-automotive.html
<!DOCTYPE html><html class="we-do-page" lang="en"><head><title>Humbleteam — digital agency</title><meta charset="utf-8"/><meta name="description" content="Humbleteam — digital agency"/><meta name="author" content="Humbleteam"/><meta name="viewport" content="width=device-width, initial-scale=1,  maximum-scale=1"/><link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon.png"/><link rel="icon" type="image/png" sizes="32x32" href="img/favicons/favicon-32x32.png"/><link rel="icon" type="image/png" sizes="16x16" href="img/favicons/favicon-16x16.png"/><link rel="manifest" href="/manifest.json"/><meta property="og:title" content="Humbleteam — digital agency"/><meta property="og:description" content="We are humbleteam. We create digital products at&amp;nbsp;the intersection of&amp;nbsp;users and business needs."/><meta property="og:image:height" content="630"/><meta property="og:image:width" content="1200"/><meta property="og:image" content="https://humbleteam.com/img/open-graph/social-image.jpg"/><meta name="theme-color" content="#ffffff"/><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script><!--script(type='text/javascript', src='js/nbsp.js')--><script type="text/javascript" src="js/main.js"></script><script type="text/javascript" src="js/ga.js"></script><link rel="stylesheet" href="fonts/tttravel/stylesheet.css"/><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i"/><link rel="stylesheet" href="css/styles.css"/><script type="text/javascript" src="js/heap.js"></script></head><body><nav class="header" id="header"><div class="header__wrapper"><a href="index"><div class="header__logo"></div></a><div class="burger _mobile-burger"><img class="burger-img__dark" src="img/icon/burger_dark.svg" alt=""/><img class="burger-img__white" src="img/icon/burger_white.svg" alt=""/></div><div class="burger _desktop-burger"><img class="burger-img__dark" src="img/icon/burger_dark-desktop.svg" alt=""/><img class="burger-img__white" src="img/icon/burger_white-desktop.svg" alt=""/></div></div></nav><div class="burger-overlay"></div><div id="burger-content"><div class="header__wrapper"><img id="burger-close" src="./img/icon/close_dark-desktop.svg" alt=""/></div><div class="burger-content__wrapper"><nav><li class="burger-link-item"><div class="burger-link-index">01</div><a class="burger-link" href="index">Home</a></li><li class="burger-link-item"><div class="burger-link-index">02</div><a class="burger-link" href="cases">Portfolio</a><div class="burger-link__submenu"><a class="burger-link__submenu-item" href="short-portfolio">Quick sneak peeks</a></div></li><li class="burger-link-item"><div class="burger-link-index">03</div><a class="burger-link" href="info">What we do</a><div class="burger-link__submenu"><a class="burger-link__submenu-item" href="we-do-startups">Start ups</a><a class="burger-link__submenu-item" href="we-do-fintech">Fintech</a><a class="current burger-link__submenu-item" href="we-do-automotive">Automotive</a></div></li><li class="burger-link-item"><div class="burger-link-index">04</div><a class="burger-link" href="contacts">Contact us</a></li><li class="burger-link-item"><div class="burger-link-index">05</div><a class="burger-link" href="blog">Know hows</a></li></nav><div class="burger__socials"><a class="info-worldwide__link" href="https://dribbble.com/humble_team"><div class="info-worldwide__link__img-wrap"><img class="info-worldwide__link-img" src="img/icon/icon-dribble.svg" alt=""/><img class="info-worldwide__link-img-blue" src="img/icon/icon-dribble-blue.svg" alt=""/></div></a><a class="info-worldwide__link" href="https://www.instagram.com/humbleteam.agency/"><div class="info-worldwide__link__img-wrap"><img class="info-worldwide__link-img" src="img/icon/icon-inst.svg" alt=""/><img class="info-worldwide__link-img-blue" src="img/icon/icon-inst-blue.svg" alt=""/></div></a><a class="info-worldwide__link" href="https://www.behance.net/humbleteam"><div class="info-worldwide__link__img-wrap"><img class="info-worldwide__link-img" src="img/icon/icon-behance.svg" alt=""/><img class="info-worldwide__link-img-blue" src="img/icon/icon-behance-blue.svg" alt=""/></div></a><a class="s burger__socials__mail" href="mailto:info@humbleteam.com?subject=Project request&amp;body=Hi Humbleteam,">info@humbleteam.com</a></div></div></div><div id="img-popup"><img id="img-popup-close" src="./img/icon/close_black.svg" alt=""/><div class="img-popup__img-wrap js-img-popup-img-wrap"><img class="img-popup__img js-img-popup-img" alt=""/></div></div><div class="blog-post-promo js-first-screen"><div class="blog-post-promo__text-wrap"><div class="blog-post-promo__left"><h6 class="h6-small">Automotive</h6><h1><span class="brand-primary">Carefully</span> handling user's attention. Because <span class="brand-primary">safety</span> is not boring.</h1></div><div class="blog-post-promo__right"></div></div><div class="blog-post-promo__img-wrap"><div class="blog-post-promo__left"></div><div class="blog-post-promo__right"><img class="blog-post-promo__right__img" src="./img/what-we-do/automotive.png" srcset="./img/what-we-do/automotive@2x.png 2x" alt=""></div></div></div><div class="page-wrap"><div class="flex-wrapper info-large-v-margin"><div class="left hidden-md-down"><h6 class="h6-small left-marker">01</h6><h6 class="h6-small">Fundamental principles</h6></div><div class="content"><h2>We did usability tests with&nbsp;drivers, so we already know what works</h2><p>And we don't waste time on&nbsp;something that doesn't. Knowledge is vital for&nbsp;automotive projects. Knowledge allows us to&nbsp;avoid mistakes that could result in&nbsp;safety threats for&nbsp;the future users of&nbsp;your products.</p><p>We've accumulated this knowledge in&nbsp;many ways: we've designed many application screens, we've driven many miles in&nbsp;various types of&nbsp;cars, we've explored users' behaviour inside and outside of&nbsp;the car. In other words, we know what to&nbsp;do.</p></div></div><div class="flex-wrapper info-large-v-margin"><div class="left hidden-md-down"><h6 class="h6-small left-marker">02</h6><h6 class="h6-small">Safety first</h6></div><div class="content"><h2>We know and follow the U.S. and European automotive legislations</h2><p>Knowledge is vital for&nbsp;automotive projects. Knowledge allows us to&nbsp;avoid mistakes that could result in&nbsp;safety threats for&nbsp;the future users of&nbsp;your products.</p></div></div><!--br--><!--br--><!--.row.row-wide__3-items--><!--    - for&nbsp;(var x = 1; x <= 6; x++)--><!--        .row-wide__3-items__item--><!--            br--></div><div class="wedo-lets-do info-large-v-margin"><div class="page-wrap"><div class="wedo-lets-do__content"><div class="wedo-lets-do__content"><h2>Lets do something cool together</h2><a class="wedo-lets-do__link" href="mailto:info@humbleteam.com?subject=Project request&amp;body=Hi Humbleteam,">info@humbleteam.com</a></div></div></div></div><br><div class="page-wrap"><div class="row index-portfolio__tiles-b"><a class="js-wow fadeInUpMy index-portfolio__tile" href="" data-wow-delay="0s"><img class="index-portfolio__tile-img" src="img/cases-new/google-bank/preview.jpg" srcset="img/cases-new/google-bank/preview@2x.jpg 2x" alt=""/><h6 class="h6-small brand-gray">Mobile application</h6><h5>Google bank concept &mdash; banking how it should look like</h5></a><a class="js-wow fadeInUpMy index-portfolio__tile" href="" data-wow-delay="0.2s"><img class="index-portfolio__tile-img" src="img/cases-new/expenses/preview.jpg" srcset="img/cases-new/expenses/preview@2x.jpg 2x" alt=""/><h6 class="h6-small brand-gray">Promo website</h6><h5>Boule &mdash; cryptocurrency exchange platform</h5></a></div></div><div class="info-large-v-margin" id="footer"><div class="footer-content"><div class="row"><div class="footer-logo-wrap"><a href="index.html"><img class="footer-logo" src="./img/logo-footer.svg" alt=""/></a></div><div class="footer-info-b"><a class="footer-text" href="mailto:info@humbleteam.com?subject=Project request&amp;body=Hi Humbleteam,">info@humbleteam.com</a><div class="footer-text">+420 776 828 895</div></div><div class="footer-info-b"><a class="footer-text" href="https://www.google.cz/maps/place/Rybn%C3%A1+716%2F24,+110+00+Praha+1-Star%C3%A9+M%C4%9Bsto/data=!4m2!3m1!1s0x470b94ea0da96c41:0xd926809755e5bf9a?sa=X&amp;ved=0ahUKEwiCkLCaxaDbAhUlCcAKHVulCtkQ8gEIKDAA" target="_blank">Czech Republic, Rybna 716/24<br>Prague Old Town</a></div><div class="footer__links-wrap"><a class="footer__link" href="https://dribbble.com/humble_team"><div class="footer__link__img-wrap"><img class="footer__link-img" src="img/icon/icon-dribble.svg" alt=""/><img class="footer__link-img-blue" src="img/icon/icon-dribble-blue.svg" alt=""/></div><div class="footer__link-text">Dribbble</div></a><a class="footer__link" href="https://www.behance.net/humbleteam"><div class="footer__link__img-wrap"><img class="footer__link-img" src="img/icon/icon-behance.svg" alt=""/><img class="footer__link-img-blue" src="img/icon/icon-behance-blue.svg" alt=""/></div><div class="footer__link-text">Behance</div></a><a class="footer__link" href="https://www.instagram.com/humbleteam.agency/"><div class="footer__link__img-wrap"><img class="footer__link-img" src="img/icon/icon-inst.svg" alt=""/><img class="footer__link-img-blue" src="img/icon/icon-inst-blue.svg" alt=""/></div><div class="footer__link-text">Instagram</div></a><a class="footer__link" href="https://vimeo.com/humbleteam"><div class="footer__link__img-wrap"><img class="footer__link-img" src="img/icon/icon-vimeo.svg" alt=""/><img class="footer__link-img-blue" src="img/icon/icon-vimeo-blue.svg" alt=""/></div><div class="footer__link-text">Vimeo</div></a><a class="footer__link" href="https://medium.com/@humbleteam"><div class="footer__link__img-wrap"><img class="footer__link-img" src="img/icon/icon-medium.svg" alt=""/><img class="footer__link-img-blue" src="img/icon/icon-medium-blue.svg" alt=""/></div><div class="footer__link-text">Medium</div></a></div></div></div></div></body></html>
